<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/owl.carousel.min.css">
  <link rel="stylesheet" href="/owl.theme.default.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="/app.css">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
    integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>

  <title>3D Property Listing</title>
</head>

<body>
  <nav class="navbar navbar-expand-md sticky-top shadow py-0">
    <div class="container px-0">
      <a href="/" class="mr-4 p-4" style="background: #4632da; color: white; text-decoration: none;">Logo</a>
      <a class="nav-link d-none d-md-block" href="/listings">Properties</a>
      <a class="nav-link d-none d-md-block" href="/user">Find Agents</a>
      <a class="nav-link d-none d-md-block" href="#">About Us</a>
      <a class="nav-link d-none d-md-block" href="#">Connect</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto align-items-center d-flex">
          <% if(!currentUser){ %>
                <div class="d-md-none">
                  <li class="nav-item active">
                    <a class="nav-link" href="/listings">Properties</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/user">Find Agents</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#">About Us</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Connect</a>
                  </li>
                </div>
                <li class="nav-item active py-2">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/register">Register</a>
                </li>
            <% } else{ %>
              <div class="d-md-none">
                <li class="nav-item active">
                  <a class="nav-link" href="/listings">Properties</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/user">Find Agents</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Connect</a>
                </li>
              </div>
              <li class="nav-item active currentUserNav">
                <a class="nav-link p-1" href="/user/<%= currentUser.id %>">
                  <img src="<%= currentUser.image %>" style="width: 30px; border-radius: 50%;">
                  <span style="font-size: 0.9em;">
                    <%= currentUser.username %>
                  </span>
                </a>
              </li>
              <% if(currentUser && currentUser.isAdmin || currentUser && currentUser.isAgent ){ %>
                <li class="dropdown pl-2">
                  <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false" style="text-decoration: none;">
                    <img class="fa-plus" src="/img/add.png" style="width: 37px;">
                  </a>
                  <ul class="dropdown-menu" style="font-size: 0.95em; width: 250px;">
                    <li class="nav-item active">
                      <a class="nav-link" href="/listings/new">Add Listing</a>
                    </li>
                  </ul>
                </li>
              <% } %>
              <li class="dropdown pl-2">
                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false" style="text-decoration: none;">
                  <i class="fas fa-user-alt"></i>
                </a>
                <ul class="dropdown-menu" style="font-size: 0.95em; width: 205px;">
                  <% if(currentUser && currentUser.isAdmin){ %>
                    <li class="nav-item active">
                      <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                  <% } %>
                  <li class="nav-item active">
                    <a class="nav-link" href="/user/<%= currentUser.id %>">Profile</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/user/<%= currentUser.id %>/edit">Edit Profile</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/user/<%= currentUser.id %>/manage">Manage Account</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item active">
                <a class="nav-link py-0" href="http://localhost:3001/messenger/<%= currentUser.id %>">
                  <i class="fas fa-comment-alt"></i>
                </a>
              </li>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">
                  <img class="fa-bell" src="/img/notification.png" style="width: 37px;">
                </a>
                <ul class="dropdown-menu p-3 dropdown-menu dropdown-menu-right" style="width: 350px;">
                  <% if(notifications==0){ %>
                    <li>
                      <p style="font-weight: 500; font-size: 0.85em;" class="m-0">No Notifications</p>
                    </li>
                    <% } else { %>
                      <p style="font-weight: 500; font-size: 0.9em;">Notifications</p>
                      <% notifications.forEach(function(notification) { %>
                        <hr class="py-0">
                        <li>
                          <div class="row align-items-center d-flex">
                            <div class="col-3">
                              <img src="<%= notification.image %>" style="width: 60px; border-radius: 50%;">
                            </div>
                            <div class="col-9">
                              <a href="/notifications/<%= notification.id %>">
                                <span style="font-size: 0.9em;">
                                  <%= notification.username %> created a new listing
                                </span>
                              </a>
                              <em style="font-size: 0.80em;">
                                <%= moment(notification.createdAt).fromNow() %>
                              </em>
                            </div>
                          </div>
                        </li>
                        <% }); %>
                          <% } %>
                </ul>
              </li>
              <li class="nav-item active">
                <a class="nav-link pl-2 py-0" href="/logout">
                  <i class="fas fa-sign-out-alt"></i>
                </a>
              </li>
            <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container flashMessage">
    <% if(error && error.length> 0){ %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <% } %>
        <% if(success && success.length> 0){ %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <% } %>
  </div>

  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 2000);
  </script>