<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/owl.carousel.min.css">
  <link rel="stylesheet" href="/owl.theme.default.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="https://zeus3d.sg/wp-content/uploads/2021/06/ZEUS-3d-Fav-16x16-1.png">
  <link rel="apple-touch-icon" href="https://zeus3d.sg/wp-content/uploads/2021/06/ZEUS-3d-Fav-16x16-1.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://zeus3d.sg/wp-content/uploads/2021/06/ZEUS-3d-Fav-76x76-1.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://zeus3d.sg/wp-content/uploads/2021/06/ZEUS-3d-Fav-120x120-1.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://zeus3d.sg/wp-content/uploads/2021/06/ZEUS-3d-Fav-156x156-1.png">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="/app.css">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
    integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
  <meta property="og:url" content="https://www.your-domain.com/your-page.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Your Website Title" />
  <meta property="og:description" content="Your description" />
  <meta property="og:image" content="https://www.your-domain.com/path/image.jpg" />

  <title>Zeus 3D Singapore</title>
</head>

<body>
  <div class="loader" id="mainLoader"></div>
  <nav class="navbar navbar-expand-lg sticky-top py-0" style="border-bottom: solid gray 1px; z-index:94;">
    <div class="container px-0">
      <a href="/" class="mr-4 py-3" style="text-decoration: none;" id="nav-logo">
        ZEUS 3D
      </a>
      <a class="nav-link d-none d-lg-block pr-2" href="/listings">Properties</a>
      <a class="nav-link d-none d-lg-block pr-2" href="/user">Find Agents</a>
      <a class="nav-link d-none d-lg-block pr-2" href="/service">Services</a>
      <a class="nav-link d-none d-lg-block pr-2" href="/connect">Connect</a>

      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto d-flex align-items-start">
          <% if(!currentUser){ %>
                <div class="d-lg-none" style="padding-bottom: 20px;">
                  <li class="nav-item active">
                    <a class="nav-link" href="/listings">Properties</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/user">Find Agents</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/service">Services</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/connect">Connect</a>
                  </li>
                  <div class="dropdown-divider"></div>
                  <li class="nav-item active">
                    <a class="nav-link" href="/login" style="color: #000; font-weight: 800;">Sign In</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/register" style="color: #000; font-weight: 800;">Sign Up For Free</a>
                  </li>
                </div>

                <div class="d-flex align-items-center">
                  <li class="nav-item active px-2 hide-nav" >
                    <a class="nav-link py-1" href="/login" style="color: #000; font-weight: 800;">Sign In</a>
                  </li>
                  <li class="nav-item active px-2 ml-2" style="background:#003580;" id="loginRegisterNav">
                    <a class="nav-link py-1" href="/register"  style="color: white; font-weight: 500;">Sign Up For Free</a>
                  </li>
                </div>
            <% } else { %>
              <div class="d-lg-none">
                <li class="nav-item active">
                  <a class="nav-link" href="/listings">Properties</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/user">Find Agents</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/service">Services</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/connect">Connect</a>
                </li>
              </div>
              <li class="nav-item active currentUserNav">
                <a class="nav-link p-1" href="/user/<%= currentUser.id %>">
                  <img src="<%= currentUser.image %>" style="width: 30px; height:30px; object-fit: cover; border-radius: 50%;">
                  <span style="font-size: 0.9em;">
                    <%= currentUser.username %>
                  </span>
                </a>
              </li>
              <% if(currentUser.isAdmin==false && currentUser.isAgent==false){ %>
              <% } else { %>
                <li class="dropdown pl-2">
                  <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false" style="text-decoration: none;">
                    <ion-icon class="iconHeader" name="add-outline"></ion-icon>
                  </a>
                  <ul class="dropdown-menu" style="font-size: 0.95em; width: 250px;">
                    <% if(currentUser && currentUser.isAdmin || currentUser && currentUser.isAgent){ %>
                      <li class="nav-item active">
                        <a class="nav-link" href="/listings/new">Add Listing</a>
                      </li>
                    <% } %>
                  </ul>
                </li>
              <% } %>
              <li class="dropdown pl-2">
                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false" style="text-decoration: none;">
                  <ion-icon class="iconHeader" name="person-outline"></ion-icon>
                </a>
                <ul class="dropdown-menu" style="font-size: 0.95em; width: 205px;">
                  <% if(currentUser && currentUser.isAdmin){ %>
                    <li class="nav-item active">
                      <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                  <% } %>
                  <li class="nav-item active">
                    <a class="nav-link" href="/user/<%= currentUser.id %>">Profile</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/user/<%= currentUser.id %>/edit">Edit Profile</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/user/<%= currentUser.id %>/manage">Manage Account</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item active">
                <a class="nav-link py-0" href="/chat/messenger/<%= currentUser.id %>">
                  <ion-icon class="iconHeader" name="chatbox-outline"></ion-icon>
                </a>
              </li>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="mr-1">
                  <ion-icon class="iconHeader" name="notifications-outline"></ion-icon>
                  <% if(notifications.length<1){ %>
                  <% } else { %>
                    <span class="text-center" style="font-size: 0.75em; position: absolute; right: 0.5px; top: 0px; border-radius: 50%; width: 15px; background: #4632DA; text-decoration: none; color: white;">
                      <%= notifications.length %>
                    </span>
                  <% } %>
                </a>
                <ul class="dropdown-menu p-3 dropdown-menu dropdown-menu-right" style="width: 350px; height: 370px; overflow-y: auto;">
                  <% if(notifications==0){ %>
                    <li class="mb-2">
                      <p style="font-weight: 500; font-size: 0.85em;" class="m-0">Notifications</p>
                    </li>
                    <span class="pt-3 pb-1" style="font-size: 0.85em; color: gray;">
                      <em>No notifications yet.</em>
                    </span>
                    <% } else { %>
                      <p style="font-weight: 500; font-size: 0.9em;">Notifications</p>
                      <% notifications.forEach(function(notification) { %>
                        <hr class="py-0 my-2">
                        <li>
                          <div class="row align-items-center d-flex">
                            <div class="col-3">
                              <img src="<%= notification.image %>" style="width: 60px; height: 60px; border-radius: 50%; object-fit: cover!important;">
                            </div>
                            <div class="col-9">
                              <a href="/notifications/<%= notification.id %>">
                                <span style="font-size: 0.9em;">
                                  <%= notification.username %> created a new listing
                                </span>
                              </a>
                              <em style="font-size: 0.80em;">
                                <%= moment(notification.createdAt).fromNow() %>
                              </em>
                            </div>
                          </div>
                        </li>
                        <% }); %>
                          <% } %>
                </ul>
              </li>
              <li class="nav-item active">
                <a class="nav-link pl-1 py-0" href="/logout">
                  <ion-icon class="iconHeader" name="log-out-outline"></ion-icon>
                </a>
              </li>
            <% } %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="fixed-top text-center py-2" style="background: #003580; color: white; font-size: 0.9em; top:75px; z-index: 93;">
    Exceptional Properties. Exceptional Clients.
  </div>

  <div class="container flashMessage" style="margin-top: 20px;">
    <% if(error && error.length> 0){ %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <% } %>
        <% if(success && success.length> 0){ %>
          <div class="alert alert-info  alert-dismissible fade show" role="alert">
            <%= success %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <% } %>
  </div>

  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 2000);
  </script>
