<%- include("../../partials/header") %>
<% 
  console.log("ejs current page number: " + current)
  console.log("ejs total pages: " + pages)
%>

<div class="container d-lg-none p-5" style="margin-top: 50px;">
  <div class="row py-5 px-3" style="background: #f3f3f3;">
    <div class="col-12">
      Dashboard can only be accessed on screensize with a minimum resolution of 992px X 307px.
    </div>
  </div>
</div>

<div style="overflow-x: hidden; margin-top: 45px;" class="mb-4 d-none d-lg-block">
  <div class="row">
    <div class="col-3">
      <div class="navigation sticky-top">
        <ul>
          <li class="list navigationHover">
            <a href="/dashboard">
              <span class="icon activeText">
                <ion-icon name="layers-outline"></ion-icon>
              </span>
              <span class="title activeText">Overview</span>
            </a>
          </li>
          <li class="list active">
            <a href="/dashboard/accounts">
              <span class="icon">
                <ion-icon name="people-outline"></ion-icon>
              </span>
              <span class="title">Accounts</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/listings">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Listings</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/comments">
              <span class="icon">
                <ion-icon name="chatbubbles-outline"></ion-icon>
              </span>
              <span class="title">Comments</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/reviews">
              <span class="icon">
                <ion-icon name="star-outline"></ion-icon>
              </span>
              <span class="title">Reviews</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-9">
      <div class="row mr-5">
        <div class="col-12 mb-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-1">
              <li class="breadcrumb-item"><a href="/listings">Home</a></li>
              <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">Accounts</li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="row mr-5 text-right px-2">
        <div class="col-12">
          <% if(noMatch !== undefined){ %>
            <form action="/dashboard/accounts" method="GET">
              <div class="row">
                <div class="col-5">
                  <div class="input-group mb-3 dashboardSearch">
                    <input type="text" class="form-control rounded-0" name="search" placeholder="Search users">
                  </div>
                </div>
                <div class="col-7 pl-0">
                  <div class="row">
                    <div class="col-5 px-0">
                      <!-- sort input -->
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" style="background: white; border: none; font-size: 1em;" for="sort">Sort by:</label>
                        </div>
                        <select class="custom-select" name="sort" id="sort">
                          <option value="" disabled selected hidden></option>
                          <option value="HighestRating" <% if(data.sort == 'HighestRating') {%> selected <%} %>>Highest Rating</option>
                          <option value="LowestRating" <% if(data.sort == 'LowestRating') {%> selected <%} %>>Lowest Rating</option>
                          <option value="Recent" <% if(data.sort == 'Recent') {%> selected <%} %>>Recent</option>
                          <option value="Oldest" <% if(data.sort == 'Oldest') {%> selected <%} %>>Oldest</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-5 px-0">
                        <!-- filter input -->
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <label class="input-group-text" style="background: white; border: none; font-size: 1em;" for="filterAccType">Filter by:</label>
                          </div>
                          <select class="custom-select" name="filterAccType" id="filterAccType">
                            <option value="" disabled selected hidden></option>
                            <option value="Admin" <% if(data.filterAccType == 'Admin') {%> selected <%} %>>Admin</option>
                            <option value="Agent" <% if(data.filterAccType == 'Agent') {%> selected <%} %>>Agent</option>
                            <option value="Seeker" <% if(data.filterAccType == 'Seeker') {%> selected <%} %>>Seeker</option>
                            <option value="All" <% if(data.filterAccType == 'All') {%> selected <%} %>>All</option>
                          </select>
                        </div>
                    </div>
                    <div class="col-2">
                      <button type="submit" class="btn btn-dark rounded-0" style="width: 100%;">
                        <ion-icon name="search"></ion-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          <% } %>
        </div>
      </div>

      <div class="row accountTableHeading mr-5 px-4 mt-0">
        <div class="col-12">
          <p style="font-weight: 500; font-size: 1.1em;" class="mb-0">Users</p>
        </div>
        <div class="col-12 text-right pt-0" style="font-size: 0.88em;">
          <em>
            <% if(users.length==0){ %>
              Result: 0—0
            <% } else { %>
              Result: <%= (Number(current)*8)-7 %>—<%= users.length+(Number(current)-1)*8 %>
            <% } %>
          </em>
        </div>
        <table class="table table-sortable">
          <thead>
            <tr>
              <th style="pointer-events: none;">
                User
              </th>
              <th><i class="fas fa-sort"></i> Username</th>
              <th><i class="fas fa-sort"></i> Email</th>
              <th><i class="fas fa-sort"></i> Phone</th>
              <th><i class="fas fa-sort"></i> Role</th>
              <th style="pointer-events: none!important;">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if(users.length==0){ %>
              <tr>
                <% if(noMatch !== undefined){ %>
                  <td><em><%= noMatch %></em></td>
                <% } else { %>
                  <td><em>No users yet.</em></td>
                <% } %>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            <% } %>
            <% users.forEach(function(user){ %>
              <tr onclick="window.location='/user/<%= user._id %>';">
                <td><img src="<%= user.image %>" alt="" style="border-radius: 50%; width: 50px; height:50px; object-fit: cover;"></td>
                <td class="pt-4" style="min-width: 100px!important;"><%= user.username %></td>
                <td class="pt-4" style="min-width: 180px!important;">
                  <a href="mailto:<%= user.email %>" style="color: black; font-size: 0.9em;">
                    <%= user.email %>
                  </a>
                </td>
                <td class="pt-4"><%= user.phone %></td>
                <td class="pt-4" style="min-width: 150px!important;">
                  <% if(user.isAdmin==true){ %>
                    <span class="badge badge-admin">Admin</span>
                  <% } else if(user.isAgent==true) { %>
                    <span class="badge badge-warning">Agent</span>
                  <% } else { %>
                    <span class="badge badge-info">Seeker</span>
                  <% } %>
                  <% if(user.isAgent==true && user.agentStatus==false){ %>
                    <span class="badge badge-danger">Pending</span>
                  <% } else if(user.isAgent==true && user.agentStatus==true){ %>
                    <span class="badge badge-success">Verified</span>
                  <% } else { %>
                  <% } %>
                </td>
                <td class="justify-content-start d-flex pt-2">
                  <a href="/user/<%= user._id %>" class="btn dashboardManageBtn" style="border-radius: 0%!important;">
                    <ion-icon name="eye-outline" class="showBtn"></ion-icon>
                  </a>
                  <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <a class="btn dashboardManageBtn" style="border-radius: 0%!important;" href="/user/<%= user._id %>/edit">
                      <ion-icon name="create-outline" class="editBtn"></ion-icon>
                    </a>
                    <form action="/user/<%= user._id %>/dashboard?_method=DELETE" method="POST">
                      <button class="btn dashboardManageBtn">
                        <ion-icon name="trash-outline" class="trashBtn"></ion-icon>
                      </button>
                    </form>
                  <% } %>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

      <div class="row text-center pr-5">
        <div class="col-12 justify-content-center d-flex pr-5">
          <% if (pages && pages > 0) { %>
            <ul class="pagination text-center">
              <% if (current == 1) { %>
                <li class="disabled"><a class="border px-3 py-2">First</a></li>
              <% } else { %>
                <li><a class="border px-3 py-2" href="/dashboard/accounts?page=<%= 1 %><%if(search){%>&search=<%=search%><%}%><%if(sort){%>&sort=<%=sort%><%}%><%if(filterAccType){%>&filterAccType=<%=filterAccType%><%}%>">First</a></li>
              <% } %>
          
              <% if (current == 1) { %>
                <li class="disabled"><a class="border px-3 py-2">«</a></li>
              <% } else { %>
                <li><a class="border px-3 py-2" href="/dashboard/accounts?page=<%= Number(current) - 1 %><%if(search){%>&search=<%=search%><%}%><%if(sort){%>&sort=<%=sort%><%}%><%if(filterAccType){%>&filterAccType=<%=filterAccType%><%}%>">«</a></li>
              <% } %>
          
              <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
              <% if (i !== 1) { %>
                <li class="disabled"><a class="border px-3 py-2">...</a></li>
              <% } %>
              <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                  <li class="active"><a class="border px-3 py-2"><%= i %></a></li>
                <% } else { %>
                  <li><a class="border px-3 py-2" href="/dashboard/accounts?page=<%= i %><%if(search){%>&search=<%=search%><%}%><%if(sort){%>&sort=<%=sort%><%}%><%if(filterAccType){%>&filterAccType=<%=filterAccType%><%}%>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                  <li class="disabled"><a class="border px-3 py-2">...</a></li>
                <% } %>
              <% } %>
          
              <% if (current == pages) { %>
                <li class="disabled"><a class="border px-3 py-2">»</a></li>
              <% } else { %>
                <li><a class="border px-3 py-2" href="/dashboard/accounts?page=<%= Number(current) + 1 %><%if(search){%>&search=<%=search%><%}%><%if(sort){%>&sort=<%=sort%><%}%><%if(filterAccType){%>&filterAccType=<%=filterAccType%><%}%>">»</a></li>
              <% } %>
          
              <% if (current == pages) { %>
                <li class="disabled"><a class="border px-3 py-2">Last</a></li>
              <% } else { %>
                <li><a class="border px-3 py-2" href="/dashboard/accounts?page=<%= pages %><%if(search){%>&search=<%=search%><%}%><%if(sort){%>&sort=<%=sort%><%}%><%if(filterAccType){%>&filterAccType=<%=filterAccType%><%}%>">Last</a></li>
              <% } %>
            </ul>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/javascripts/owl.carousel.min.js"></script>
<script src="/javascripts/jquer.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
<script>
  $(window).on('load', function(){
    $(".loader").fadeOut(1000);
});
</script>
<script>
  function sortTableByColumn(table, column, asc = true) {
      const dirModifier = asc ? 1 : -1;
      const tBody = table.tBodies[0];
      const rows = Array.from(tBody.querySelectorAll("tr"));

      // Sort each row
      const sortedRows = rows.sort((a, b) => {
          const aColText = a.querySelector(`td:nth-child(${ column + 1 })`).textContent.trim();
          const bColText = b.querySelector(`td:nth-child(${ column + 1 })`).textContent.trim();

          return aColText > bColText ? (1 * dirModifier) : (-1 * dirModifier);
      });

      // Remove all existing TRs from the table
      while (tBody.firstChild) {
          tBody.removeChild(tBody.firstChild);
      }

      // Re-add the newly sorted rows
      tBody.append(...sortedRows);

      // Remember how the column is currently sorted
      table.querySelectorAll("th").forEach(th => th.classList.remove("th-sort-asc", "th-sort-desc"));
      table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-asc", asc);
      table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-desc", !asc);
  }

  document.querySelectorAll(".table-sortable th").forEach(headerCell => {
      headerCell.addEventListener("click", () => {
          const tableElement = headerCell.parentElement.parentElement.parentElement;
          const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);
          const currentIsAscending = headerCell.classList.contains("th-sort-asc");

          sortTableByColumn(tableElement, headerIndex, !currentIsAscending);
      });
  });
</script>
<script>
  AOS.init();
</script>
</body>

</html>