<%- include("../partials/header") %>

<div class="container d-lg-none p-5" style="margin-top: 50px;">
  <div class="row p-5" style="background: #f3f3f3;">
    <div class="col-12">
      Dashboard can only be accessed on screensize with a minimum resolution of 992px x 307px.
    </div>
  </div>
</div>

<div style="overflow-x: hidden; margin-top: 45px;" class="mb-4 d-none d-lg-block">
  <div class="row">
    <div class="col-3">
      <div class="navigation sticky-top">
        <ul>
          <li class="list active">
            <a href="/dashboard">
              <span class="icon activeText">
                <ion-icon name="layers-outline"></ion-icon>
              </span>
              <span class="title activeText">Overview</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/accounts">
              <span class="icon">
                <ion-icon name="people-outline"></ion-icon>
              </span>
              <span class="title">Accounts</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/listings">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Listings</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/comments">
              <span class="icon">
                <ion-icon name="chatbubbles-outline"></ion-icon>
              </span>
              <span class="title">Comments</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/reviews">
              <span class="icon">
                <ion-icon name="star-outline"></ion-icon>
              </span>
              <span class="title">Reviews</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-9">
      <div class="row mr-5">
        <div class="col-12 mb-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-1">
              <li class="breadcrumb-item"><a href="/listings">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard</a></li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row mr-5">
        <div class="col-12">
          <p class="mb-0 pt-2" style="font-weight: 550; font-size: 1.2em;">Statistics</p>
        </div>
        <div class="col-2 d-none d-md-inline">
          <div style="padding-top: 22px; font-size: 0.95em;">Accounts</div>
          <div style="padding-top: 19px; font-size: 0.95em;">Listings</div>
          <div style="padding-top: 19px; font-size: 0.95em;">Comments</div>
          <div style="padding-top: 19px; font-size: 0.95em;">Reviews</div>
        </div>
        <div class="col-12 col-md-10">
          <span class="d-md-none" style="font-size: 0.95em;">Accounts</span>
          <div class="progress mt-1 mb-2 my-md-4" style="height: 15px;">
            <div class="progress-bar bg-danger" role="progressbar" style="width: <%= users.length/(users.length + listings.length + comments.length + reviews.length)*100 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <%= (users.length/(users.length + listings.length + comments.length + reviews.length)*100).toFixed(2) %>%
            </div>
          </div>
          <span class="d-md-none" style="font-size: 0.95em;">Listings</span>
          <div class="progress mt-1 mb-2 my-md-4" style="height: 15px;">
            <div class="progress-bar bg-warning" role="progressbar" style="width: <%= listings.length/(users.length + listings.length + comments.length + reviews.length)*100 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <%= (listings.length/(users.length + listings.length + comments.length + reviews.length)*100).toFixed(2) %>%
            </div>
          </div>
          <span class="d-md-none" style="font-size: 0.95em;">Comments</span>
          <div class="progress mt-1 mb-2 my-md-4" style="height: 15px;">
            <div class="progress-bar bg-info" role="progressbar" style="width: <%= comments.length/(users.length + listings.length + comments.length + reviews.length)*100 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <%= (comments.length/(users.length + listings.length + comments.length + reviews.length)*100).toFixed(2) %>%
            </div>      
          </div>
          <span class="d-md-none" style="font-size: 0.95em;">Reviews</span>
          <div class="progress mt-1 mb-2 my-md-4" style="height: 15px;">
            <div class="progress-bar bg-dark" role="progressbar" style="width: <%= reviews.length/(users.length + listings.length + comments.length + reviews.length)*100 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <%= (reviews.length/(users.length + listings.length + comments.length + reviews.length)*100).toFixed(2) %>%
            </div>
          </div>
        </div>
      </div>

      <div class="row mr-5">
        <div class="col-12 col-lg-4 pt-4">
          <div class="dashboardOverview">
            <span style="font-weight: 550; font-size: 1.2em;">Overview</span>
            <a href="/dashboard/accounts">
              <div class="justify-content-between align-items-center px-3 d-flex mt-4 mb-3">
                <span>Accounts</span>
                <span class="badge badge-danger align-items-center justify-content-center d-flex"><%= users.length %></span>
              </div>
            </a>
            <a href="/dashboard/listings">
              <div class="justify-content-between align-items-center px-3 d-flex mb-3">
                <span>Listings</span>
                <span class="badge badge-warning align-items-center justify-content-center d-flex"><%= listings.length %></span>
              </div>
            </a>
            <a href="/dashboard/comments">
              <div class="justify-content-between align-items-center px-3 d-flex mb-3">
                <span>Comments</span>
                <span class="badge badge-info align-items-center justify-content-center d-flex"><%= comments.length %></span>
              </div>
            </a>
            <a href="/dashboard/reviews">
              <div class="justify-content-between align-items-center px-3 d-flex mb-3">
                <span>Review</span>
                <span class="badge badge-dark align-items-center justify-content-center d-flex"><%= reviews.length %></span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-8 d-none d-md-block">
            <canvas id="myChart"></canvas>
            <div class="live-counter text-center">
              <a style="font-size: 0.95em; font-weight: 650;">Total visitors:</a>
              <a id="liveCount"></a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/viewGraph.js"></script>
<script>
  const list = document.querySelectorAll('.list');
  function activeLink(){
    list.forEach((item) =>
      item.classList.remove('active'));
      this.classList.add('active');
    }
    list.forEach((item) => 
    item.addEventListener('click', activeLink));
</script>
<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/javascripts/owl.carousel.min.js"></script>
<script src="/javascripts/jquer.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
<script>
  $(window).on('load', function(){
    $(".loader").fadeOut(1000);
});
</script>
<script>
  function sortTableByColumn(table, column, asc = true) {
      const dirModifier = asc ? 1 : -1;
      const tBody = table.tBodies[0];
      const rows = Array.from(tBody.querySelectorAll("tr"));

      // Sort each row
      const sortedRows = rows.sort((a, b) => {
          const aColText = a.querySelector(`td:nth-child(${ column + 1 })`).textContent.trim();
          const bColText = b.querySelector(`td:nth-child(${ column + 1 })`).textContent.trim();

          return aColText > bColText ? (1 * dirModifier) : (-1 * dirModifier);
      });

      // Remove all existing TRs from the table
      while (tBody.firstChild) {
          tBody.removeChild(tBody.firstChild);
      }

      // Re-add the newly sorted rows
      tBody.append(...sortedRows);

      // Remember how the column is currently sorted
      table.querySelectorAll("th").forEach(th => th.classList.remove("th-sort-asc", "th-sort-desc"));
      table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-asc", asc);
      table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-desc", !asc);
  }

  document.querySelectorAll(".table-sortable th").forEach(headerCell => {
      headerCell.addEventListener("click", () => {
          const tableElement = headerCell.parentElement.parentElement.parentElement;
          const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);
          const currentIsAscending = headerCell.classList.contains("th-sort-asc");

          sortTableByColumn(tableElement, headerIndex, !currentIsAscending);
      });
  });
</script>
<script>
  AOS.init();
</script>
</body>

</html>