<%- include("../partials/header") %>

  <h1>Edit Comment</h1>

  <div class="d-flex justify-content-center">
    <form action="/listings/<%= listing_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
      <div class="form-groups">
        <input class="form-control my-2" type="text" name="comment[text]" value="<%= comment.text %>" placeholder="text"
          style="width: 350px;">
        <button class="btn btn-info form-control">submit</button>
      </div>
    </form>

  </div>
  <div class="text-center">
    <a href="/listings">Go Back</a>
  </div>

  <%- include("../partials/footer") %>