<%- include("../../partials/header") %>
<% 
  console.log("sort total pages: " + sort)
%>

<div class="container d-lg-none p-5" style="margin-top: 50px;">
  <div class="row p-5" style="background: #f3f3f3;">
    <div class="col-12">
      Dashboard can only be accessed on screensize with a minimum resolution of 992px x 307px.
    </div>
  </div>
</div>

<div style="overflow-x: hidden; margin-top: 45px;" class="mb-4 d-none d-lg-block">
  <div class="row">
    <div class="col-3">
      <div class="navigation sticky-top">
        <ul>
          <li class="list navigationHover">
            <a href="/dashboard">
              <span class="icon activeText">
                <ion-icon name="layers-outline"></ion-icon>
              </span>
              <span class="title activeText">Overview</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/accounts">
              <span class="icon">
                <ion-icon name="people-outline"></ion-icon>
              </span>
              <span class="title">Accounts</span>
            </a>
          </li>
          <li class="list active">
            <a href="/dashboard/listings">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Listings</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/comments">
              <span class="icon">
                <ion-icon name="chatbubbles-outline"></ion-icon>
              </span>
              <span class="title">Comments</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/reviews">
              <span class="icon">
                <ion-icon name="star-outline"></ion-icon>
              </span>
              <span class="title">Reviews</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-9">
      <div class="row mr-5">
        <div class="col-12 mb-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-1">
              <li class="breadcrumb-item"><a href="/listings">Home</a></li>
              <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">Listings</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row accountTableHeading mr-5 px-4">
        <div class="col-12 px-0">
          <div class="justify-content-between d-flex flex-column">
            <div class="col-12 p-0">
              <% if(noMatch !== undefined){ %>
                <form action="/dashboard/listings" method="GET">
                  <div class="row">
                    <div class="col-5">
                      <div class="input-group mb-3 dashboardSearch">
                        <input type="text" class="form-control rounded-0" name="search" placeholder="Search listings">
                      </div>
                    </div>
                    <div class="col-7 pl-0">
                      <div class="row">
                        <div class="col-5 px-0">
                          <!-- sort input -->
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <label class="input-group-text" style="background: white; border: none; font-size: 1em;" for="sort">Sort by:</label>
                            </div>
                            <select class="custom-select" name="sort" id="sort">
                              <option value="" disabled selected hidden></option>
                              <option value="HighestPrice" <% if(data.sort == 'HighestPrice') {%> selected <%} %>>Highest Price</option>
                              <option value="LowestPrice" <% if(data.sort == 'LowestPrice') {%> selected <%} %>>Lowest Price</option>
                              <option value="Recent" <% if(data.sort == 'Recent') {%> selected <%} %>>Recent</option>
                              <option value="Oldest" <% if(data.sort == 'Oldest') {%> selected <%} %>>Oldest</option>
                              <option value="MostPop" <% if(data.sort == 'MostPop') {%> selected <%} %>>Most Popular</option>
                              <option value="LeastPop" <% if(data.sort == 'LeastPop') {%> selected <%} %>>Least Popular</option>
                              <option value="Sold" <% if(data.sort == 'Sold') {%> selected <%} %>>Sold</option>
                              <option value="NotSold" <% if(data.sort == 'NotSold') {%> selected <%} %>>Not Sold</option>
                              <option value="Archive" <% if(data.sort == 'Archive') {%> selected <%} %>>Archive</option>
                              <option value="NotArchive" <% if(data.sort == 'NotArchive') {%> selected <%} %>>Not Archive</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-5 px-0">
                            <!-- filter input -->
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <label class="input-group-text" style="background: white; border: none; font-size: 1em;" for="filterAccType">Filter by:</label>
                              </div>
                              <select class="custom-select" name="filterPropType" id="filterPropType">
                                <option value="" disabled selected hidden></option>
                                <option value="sold" <% if(data.filterPropType == 'sold') {%> selected <%} %>>Sold Listing</option>
                                <option value="archive" <% if(data.filterPropType == 'archive') {%> selected <%} %>>Archived Listing</option>
                                <option value="hdb" <% if(data.filterPropType == 'hdb') {%> selected <%} %>>HDB</option>
                                <option value="condo" <% if(data.filterPropType == 'condo') {%> selected <%} %>>Condo</option>
                                <option value="landed" <% if(data.filterPropType == 'landed') {%> selected <%} %>>Landed</option>
                                <option value="all" <% if(data.filterPropType == 'all') {%> selected <%} %>>All Listing</option>
                              </select>
                            </div>
                        </div>
                        <div class="col-2">
                          <button type="submit" class="btn btn-dark rounded-0" style="width: 100%;">
                            <ion-icon name="search"></ion-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>

               
              <% } %>
            </div>
            <div class="col-12">
              <p class="m-0" style="font-weight: 500; font-size: 1.1em;">Listings</p>
            </div>
          </div>
        </div>
        <div class="col-12 text-right" style="font-size: 0.88em;">
          <em>
            <% if(listings.length==0){ %>
              Result: 0—0
            <% } else { %>
              Result: <%= (Number(current)*8)-7%>—<%= listings.length+(Number(current)-1)*8 %>
            <% } %>
          </em>
        </div>
        <table class="table table-sortable">
          <thead>
            <tr>
              <th style="pointer-events: none;">
                User
              </th>
              <th><i class="fas fa-sort"></i> Listing Name</th>
              <th><i class="fas fa-sort"></i> Zone</th>
              <th><i class="fas fa-sort"></i> Type</th>
              <th><i class="fas fa-sort"></i> Status</th>
              <th style="pointer-events: none;">Analytics</th>
              <th style="pointer-events: none!important;">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if(listings.length==0){ %>
              <tr>
                <% if(noMatch !== undefined){ %>
                  <td><em><%= noMatch %></em></td>
                <% } else { %>
                  <td><em>No users yet.</em></td>
                <% } %>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            <% } %>
            <% var idArr = []; listings.forEach(function(listing) { var id = listing._id; idArr.push(id);%>
              <tr>
                <td onclick="window.location='/listings/<%= listing._id %>';">
                  <a href="/listings/<%= listing._id %>">
                    <img src="<%= listing.thumbnail %>" alt="" style="border-radius: 10px; width: 50px; height:50px; object-fit: cover;">
                  </a>
                </td>
                <td class="pt-4" onclick="window.location='/listings/<%= listing._id %>';">
                  <a href="/listings/<%= listing._id %>" style="text-decoration: none; color: black; font-size: 0.95em;">
                    <% if(listing.name.length<14){ %>
                      <%= listing.name.substring(0, 14) %>
                    <% } else { %>
                      <%= listing.name.substring(0, 14) + " ..." %>
                    <% } %>
                  </a>
                </td>
                <td class="pt-4" onclick="window.location='/listings/<%= listing._id %>';">
                  <span><%= listing.district %></span>
                </td>
                <td class="pt-4" onclick="window.location='/listings/<%= listing._id %>';">
                  <span><%= listing.type %></span>
                </td>
                <td class="pt-4" onclick="window.location='/listings/<%= listing._id %>';">
                  <% if(listing.archiveStatus==true){ %>
                    <span class="badge badge-archive">Archived</span>
                  <% } else if(listing.soldStatus==true) { %>
                    <span class="badge badge-danger">Sold</span>
                  <% } else { %>
                    <span class="badge badge-success">Available</span>
                  <% } %>
                </td>
                <td class="pt-4">
                  <a href="" data-toggle="modal" data-target="#analyticTarget<%= id %>" style="color: black;">
                    <div class="col-12 mt-1 px-0">
                      <ion-icon name="trending-up-outline"></ion-icon>
                      <span class="pl-1" style="font-size: 1em; color: black">View Analytics</span>
                    </div>
                  </a>
                  <!-- Analytic Modal -->
                  <div class="modal fade" id="analyticTarget<%= id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                  aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="justify-content-between align-items-center d-flex border-bottom">
                          <div class="py-4"></div>
                          <div>
                            <p class="modal-title pl-5" id="exampleModalLongTitle">Listing Insights</p>
                          </div>
                          <div>
                            <button type="button" class="close mr-3" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                        </div>
                        <div class="modal-body" style="height: 240px!important;">
                          <div class="row">
                            <div class="col-12 pb-3" style="border-bottom: 1px lightgray solid;">
                              <a href="/listings/<%= listing._id %>" style="text-decoration: none; color: black; font-size: 0.95em;">
                                <div class="row">
                                  <div class="col-2">
                                    <img src="<%= listing.thumbnail %>" style="background-size: cover; width: 55px; height:55px; object-fit: cover; background-position: center center; border-radius: 10px;">
                                  </div>
                                  <div class="col-10">
                                    <div class="row">
                                      <div class="col-12" style="font-weight: 600;">
                                        <% if(listing.name.length<40){ %>
                                          <%= listing.name.substring(0, 40) %>
                                            <% } else { %>
                                              <%= listing.name.substring(0, 40) + " ..." %>
                                                <% } %>
                                      </div>
                                      <div class="col-12 pt-1">
                                        <span style="color: rgb(145, 145, 145);">
                                          <%= " - Listed on " + moment(listing.createdAt).format('MMM DD, YYYY') %>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </a>
                            </div>
                            <div class="col-12 pt-3">
                              <p style="font-weight:600; font-size: 0.85em;">Overall Insights</p>
                              <div class="loader" id="loader-<%=id%>"></div>
                              <a id="<%=id%>"></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="justify-content-start d-flex pt-2">
                  <a href="/listings/<%= listing._id %>" class="btn dashboardManageBtn" style="border-radius: 0%!important;">
                    <ion-icon name="eye-outline" class="showBtn"></ion-icon>
                  </a>
                  <a class="btn dashboardManageBtn" style="border-radius: 0%!important;" href="/listings/<%= listing._id %>/edit">
                    <ion-icon name="create-outline" class="editBtn"></ion-icon>
                  </a>
                  <form action="/listings/<%= listing._id %>/dashboard?_method=DELETE" method="POST">
                    <button class="btn dashboardManageBtn">
                      <ion-icon name="trash-outline" class="trashBtn"></ion-icon>
                    </button>
                  </form>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

      <div class="row text-center pr-5">
        <div class="col-12 justify-content-center d-flex pr-5">
          <% if (pages && pages > 0) { %>
            <ul class="pagination text-center">
              <% if (current == 1) { %>
                <li class="disabled"><a class="border px-3 py-2">First</a></li>
              <% } else { %>
                <li><a class="border px-3 py-2" href="/dashboard/listings<%if(search){%>?search=<%=search%><%}%><%if(sort){%>&sort=<%=sort%><%}%><%if(filterPropType){%>&filterPropType=<%=filterPropType%><%}%>">First</a></li>
              <% } %>
          
              <% if (current == 1) { %>
                <li class="disabled"><a class="border px-3 py-2">«</a></li>
              <% } else { %>
                <li><a class="border px-3 py-2" href="/dashboard/listings?page=<%= Number(current) - 1 %><%if(search){%>&search=<%=search%><%}%><%if(sort){%>&sort=<%=sort%><%}%><%if(filterPropType){%>&filterPropType=<%=filterPropType%><%}%>">«</a></li>
              <% } %>
          
              <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
              <% if (i !== 1) { %>
                <li class="disabled"><a class="border px-3 py-2">...</a></li>
              <% } %>
              <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                  <li class="active"><a class="border px-3 py-2"><%= i %></a></li>
                <% } else { %>
                  <li><a class="border px-3 py-2" href="/dashboard/listings?page=<%= i %><%if(search){%>&search=<%=search%><%}%><%if(sort){%>&sort=<%=sort%><%}%><%if(filterPropType){%>&filterPropType=<%=filterPropType%><%}%>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                  <li class="disabled"><a class="border px-3 py-2">...</a></li>
                <% } %>
              <% } %>
          
              <% if (current == pages) { %>
                <li class="disabled"><a class="border px-3 py-2">»</a></li>
              <% } else { %>
                <li><a class="border px-3 py-2" href="/dashboard/listings?page=<%= Number(current) + 1 %><%if(search){%>&search=<%=search%><%}%><%if(sort){%>&sort=<%=sort%><%}%><%if(filterPropType){%>&filterPropType=<%=filterPropType%><%}%>">»</a></li>
              <% } %>
          
              <% if (current == pages) { %>
                <li class="disabled"><a class="border px-3 py-2">Last</a></li>
              <% } else { %>
                <li><a class="border px-3 py-2" href="/dashboard/listings?page=<%= pages %><%if(search){%>&search=<%=search%><%}%><%if(sort){%>&sort=<%=sort%><%}%><%if(filterPropType){%>&filterPropType=<%=filterPropType%><%}%>">Last</a></li>
              <% } %>
            </ul>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/clickRate.js"></script>
<% if(currentUser){ %>
  <% idArr.forEach((id, index)=> { %>
    <script>getClickRate("<%=id%>")</script>
  <% }); %>
<% } else{ %>
<% } %>

<script>
    function openSold() {
      document.getElementById("dropdownSold-content").classList.toggle("showOptions");
    }
    function openPType() {
      document.getElementById("dropdownPType-content").classList.toggle("showOptions");
    }
</script>
<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/javascripts/owl.carousel.min.js"></script>
<script src="/javascripts/jquer.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
<script>
  $(window).on('load', function(){
    $(".loader").fadeOut(1000);
});
</script>
<script>
  function sortTableByColumn(table, column, asc = true) {
      const dirModifier = asc ? 1 : -1;
      const tBody = table.tBodies[0];
      const rows = Array.from(tBody.querySelectorAll("tr"));

      // Sort each row
      const sortedRows = rows.sort((a, b) => {
          const aColText = a.querySelector(`td:nth-child(${ column + 1 })`).textContent.trim();
          const bColText = b.querySelector(`td:nth-child(${ column + 1 })`).textContent.trim();

          return aColText > bColText ? (1 * dirModifier) : (-1 * dirModifier);
      });

      // Remove all existing TRs from the table
      while (tBody.firstChild) {
          tBody.removeChild(tBody.firstChild);
      }

      // Re-add the newly sorted rows
      tBody.append(...sortedRows);

      // Remember how the column is currently sorted
      table.querySelectorAll("th").forEach(th => th.classList.remove("th-sort-asc", "th-sort-desc"));
      table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-asc", asc);
      table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-desc", !asc);
  }

  document.querySelectorAll(".table-sortable th").forEach(headerCell => {
      headerCell.addEventListener("click", () => {
          const tableElement = headerCell.parentElement.parentElement.parentElement;
          const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);
          const currentIsAscending = headerCell.classList.contains("th-sort-asc");

          sortTableByColumn(tableElement, headerIndex, !currentIsAscending);
      });
  });
</script>
<script>
  AOS.init();
</script>
</body>

</html>
