<%- include("../../partials/header") %>

<script src="/javascripts/clickRate.js"></script>

<div style="overflow-x: hidden;">
  <div class="row">
    <div class="col-3">
      <div class="navigation sticky-top">
        <ul>
          <li class="list navigationHover">
            <a href="/dashboard">
              <span class="icon activeText">
                <ion-icon name="layers-outline"></ion-icon>
              </span>
              <span class="title activeText">Overview</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/accounts">
              <span class="icon">
                <ion-icon name="people-outline"></ion-icon>
              </span>
              <span class="title">Accounts</span>
            </a>
          </li>
          <li class="list active">
            <a href="/dashboard/listings">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Listings</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/comments">
              <span class="icon">
                <ion-icon name="chatbubbles-outline"></ion-icon>
              </span>
              <span class="title">Comments</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/reviews">
              <span class="icon">
                <ion-icon name="star-outline"></ion-icon>
              </span>
              <span class="title">Reviews</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-9 p-0">


  <%
    var idArr = [];
    listings.forEach(function(listing){ 
      var id = listing._id
      idArr.push(id);
  %>
    <br><a>============================================</a><br>
    <a>id: <%= id%></a>
    <br>
    <br>
    <p>
      name:<%= listing.name%>
    </p><br><br>
    <div class="loader" id="loader-<%=id%>"></div>
    <a id="<%=id%>"></a><br><br>
    <p>
      <em>Submitted by: <a href="/user/<%= listing.author.id %>"><%= listing.author.username %></a>, <%= moment(listing.createdAt).fromNow() %></em>
    </p>
    <% if(currentUser && listing.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
      <a class="btn btn-warning" href="/listings/<%= listing._id %>/edit">Edit</a>
      <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger">DELETE</button>
      </form>
      <% } %>
        <a href="/listings/<%= listing._id %>" class="btn btn-primary">View Listing</a>

        <br>
        <span class="badge label-primary">
          <i class="fas fa-thumbs-up"></i>
          <%= listing.likes.length %>
        </span><br>
        <span>
          <%= moment(listing.createdAt).format('LLLL'); %>
        </span>
        <br>
      <% }); %>
    </div>
  </div>
</div>

<% idArr.forEach((id, index)=> { %>
  <script>getClickRate("<%=id%>")</script>
<% }); %>



<%- include("../../partials/footer") %>