<%- include("../partials/header") %>

    <!-- price range slider -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!-- price range slider -->

    <!--Map-->
    <div id="map" style="width: 100%; height: 600px;"></div>
    <div class="container" style="margin-top: -25px;">
        <form action="/listings" method="GET" class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" name="search" placeholder="listing search...">
                <input type="submit" value="Search" class="btn btn-info">
            </div>
        </form>
    </div>

    <!-- No Match -->
    <div class="container">
        <% if(noMatch !== undefined){ %>
            <form action="/listings" method="GET" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" name="search" placeholder="listing search...">
                    <input type="submit" value="Search" class="btn btn-info">
                </div>
            </form>
            <h3><%= noMatch %></h3>
        <% } %>

        <% if(currentUser && currentUser.isAdmin || currentUser && currentUser.isAgent && currentUser.agentStatus){ %>
            <a href="/listings/new">Add New listing</a>
            <!-- Trigger/Open The Modal -->
            <button id="upldListBtn">Upload Listing</button>
            <% } %>

            <!-- The Modal -->
            <div id="upldForm" class="upldForm">
                <!-- Modal content -->
                <div class="upldForm-content">
                    <!-- header -->
                    <div class="upldForm-header">
                        <span class="closeUpldForm">&times;</span>
                        <h7>Header lmao</h7>
                        <div class="row">
                            <!-- 1st slide: drag and drop thumbnail-->
                            <div class="column">
                                <!-- <span class="upldForm-Num" onclick="currentSlide(1)">&#9312;</span> -->
                                <button type="button" onclick="currentSlide(1)">1 dragdrop thumbnail</button>
                            </div>
                            <!-- 2nd slide: thumbnail preview -->
                            <div class="column">
                                <!-- <span class="upldForm-Num" onclick="currentSlide(2)">&#9313;</span> -->
                                <button id="upldForm-Btn2" type="button" onclick="currentSlide(2)" disabled>2 thumbnail</button>
                            </div>
                            <!-- 3rd slide: drag and drop listing files -->
                            <div class="column">
                                <!-- <span class="upldForm-Num" onclick="currentSlide(2)">&#9313;</span> -->
                                <button type="button" onclick="currentSlide(3)">3 dragdrop</button>
                            </div>
                            <!-- 4th slide: listing image/video preview -->
                            <div class="column">
                                <!-- <span class="upldForm-Num" onclick="currentSlide(2)">&#9313;</span> -->
                                <button id="upldForm-Btn4" type="button" onclick="currentSlide(4)" disabled>4 gallery</button>
                            </div>
                            <!-- 5th slide: form input -->
                            <div class="column">
                                <!-- <span class="upldForm-Num" onclick="currentSlide(2)">&#9313;</span> -->
                                <button type="button" onclick="currentSlide(5)">5 form</button>
                            </div>
                        </div>
                    </div>
                    <!-- body -->
                    <div class="upldForm-body">
                        <form action="/listings" method="POST" enctype="multipart/form-data">
                        <!-- 1st slide: drag and drop upload thumbnail file -->
                        <div class="upldForm-slides">
                            <div id="thumbnail-drop-area">
                                <p style="margin-top: 0;">Drag and drop thumbnail image</p>
                                <label class="fileBtn" for="thumbnailFile">Select thumbnail image</label>
                                <input name="listingThumbnail" type="file" style="visibility:hidden;" id="thumbnailFile" accept="image/*" onchange="handleThumbnailFile()">
                            </div>
                        </div>
                        <!-- 2nd slide: previewing provided thumbnail -->
                        <div class="upldForm-slides">
                            <div id="thumbnail-gallery"></div>
                        </div>
                        <!-- 3rd slide: drag and drop upload listing files -->
                        <div class="upldForm-slides">
                            <div id="drop-area">
                                <p style="margin-top: 0;">Drag and drop images/videos</p>
                                <label class="fileBtn" for="galleryFileArray">Select some files</label>
                                <input name="listingGallery" type="file" style="visibility:hidden;" id="galleryFileArray" multiple onchange="handleGalleryFiles()" required>
                            </div>
                        </div>
                        <!-- 4th slide: previewing provided files for image/video -->
                        <div class="upldForm-slides">
                            <div id="image-gallery"></div>
                            <div id="video-gallery"></div>
                        </div>
                        <!-- 5th slide: listing information -->
                        <div class="upldForm-slides">
                                <input type="text" name="name" placeholder="name">
                                <!-- <input type="text" name="image" placeholder="image url"> -->
                                <input type="text" name="description" placeholder="Description">
                                <input type="text" name="zone" placeholder="District">
                                <input type="text" name="location" placeholder="Location">
                                <input type="number" name="price" placeholder="Price">
                                <input type="number" name="size" placeholder="Size">
                                <input type="text" name="type" placeholder="Property Type">
                                <input type="number" name="bedrooms" placeholder="Number of bed rooms">
                                <input type="number" name="bathrooms" placeholder="Number of bath rooms">
                        </div>
                        <!-- submit form -->
                        <input type="submit" value="Submit">
                        </form>
                    </div>
                    <!-- footer  -->
                    <div class="upldForm-footer">
                        <h8>Feet</h8>
                    </div>
                </div>
            </div>

            

            <div class="d-flex justify-content-around">
                <div class="col-sm-4">
                    <div class="form-card">
                        <div class="form-card-container">
                            <form action="/listings" method="GET" id="filterForm">
                                <p>Filter</p><br>

                                <!-- 1st Filter: Property Type-->
                                <!-- <label for="type">Choose Property Type:</label>
                                <select name="type" id="type">
                                    <option value="" disabled selected hidden>Property Type</option>
                                    <option value="HDB">HDB</option>
                                    <option value="Condo">Condo</option>
                                    <option value="Landed">Landed</option>
                                </select> -->
                                <label for="propertyType">Choose a property type:</label><br>
                                <input type="checkbox" id="hdb" name="hdbType" value="hdb" <% if(data.hdbType) {%> checked <%} %>>
                                <label for="hdb">HDB</label><br>
                                <input type="checkbox" id="condo" name="condoType" value="condo"<% if(data.condoType) {%> checked <%} %>> 
                                <label for="condo">Condo</label><br>
                                <input type="checkbox" id="landed" name="landedType" value="landed" <% if(data.landedType) {%> checked <%} %>>
                                <label for="landed">Landed</label><br>

                                <!-- 2nd Filter: Property Zone -->
                                <br><label for="propertyStatus">Choose a Zone:</label><br>
                                <input type="checkbox" id="north" name="northZone" value="north" <% if(data.northZone) {%> checked <%} %>>
                                <label for="north">North</label><br>
                                <input type="checkbox" id="south" name="southZone" value="south" <% if(data.southZone) {%> checked <%} %>>
                                <label for="south">South</label><br>
                                <input type="checkbox" id="east" name="eastZone" value="east" <% if(data.eastZone) {%> checked <%} %>>
                                <label for="east">East</label><br>
                                <input type="checkbox" id="west" name="westZone" value="west" <% if(data.westZone) {%> checked <%} %>>
                                <label for="west">West</label><br>

                                <!-- 6th filter: Number of rooms slider -->
                                <!-- <label for="numofRooms">Number of Rooms:</label>
                                <select name="numofRooms" id="numofRooms">
                                    <option value="" disabled selected hidden>Rooms</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select> -->
                                <br><label for="numofRooms">Number of rooms:</label><br>
                                <input type="checkbox" id="1" name="onerooms" value="1" <% if(data.onerooms) {%> checked <%} %>>
                                <label for="1">1</label><br>
                                <input type="checkbox" id="2" name="tworooms" value="2" <% if(data.tworooms) {%> checked <%} %>>
                                <label for="2">2</label><br>
                                <input type="checkbox" id="3" name="threerooms" value="3" <% if(data.threerooms) {%> checked <%} %>>
                                <label for="3">3</label><br>
                                <input type="checkbox" id="4" name="fourrooms" value="4" <% if(data.fourrooms) {%> checked <%} %>>
                                <label for="4">4</label><br>
                                <input type="checkbox" id="5" name="fiverooms" value="5" <% if(data.fiverooms) {%> checked <%} %>>
                                <label for="5">5</label><br>
                                <input type="checkbox" id="6" name="sixrooms" value="6" <% if(data.sixrooms) {%> checked <%} %>>
                                <label for="6">6</label><br>

                                <br><label for="numofRooms">Number of bath rooms:</label><br>
                                <input type="checkbox" id="1bath" name="onebathrooms" value="1" <% if(data.onebathrooms) {%> checked <%} %>>
                                <label for="1bath">1</label><br>
                                <input type="checkbox" id="2bath" name="twobathrooms" value="2" <% if(data.twobathrooms) {%> checked <%} %>>
                                <label for="2bath">2</label><br>
                                <input type="checkbox" id="3bath" name="threebathrooms" value="3" <% if(data.threebathrooms) {%> checked <%} %>>
                                <label for="3bath">3</label><br>

                                <!-- 3rd Filter: Price Slider -->
                                <div class="price-slider">
                                    <span>Price: 
                                        <input type="number" value="0" min="0" max="<%= largestPrice %>" name="minPrice" /> to
                                        <input type="number" value="<%= largestPrice %>" min="0" max="<%= largestPrice %>" name="maxPrice" />
                                    </span>
                                    <input type="range" value="0" min="0" max="<%= largestPrice %>" step="500" />
                                    <input type="range" value="<%= largestPrice %>" min="0" max="<%= largestPrice %>" step="500" />
                                    <svg width="100%" height="24">
                                        <!-- <line x1="4" y1="0" x2="300" y2="0" stroke="#212121" stroke-width="12"
                                            stroke-dasharray="1 28">
                                        </line> -->
                                    </svg>
                                </div>

                                <!-- 4th Filter: Size Slider -->
                                <div class="size-slider">
                                    <span>Size: 
                                        <input type="number" value="0" min="0" max="<%= largestSize %>" name="minSize" /> to
                                        <input type="number" value="<%= largestSize %>" min="0" max="<%= largestSize %>" name="maxSize" />
                                    </span>
                                    <input type="range" value="0" min="0" max="<%= largestSize %>" step="500" />
                                    <input type="range" value="<%= largestSize %>" min="0" max="<%= largestSize %>" step="500" />
                                    <svg width="100%" height="24">
                                        <!-- <line x1="4" y1="0" x2="300" y2="0" stroke="#212121" stroke-width="12"
                                            stroke-dasharray="1 28">
                                        </line> -->
                                    </svg>
                                </div>

                                <!-- 5th filter: Sort by highest or lowest price -->
                                <label for="sortPrice">Sort by:</label>
                                <select name="sortPrice" id="sortPrice">
                                    <option value="" disabled selected hidden>Price</option>
                                    <option value="HighestPrice" <% if(data.sortPrice == 'HighestPrice') {%> selected <%} %>>Highest Price</option>
                                    <option value="LowestPrice" <% if(data.sortPrice == 'LowestPrice') {%> selected <%} %>>Lowest Price</option>
                                </select>

                                <!-- 7th filter: Sort by recent/oldest -->
                                <br><label for="sortDate">Sort by:</label>
                                <select name="sortDate" id="sortDate">
                                    <option value="" disabled selected hidden>Date</option>
                                    <option value="Recent" <% if(data.sortDate == 'Recent') {%> selected <%} %>>Recent</option>
                                    <option value="Oldest" <% if(data.sortDate == 'Oldest') {%> selected <%} %>>Oldest</option>
                                </select>

                                <!-- 9th filter: for admin/agent to view sold/archived listing -->
                                <% if(currentUser && currentUser.isAdmin || currentUser && currentUser.isAgent && currentUser.agentStatus){ %>
                                    <!-- sold -->
                                    <br><label for="soldStatusCheck">Sold: </label><br>
                                    <input type="checkbox" id="sold" name="soldCheck" value="sold" <% if(data.soldCheck) {%> checked <%} %>>
                                    <label for="sold">Sold Listing</label><br>
                                    <input type="checkbox" id="archive" name="archiveCheck" value="archive" <% if(data.archiveCheck) {%> checked <%} %>>
                                    <label for="archive">Archive listing</label><br>
                                    
                                    <!-- sort by sold/not sold -->
                                    <br><label for="sortSold">Sort by:</label>
                                    <select name="sortSold" id="sortSold">
                                        <option value="" disabled selected hidden>selling availability</option>
                                        <option value="Sold" <% if(data.sortSold == 'Sold') {%> selected <%} %>>Sold</option>
                                        <option value="NotSold" <% if(data.sortSold == 'NotSold') {%> selected <%} %>>Not Sold</option>
                                    </select>
                                    <!-- sort by archive/not archive -->
                                    <br><label for="sortArchive">Sort by:</label>
                                    <select name="sortArchive" id="sortArchive">
                                        <option value="" disabled selected hidden>archive availability</option>
                                        <option value="NotArchive" <% if(data.sortArchive == 'NotArchive') {%> selected <%} %>>Not Archive</option>
                                    </select>
                                <% } %>

                                <!-- 8th filter: reset form inputs -->
                                <br><input type="button" onclick="resetForm()" value="Reset" >

                                <!-- Apply filters/submit button -->
                                <br><input type="submit" value="Apply" name="Apply" id="applyFilter">
                                
                            </form>
                        </div>
                    </div>
                </div>
            
            <div class="col-sm-8">
                <div class="all-listing-card">
                    <div class="all-listing-card-container">
                    <p style="color: red;">Different categories (latest/...)</p>
                        <% listings.forEach(function(listing){ %>
                            <a href="/listings/<%= listing._id %>" style="text-decoration: none; color:black;">
                                <div class="indiv-card">
                                    <div class="indiv-card-container">
                                        <div>
                                            <h5><% if(listing.soldStatus == true) {%>SOLD<%} else {%>Available to buy<%} %></h5>
                                            <h6><% if(listing.archiveStatus == true) {%>ARCHIVED<%} else {%>Available to public<%} %></h6>
                                            <h4><%= listing.name %></h4><br>
                                            <img src="<%= listing.thumbnail %>" style="width:30%; height:30%;"><br>
                                            <div>
                                                <span class="badge label-primary">
                                                    <i class="fas fa-thumbs-up"></i>
                                                    <%= listing.likes.length %>
                                                </span><br>
                                                <span>
                                                    <%= moment(listing.createdAt).format('LLLL'); %>
                                                </span>
                                                <p>$<%= listing.price %></p>
                                                <p style="text-transform:capitalize;">Zone: <%= listing.zone %></p>
                                                <p style="text-transform:capitalize;">Type: <%= listing.type %></p>
                                                <p style="text-transform:capitalize;">Size: <%= listing.size %></p>
                                                <p style="text-transform:capitalize;">Number of rooms: <%= listing.bedrooms %></p>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </a>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
        const listings = { features: <%- JSON.stringify(listings) %> }
    </script>
    <script src="/javascripts/clusterMap.js"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script>
            (function () {

                var parent = document.querySelector(".price-slider");
                if (!parent) return;

                var
                    rangeS = parent.querySelectorAll("input[type=range]"),
                    numberS = parent.querySelectorAll("input[type=number]");

                rangeS.forEach(function (el) {
                    el.oninput = function () {
                        var slide1 = parseFloat(rangeS[0].value),
                            slide2 = parseFloat(rangeS[1].value);

                        if (slide1 > slide2) {
                            [slide1, slide2] = [slide2, slide1];
                        }

                        numberS[0].value = slide1;
                        numberS[1].value = slide2;
                    }
                });

                numberS.forEach(function (el) {
                    el.oninput = function () {
                        var number1 = parseFloat(numberS[0].value),
                            number2 = parseFloat(numberS[1].value);

                        if (number1 > number2) {
                            var tmp = number1;
                            numberS[0].value = number2;
                            numberS[1].value = tmp;
                        }

                        rangeS[0].value = number1;
                        rangeS[1].value = number2;

                    }
                });

            })();
    </script>
    <script>
        (function () {

            var parent = document.querySelector(".size-slider");
            if (!parent) return;

            var
                rangeS = parent.querySelectorAll("input[type=range]"),
                numberS = parent.querySelectorAll("input[type=number]");

            rangeS.forEach(function (el) {
                el.oninput = function () {
                    var slide1 = parseFloat(rangeS[0].value),
                        slide2 = parseFloat(rangeS[1].value);

                    if (slide1 > slide2) {
                        [slide1, slide2] = [slide2, slide1];
                    }

                    numberS[0].value = slide1;
                    numberS[1].value = slide2;
                }
            });

            numberS.forEach(function (el) {
                el.oninput = function () {
                    var number1 = parseFloat(numberS[0].value),
                        number2 = parseFloat(numberS[1].value);

                    if (number1 > number2) {
                        var tmp = number1;
                        numberS[0].value = number2;
                        numberS[1].value = tmp;
                    }

                    rangeS[0].value = number1;
                    rangeS[1].value = number2;

                }
            });

        })();
    </script>
    <!-- <script>
        (function () {

            var parent = document.querySelector(".numofRooms-slider");
            if (!parent) return;

            var
                rangeS = parent.querySelectorAll("input[type=range]"),
                numberS = parent.querySelectorAll("input[type=number]");

            rangeS.forEach(function (el) {
                el.oninput = function () {
                    var slide1 = parseFloat(rangeS[0].value);

                    numberS[0].value = slide1;
                }
            });

            numberS.forEach(function (el) {
                el.oninput = function () {
                    var number1 = parseFloat(numberS[0].value);

                    rangeS[0].value = number1;

                }
            });

        })();
    </script> -->
    <script>
        function upperCaseFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }
    </script>
    <script>                               
        function resetForm() {
            //document.getElementById("formFilter").resetForm()
            //property type
            document.getElementById("hdb").checked=false;
            document.getElementById("condo").checked=false;
            document.getElementById("landed").checked=false;
            //zone type
            document.getElementById("north").checked=false;
            document.getElementById("south").checked=false;
            document.getElementById("east").checked=false;
            document.getElementById("west").checked=false;
            //rooms
            document.getElementById("1").checked=false;
            document.getElementById("2").checked=false;
            document.getElementById("3").checked=false;
            document.getElementById("4").checked=false;
            document.getElementById("5").checked=false;
            document.getElementById("6").checked=false;
            //sort by price
            document.getElementById("sortPrice").value="";
            //sort by date
            document.getElementById("sortDate").value="";
            //sold/archive
            document.getElementById("sold").checked=false;
            document.getElementById("notsold").checked=false;
            document.getElementById("archive").checked=false;
            document.getElementById("notarchive").checked=false;
            //sort by price
            document.getElementById("sortSold").value="";
            //sort by date
            document.getElementById("sortArchive").value="";
        }                
    </script>
    <script>
        // Get the modal
        var upldForm = document.getElementById("upldForm");

        // Get the button that opens the modal
        var upldListBtn = document.getElementById("upldListBtn");

        // Get the <span> element that closes the modal
        var closeUpldForm = document.getElementsByClassName("closeUpldForm")[0];

        // When the user clicks on the button, open the modal
        upldListBtn.onclick = function() {
            upldForm.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        closeUpldForm.onclick = function() {
            upldForm.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
        if (event.target == upldForm) {
            upldForm.style.display = "none";
        }
        }
    </script>
    <script>
        var upldFormSlideIndex = 1;
        showUpldFormSlides(upldFormSlideIndex);

        // Thumbnail image controls
        function currentSlide(n) {
            showUpldFormSlides(upldFormSlideIndex = n);
        }

        function showUpldFormSlides(n) {
        var i;
        var upldFormSlides = document.getElementsByClassName("upldForm-slides");
        if (n > upldFormSlides.length) {upldFormSlideIndex = 1}
        if (n < 1) {upldFormSlideIndex = upldFormSlides.length}
        for (i = 0; i < upldFormSlides.length; i++) {
            upldFormSlides[i].style.display = "none";
        }
        upldFormSlides[upldFormSlideIndex-1].style.display = "block";
        }
    </script>
    <script>
        let thumbnailDropArea = document.getElementById("thumbnail-drop-area");
        // Prevent default drag behaviors
        ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            thumbnailDropArea.addEventListener(eventName, preventDefaults, false)   
            document.body.addEventListener(eventName, preventDefaults, false)
        });
        // Highlight drop area when item is dragged over it
        ['dragenter', 'dragover'].forEach(eventName => {
            thumbnailDropArea.addEventListener(eventName, highlight, false)
        });
        ['dragleave', 'drop'].forEach(eventName => {
            thumbnailDropArea.addEventListener(eventName, unhighlight, false)
        });
        // Handle dropped file
        thumbnailDropArea.addEventListener('drop', handleDrop, false);

        function preventDefaults (e) {
            e.preventDefault()
            e.stopPropagation()
        }

        function highlight(e) {
            thumbnailDropArea.classList.add('highlight')
        }
    
        function unhighlight(e) {
            thumbnailDropArea.classList.remove('active')
        }
    
        function handleDrop(e) {
            var dt = e.dataTransfer
            var file = dt.files[0]
            previewThumbnail(file);
        }
    
        function handleThumbnailFile() {
            var file = document.getElementById("thumbnailFile").files[0];
            console.log('inside thumb: ',file)
            previewThumbnail(file);
        }

        function previewThumbnail(file) {
            if(!file) {
                console.log('no file');
            }
            var reader = new FileReader();
            reader.readAsDataURL(file); 
            reader.onloadend = function() {
                console.log('given thumbnail file: ',file);
                var img = document.createElement('img');
                img.src = reader.result;
                img.classList.add("thumbnail-gallery-style");
                var thumbnailGallery = document.getElementById('thumbnail-gallery')
                if(thumbnailGallery.childNodes[0]) {
                    thumbnailGallery.removeChild(thumbnailGallery.childNodes[0]);
                }
                thumbnailGallery.appendChild(img);
            }
            currentSlide(2);
            document.getElementById("upldForm-Btn2").disabled=false;
        }
    </script>
    <script>
        let dropArea = document.getElementById("drop-area");
    
        // Prevent default drag behaviors
        ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
          dropArea.addEventListener(eventName, preventDefaults, false)   
          document.body.addEventListener(eventName, preventDefaults, false)
        });
    
        // Highlight drop area when item is dragged over it
        ['dragenter', 'dragover'].forEach(eventName => {
          dropArea.addEventListener(eventName, highlight, false)
        });
        ['dragleave', 'drop'].forEach(eventName => {
          dropArea.addEventListener(eventName, unhighlight, false)
        });
    
        // Handle dropped files
        dropArea.addEventListener('drop', handleDrop, false);
    
        function preventDefaults (e) {
          e.preventDefault()
          e.stopPropagation()
        }
    
        function highlight(e) {
          dropArea.classList.add('highlight')
        }
    
        function unhighlight(e) {
          dropArea.classList.remove('active')
        }
    
        function handleDrop(e) {
            var dt = e.dataTransfer
            var files = dt.files
            console.log('the files: ',files);
            previewGallery(files);
        }

        function handleGalleryFiles() {
            var files = document.getElementById("galleryFileArray").files;
            console.log('the files: ',files);
            previewGallery(files);
        }

        function previewGallery(files) {
            console.log('given gallery files: ', files);
            for(let i=0; i<files.length; i++) {
                console.log('given file type: ',files[i]);
                let reader = new FileReader();
                reader.readAsDataURL(files[i]);
                reader.onloadend = function() {
                    if(files[i].type.includes('image')) {
                        console.log('iiiiiiiiiii');
                        var img = document.createElement('img');
                        img.src = reader.result;
                        img.classList.add("image-gallery-style");
                        document.getElementById('image-gallery').appendChild(img);
                    }else if(files[i].type.includes('video')) {
                        console.log('vvvvvvvvvvv');
                        var vid = document.createElement('iframe');
                        vid.src  = reader.result;
                        vid.classList.add("video-gallery-style");
                        document.getElementById('video-gallery').appendChild(vid);
                    }
                }
            }
            currentSlide(4);
            document.getElementById("upldForm-Btn4").disabled=false;
        }
      </script>
    
<%- include("../partials/footer") %>