<%- include("../partials/header") %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <!--Top Banner-->
    <div class="container-fluid m-0 p-0">
        <div class="container-fluid m-0 p-0 listing-banner-img listing-banner shadow fade-in">
            <div class="blur-div m-0 p-0"></div>
        </div>
    </div>

    <!--Search Bar-->
    <div class="container" data-aos="zoom-in" data-aos-once="true" style="margin-top: -150px; margin-bottom: 50px;">
        <div class="col-md-12 listing-header d-flex flex-column fade-in">
            <p>Find your Property.</p>
        </div>    
        <div class="col-md-12 m-0 search-container shadow">
            <form action="/listings" method="GET" class="form-inline" style="font-family: 'Poppins', sans-serif;">
                <div class="row col-md-12 search-row">
                    <div class="col-md-6">
                        <div class="search-input">
                            <i class="fas fa-map-marker-alt"></i>
                            <input type="text" class="form-control" name="search" placeholder="Search for Properties" style="width: 100%">
                        </div>                            
                    </div>
                    <div class="col-md-2">
                        <div class="search-input flex-column">
                            <label for="propertyType">Property Type</label> 
                            <select name="propertyType" id="propertyType">
                                <!-- <option id="placeholder" name="placeholder" value="placeholder" selected hidden>Property Type</option> -->
                                <option id="any" name="any" value="any" selected >Any</option>
                                <option id="hdb" name="hdbType" value="hdb">HDB</option>
                                <option id="condo" name="condoType" value="condo">Condominium</option>
                                <option id="landed" name="landedType" value="landed">Landed Property</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="search-input flex-column">
                            <label for="numofRooms">Rooms</label> 
                            <select name="numofRooms" id="numofRooms">
                                <!-- <option id="placeholder" name="placeholder" value="placeholder" selected hidden>No. of Bedrooms</option> -->
                                <option id="any" name="any" value="any" selected >Any</option>
                                <option id="1" name="onerooms" value="1">1</option>
                                <option id="2" name="tworooms" value="2" value="2">2</option>
                                <option id="3" name="threerooms" value="3" value="3">3</option>
                                <option id="4" name="fourrooms" value="4">4</option>
                                <option id="5" name="fiverooms" value="5" value="5">5</option>
                                <option id="6" name="sixrooms" value="6">6</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="search-input flex-column">
                            <label for="sortBy">Sort By</label> 
                            <select name="sortBy" id="sortBy">
                                <!-- <option id="placeholder" name="placeholder" value="placeholder" selected hidden>Sort By</option> -->
                                <option value="MostPop" <% if(data.sortBy == 'MostPop') {%> selected <%} %>>Most Popular</option>
                                <option value="HighestPrice" <% if(data.sortBy == 'HighestPrice') {%> selected <%} %>>Highest Price</option>
                                <option value="LowestPrice" <% if(data.sortBy == 'LowestPrice') {%> selected <%} %>>Lowest Price</option>
                                <option value="Recent" <% if(data.sortBy == 'Recent') {%> selected <%} %>>Recent</option>
                                <option value="Oldest" <% if(data.sortBy == 'Oldest') {%> selected <%} %>>Oldest</option>
                                <option value="LeastPop" <% if(data.sortBy == 'LeastPop') {%> selected <%} %>>Least Popular</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12 search-row hide-row" id="hide-row">
                    <div class="col-md-3">
                        <div class= "search-input">
                            <p>S$</p>
                            <input type="number" min="0" max="<%= largestPrice %>" name="minPrice" placeholder="Min. Price"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class= "search-input">
                            <p>S$</p>
                            <input type="number" min="0" max="<%= largestPrice %>" name="maxPrice" placeholder="Max. Price" />
                        </div> 
                    </div>
                    <div class="col-md-3">
                        <div class="search-input">
                            <input type="number" min="0" max="<%= largestSize %>" name="minSize" placeholder="Min. Area" />
                            <p style="font-size: 14px">sqft</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="search-input">
                            <input type="number" min="0" max="<%= largestSize %>" name="maxSize" placeholder="Max. Area" />
                            <p style="font-size: 14px">sqft</p>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12 search-row">
                    <div class="col-md-6">
                        <p class="search-btn showHideBtn" id="showHideBtn">More Options</p>
                    </div>
                    <div class="col-md-6 search-btn">
                        <button class="float-right" type="submit">Show Listings</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
      
    <!--Map-->
    <div class="container">
        <div class="col-md-12 explore-listing" data-aos="fade-up" data-aos-once="true">
            <p class="row">Explore Listings</p>
        </div>
        <div class="col-md-12 p-0 explore-map" data-aos="fade-up" data-aos-once="true">
            <div class="shadow" id="map" style="width: 100%; height: 400px; border-radius: 15px;"></div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="owl-carousel owl-theme" data-aos="fade-up" data-aos-once="true">
                    <div class="item"><h4>1</h4></div>
                    <div class="item"><h4>2</h4></div>
                    <div class="item"><h4>3</h4></div>
                    <div class="item"><h4>4</h4></div>
                    <div class="item"><h4>5</h4></div>
                    <div class="item"><h4>6</h4></div>
                    <div class="item"><h4>7</h4></div>
                    <div class="item"><h4>8</h4></div>
                    <div class="item"><h4>9</h4></div>
                    <div class="item"><h4>10</h4></div>
                    <div class="item"><h4>11</h4></div>
                    <div class="item"><h4>12</h4></div>
                </div>
            </div>
        </div>
        
    </div>


<!-- No Match -->
<div class="container">
    <% if(noMatch !== undefined){ %>
        <form action="/listings" method="GET" class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" name="search" placeholder="listing search...">
                <input type="submit" value="Search" class="btn btn-info">
            </div>
        </form>
        <h3><%= noMatch %></h3>
    <% } %>

    <div class="d-flex justify-content-around">
        <div class="col-4">
            <div class="form-card">
                <div class="form-card-container">
                    <form action="/listings" method="GET" id="filterForm">
                        <p>Filter</p><br>

                        <!-- Filter: Property Type-->
                        <!-- <label for="type">Choose Property Type:</label>
                        <select name="type" id="type">
                            <option value="" disabled selected hidden>Property Type</option>
                            <option value="HDB">HDB</option>
                            <option value="Condo">Condo</option>
                            <option value="Landed">Landed</option>
                        </select> -->
                        <label for="propertyType">Choose a property type:</label><br>
                        <input type="checkbox" id="hdb" name="hdbType" value="hdb" <% if(data.hdbType) {%> checked <%} %>>
                        <label for="hdb">HDB</label><br>
                        <input type="checkbox" id="condo" name="condoType" value="condo"<% if(data.condoType) {%> checked <%} %>> 
                        <label for="condo">Condo</label><br>
                        <input type="checkbox" id="landed" name="landedType" value="landed" <% if(data.landedType) {%> checked <%} %>>
                        <label for="landed">Landed</label><br>

                        <!-- Filter: Property district -->
                        <br><label for="propertyStatus">Choose a District:</label><br>
                        <input type="checkbox" id="north" name="northDistrict" value="north" <% if(data.northDistrict) {%> checked <%} %>>
                        <label for="north">North</label><br>
                        <input type="checkbox" id="south" name="southDistrict" value="south" <% if(data.southDistrict) {%> checked <%} %>>
                        <label for="south">South</label><br>
                        <input type="checkbox" id="east" name="eastDistrict" value="east" <% if(data.eastDistrict) {%> checked <%} %>>
                        <label for="east">East</label><br>
                        <input type="checkbox" id="west" name="westDistrict" value="west" <% if(data.westDistrict) {%> checked <%} %>>
                        <label for="west">West</label><br>

                        <!-- Filter: Number of rooms slider -->
                        <!-- <label for="numofRooms">Number of Rooms:</label>
                        <select name="numofRooms" id="numofRooms">
                            <option value="" disabled selected hidden>Rooms</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select> -->
                        <br><label for="numofRooms">Number of rooms:</label><br>
                        <input type="checkbox" id="1" name="onerooms" value="1" <% if(data.onerooms) {%> checked <%} %>>
                        <label for="1">1</label><br>
                        <input type="checkbox" id="2" name="tworooms" value="2" <% if(data.tworooms) {%> checked <%} %>>
                        <label for="2">2</label><br>
                        <input type="checkbox" id="3" name="threerooms" value="3" <% if(data.threerooms) {%> checked <%} %>>
                        <label for="3">3</label><br>
                        <input type="checkbox" id="4" name="fourrooms" value="4" <% if(data.fourrooms) {%> checked <%} %>>
                        <label for="4">4</label><br>
                        <input type="checkbox" id="5" name="fiverooms" value="5" <% if(data.fiverooms) {%> checked <%} %>>
                        <label for="5">5</label><br>
                        <input type="checkbox" id="6" name="sixrooms" value="6" <% if(data.sixrooms) {%> checked <%} %>>
                        <label for="6">6</label><br>

                        <!-- Filter: Number of bathrooms -->
                        <br><label for="numofRooms">Number of bath rooms:</label><br>
                        <input type="checkbox" id="1bath" name="onebathrooms" value="1" <% if(data.onebathrooms) {%> checked <%} %>>
                        <label for="1bath">1</label><br>
                        <input type="checkbox" id="2bath" name="twobathrooms" value="2" <% if(data.twobathrooms) {%> checked <%} %>>
                        <label for="2bath">2</label><br>
                        <input type="checkbox" id="3bath" name="threebathrooms" value="3" <% if(data.threebathrooms) {%> checked <%} %>>
                        <label for="3bath">3</label><br>

                        <!-- Filter: Tenure type -->
                        <label for="propertyType">Choose a property type:</label><br>
                        <input type="checkbox" id="freehold" name="freehold" value="freehold" <% if(data.freehold) {%> checked <%} %>>
                        <label for="freehold">Freehold</label><br>
                        <input type="checkbox" id="NinetyNineYL" name="NinetyNineYL" value="ninetynine"<% if(data.NinetyNineYL) {%> checked <%} %>> 
                        <label for="NinetyNineYL">99-Year Leasehold</label><br>
                        <input type="checkbox" id="HundredThreeYL" name="HundredThreeYL" value="hundredthree" <% if(data.HundredThreeYL) {%> checked <%} %>>
                        <label for="HundredThreeYL">103-Year Leasehold</label><br>
                        <input type="checkbox" id="HundredTenYL" name="HundredTenYL" value="hundredten" <% if(data.HundredTenYL) {%> checked <%} %>>
                        <label for="HundredTenYL">110-Year Leasehold</label><br>
                        <input type="checkbox" id="NineHundredNineYL" name="ninehundrednine" value="999"<% if(data.NineHundredNineYL) {%> checked <%} %>> 
                        <label for="NineHundredNineYL">999-Year Leasehold</label><br>
                        <input type="checkbox" id="tenure" name="tenure" value="unknown" <% if(data.tenure) {%> checked <%} %>>
                        <label for="tenure">Unknown Tenure</label><br>

                        <!-- Filter: Price Slider -->
                        <div class="price-slider">
                            <span>
                                Price: 
                                <input type="number" value="0" min="0" max="<%= largestPrice %>" name="minPrice" /> to
                                <input type="number" value="<%= largestPrice %>" min="0" max="<%= largestPrice %>" name="maxPrice" />
                            </span>
                            <input type="range" value="0" min="0" max="<%= largestPrice %>" step="500" />
                            <input type="range" value="<%= largestPrice %>" min="0" max="<%= largestPrice %>" step="500" />
                            <svg width="100%" height="24">
                                <!-- <line x1="4" y1="0" x2="300" y2="0" stroke="#212121" stroke-width="12"
                                    stroke-dasharray="1 28">
                                </line> -->
                            </svg>
                        </div>

                        <!-- Filter: Size Slider -->
                        <div class="size-slider">
                            <span>
                                Size: 
                                <input type="number" value="0" min="0" max="<%= largestSize %>" name="minSize" /> to
                                <input type="number" value="<%= largestSize %>" min="0" max="<%= largestSize %>" name="maxSize" />
                            </span>
                            <input type="range" value="0" min="0" max="<%= largestSize %>" step="500" />
                            <input type="range" value="<%= largestSize %>" min="0" max="<%= largestSize %>" step="500" />
                            <svg width="100%" height="24">
                                <!-- <line x1="4" y1="0" x2="300" y2="0" stroke="#212121" stroke-width="12"
                                    stroke-dasharray="1 28">
                                </line> -->
                            </svg>
                        </div>

                        <!-- Filter: Sort by highest or lowest price -->
                        <label for="sortPrice">Sort by:</label>
                        <select name="sortPrice" id="sortPrice">
                            <option value="" disabled selected hidden>Price</option>
                            <option value="HighestPrice" <% if(data.sortPrice == 'HighestPrice') {%> selected <%} %>>Highest Price</option>
                            <option value="LowestPrice" <% if(data.sortPrice == 'LowestPrice') {%> selected <%} %>>Lowest Price</option>
                        </select>

                        <!-- Filter: Sort by recent/oldest -->
                        <br><label for="sortDate">Sort by:</label>
                        <select name="sortDate" id="sortDate">
                            <option value="" disabled selected hidden>Date</option>
                            <option value="Recent" <% if(data.sortDate == 'Recent') {%> selected <%} %>>Recent</option>
                            <option value="Oldest" <% if(data.sortDate == 'Oldest') {%> selected <%} %>>Oldest</option>
                        </select>

                            <!-- Filter: sort by Most/Least popular listing -->
                        <br><label for="sortPop">Sort by:</label>
                        <select name="sortPop" id="sortPop">
                            <option value="" disabled selected hidden>Popularity</option>
                            <option value="MostPop" <% if(data.sortPop == 'MostPop') {%> selected <%} %>>Most Popular</option>
                            <option value="LeastPop" <% if(data.sortPop == 'LeastPop') {%> selected <%} %>>Least Popular</option>
                        </select>

                        <!-- Filter: for admin/agent to view sold/archived listing -->
                        <% if(currentUser && currentUser.isAdmin || currentUser && currentUser.isAgent && currentUser.agentStatus){ %>
                            <!-- sold -->
                            <br><label for="soldStatusCheck">Sold: </label><br>
                            <input type="checkbox" id="sold" name="soldCheck" value="sold" <% if(data.soldCheck) {%> checked <%} %>>
                            <label for="sold">Sold Listing</label><br>
                            <input type="checkbox" id="archive" name="archiveCheck" value="archive" <% if(data.archiveCheck) {%> checked <%} %>>
                            <label for="archive">Archive listing</label><br>
                            
                            <!-- Filter: sort by sold/not sold -->
                            <br><label for="sortSold">Sort by:</label>
                            <select name="sortSold" id="sortSold">
                                <option value="" disabled selected hidden>selling availability</option>
                                <option value="Sold" <% if(data.sortSold == 'Sold') {%> selected <%} %>>Sold</option>
                                <option value="NotSold" <% if(data.sortSold == 'NotSold') {%> selected <%} %>>Not Sold</option>
                            </select>
                            <!-- Filter: sort by archive/not archive -->
                            <br><label for="sortArchive">Sort by:</label>
                            <select name="sortArchive" id="sortArchive">
                                <option value="" disabled selected hidden>archive availability</option>
                                <option value="NotArchive" <% if(data.sortArchive == 'NotArchive') {%> selected <%} %>>Not Archive</option>
                            </select>
                        <% } %>

                        <!-- Filter: reset form inputs -->
                        <br><input type="button" onclick="resetForm()" value="Reset" >

                        <!-- Apply filters/submit button -->
                        <br><input type="submit" value="Apply" name="Apply" id="applyFilter">
                    </form>
                </div>
            </div>
        </div>
            
        <div class="col-8">
            <div class="all-listing-card">
                <div class="all-listing-card-container">
                    <p style="color: red;">Different categories (latest/...)</p>
                    <div class="row px-2">
                        <% listings.forEach(function(listing) { %>
                            <div class="col-3 p-3 listingHover">
                                <div class="row">
                                    <a href="/listings/<%= listing.id %>" style="text-decoration: none; color: black;">
                                        <div class="col-12">
                                            <img src="<%= listing.thumbnail %>" style="background-size: cover; width: 100%; height: 140px; object-fit: cover; background-position: center center;">
                                        </div>
                                        <% if(listing.soldStatus==true){ %>
                                            <div class="justify-content-center d-flex">
                                                <span class="text-center" id="soldBanner">
                                                    Sold
                                                </span>
                                            </div>
                                        <% } %>
                                        <% if(listing.archiveStatus==true){ %>
                                            <div class="justify-content-center d-flex">
                                                <span class="text-center" id="archiveBanner">
                                                    Archived
                                                </span>
                                            </div>
                                        <% } %>
                                        <div class="col-12 my-2" style="font-weight: 600;">
                                            <% if(listing.name.length<14){ %>
                                                <%= listing.name.substring(0, 14) %>
                                            <% } else { %>
                                                <%= listing.name.substring(0, 14) + " ..." %>
                                            <% } %>
                                        </div>
                                        <div class="col-12 my-1" style="font-weight: 600;">
                                            <span><%= "S$" + listing.price %></span>
                                        </div>
                                        <div class="col-12 mt-1" style="font-weight: 400;">
                                            <span style="font-size: 0.9em;">
                                                Zone: <%= listing.district %>
                                            </span>
                                        </div>
                                        <div class="col-12 my-0" style="font-weight: 400;">
                                            <span style="font-size: 0.9em;">
                                                Type: <%= listing.type %>
                                            </span>
                                        </div>
                                        <div class="col-12 mb-1" style="font-weight: 400;">
                                            <span style="font-size: 0.9em;">
                                                Tenure: <%= listing.tenure %>
                                            </span>
                                        </div>
                                    </a>
                                    <div class="col-12 mt-1">
                                        <form action="/listings/<%= listing._id %>/like" method="POST" class="likeBtn">
                                            <div class="justify-content-between d-flex">
                                                <div>
                                                    <% if (currentUser && listing.likes.some(function (like) { return like.equals(currentUser._id) })) { %>
                                                        <button class="px-0">
                                                            <i class="fas fa-heart filledHeart"></i>
                                                            <%= listing.likes.length %>
                                                        </button>
                                                    <% } else { %>
                                                        <button class="px-0">
                                                            <i class="far fa-heart emptyHeart"></i>
                                                            <%= listing.likes.length %>
                                                        </button>
                                                    <% } %>
                                                </div>
                                                <%if(currentUser&&listing.author.id.equals(currentUser._id)||currentUser&&currentUser.isAdmin){%>
                                                    <div>
                                                        <div class="dropdown">
                                                            <button  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                                <a class="dropdown-item" href="/listings/<%= listing._id %>/edit">
                                                                    Edit
                                                                </a>
                                                                <% if(listing.archiveStatus==false && listing.soldStatus==false){ %>
                                                                    <a class="dropdown-item" href="/listings/<%= listing._id %>/archive">
                                                                        Archive
                                                                    </a>
                                                                    <a class="dropdown-item" href="/listings/<%= listing._id %>/sold">
                                                                        Mark as Sold
                                                                    </a>
                                                                <% } else if(listing.archiveStatus==true&& listing.soldStatus==false) { %>
                                                                    <a class="dropdown-item" href="/listings/<%= listing._id %>/unarchive">
                                                                        Unarchive
                                                                    </a>
                                                                <% } else { %>
                                                                    <a class="dropdown-item" href="/listings/<%= listing._id %>/unsold">
                                                                        Mark as Available
                                                                    </a>
                                                                <% } %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% } %>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://livejs.com/live.js"></script>
    <script>

    $(".hide-row" ).hide();
        $('.showHideBtn').click(function() {
            var $this = $(this);
            $this.toggleClass('showHideBtn');
            if($this.hasClass('showHideBtn')){
                $this.text('More Options');			
            } else {
                $this.text('Less Option');
            }
            $('.hide-row').slideToggle('slow', function() {
        });
    });
    </script>
    <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
        const listings = { features: <%- JSON.stringify(listings) %> }
    </script>
    <script src="/javascripts/clusterMap.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script>
        (function () {
            var parent = document.querySelector(".price-slider");
            if (!parent) return;
            var
                rangeS = parent.querySelectorAll("input[type=range]"),
                numberS = parent.querySelectorAll("input[type=number]");
            rangeS.forEach(function (el) {
                el.oninput = function () {
                    var slide1 = parseFloat(rangeS[0].value),
                        slide2 = parseFloat(rangeS[1].value);
                    if (slide1 > slide2) {
                        [slide1, slide2] = [slide2, slide1];
                    }
                    numberS[0].value = slide1;
                    numberS[1].value = slide2;
                }
            });

            numberS.forEach(function (el) {
                el.oninput = function () {
                    var number1 = parseFloat(numberS[0].value),
                        number2 = parseFloat(numberS[1].value);
                    if (number1 > number2) {
                        var tmp = number1;
                        numberS[0].value = number2;
                        numberS[1].value = tmp;
                    }
                    rangeS[0].value = number1;
                    rangeS[1].value = number2;
                }
            });
        })();
    </script>
    <script>
        (function () {
            var parent = document.querySelector(".size-slider");
            if (!parent) return;
            var
                rangeS = parent.querySelectorAll("input[type=range]"),
                numberS = parent.querySelectorAll("input[type=number]");
            rangeS.forEach(function (el) {
                el.oninput = function () {
                    var slide1 = parseFloat(rangeS[0].value),
                        slide2 = parseFloat(rangeS[1].value);
                    if (slide1 > slide2) {
                        [slide1, slide2] = [slide2, slide1];
                    }
                    numberS[0].value = slide1;
                    numberS[1].value = slide2;
                }
            });
            numberS.forEach(function (el) {
                el.oninput = function () {
                    var number1 = parseFloat(numberS[0].value),
                        number2 = parseFloat(numberS[1].value);
                    if (number1 > number2) {
                        var tmp = number1;
                        numberS[0].value = number2;
                        numberS[1].value = tmp;
                    }
                    rangeS[0].value = number1;
                    rangeS[1].value = number2;
                }
            });
        })();
    </script>
    <script>                               
        function resetForm() {
            //document.getElementById("formFilter").resetForm()
            //property type
            document.getElementById("hdb").checked=false;
            document.getElementById("condo").checked=false;
            document.getElementById("landed").checked=false;
            //District type
            document.getElementById("north").checked=false;
            document.getElementById("south").checked=false;
            document.getElementById("east").checked=false;
            document.getElementById("west").checked=false;
            //rooms
            document.getElementById("1").checked=false;
            document.getElementById("2").checked=false;
            document.getElementById("3").checked=false;
            document.getElementById("4").checked=false;
            document.getElementById("5").checked=false;
            document.getElementById("6").checked=false;
            //sort by price
            document.getElementById("sortPrice").value="";
            //sort by date
            document.getElementById("sortDate").value="";
            //sort by popularity
            document.getElementById("sortPop").value="";
            //sold/archive
            // document.getElementById("sold").checked=false;
            // document.getElementById("notsold").checked=false;
            // document.getElementById("archive").checked=false;
            // document.getElementById("notarchive").checked=false;
            //sort by sold
            document.getElementById("sortSold").value="";
            //sort by archive
            document.getElementById("sortArchive").value="";
        }                
    </script>
    
<%- include("../partials/footer") %>