<%- include("../partials/header") %>

<!-- price range slider -->

<!-- price range slider -->

  <!-- <% if(currentUser && currentUser.isAdmin){ %>
    <h1>You're an admin!</h1>
    <% } else if (currentUser && currentUser.isAgent && currentUser.agentStatus){ %>
      <h1>You're an agent!</h1>
      <% } %> -->

      <div class="container-fluid map-bg">
        <div class="col-md-12 map-cluster m-0 p-0" id="map" style="height: 650px; width: 100%;"></div>
    </div>

        <!--Search Bar-->
        
        <div class="container search-container">
            <div class="row col-md-12 search-form">
                <form action="/listings" method="GET" class="search-home col-md-12 ">
                    <div class="col-md-12 search-filter" style="display: flex; justify-content: center; align-items: center;">
                        <input type="text" name="search" placeholder="Search for a property">
                        <!-- <button type="submit" id="search-btn"><i class="fa fa-search" style="padding-right: 10px;"></i></button> -->
                    </div>
                    <div class="row col-md-12 search-filter">
                            <select name="type" id="type" class="col-md-3 col-sm-6 col-xm-12 search-option">
                                <option name="type" value="all" disabled selected hidden>Type</option>
                                <option name="type" value="all">All</option>
                                <option name="type" value="HDB">HDB</option>
                                <option name="type" value="Condo">Condominium</option>
                                <option name="type" value="Landed">Landed Property</option>
                            </select>
                            <select name="type" id="type" class="col-md-3 col-sm-6 col-xm-12 search-option">
                                <option name="zone" value="all" disabled selected hidden>Location</option>
                                <option name="zone" value="all">All</option>
                                <option id="north" name="zone" value="north">North</option>
                                <option id="east" name="zone" value="east">East</option>
                                <option id="south" name="zone" value="south">South</option>
                                <option id="west" name="zone" value="west">West</option>
                            </select>
                            <select name="type" id="type" class="col-md-3 col-sm-6 col-xm-12 search-option">
                                <option name="room" value="all" disabled selected hidden>Bedrooms</option>
                                <option name="room" value="all">All</option>
                                <option name="room" value="studio">Studio</option>
                                <option name="room" value="1bdrm">1 Bedroom</option>
                                <option name="room" value="2bdrm">2 Bedrooms</option>
                                <option name="room" value="3bdrm">3 Bedrooms</option>
                                <option name="room" value="4bdrm">4 Bedrooms</option>
                                <option name="room" value="5bdrm">5+ Bedrooms</option>
                            </select>
                            <select name="type" id="type" class="col-md-3 col-sm-6 col-xm-12 search-option">
                                <option value="all" disabled selected hidden>Price Range</option>
                                <option value="all">Any</option>
                                <option min="0" max="120000">$0 - $120000</option>
                            </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="wrapper shadow explore-tab">
                <div class="col-sm-12 list-head">
                    <h3>Explore</h3>
                </div>
                <div class="col-md-12 owl-carousel owl-theme">
                    <div class="item">
                        <a>3 Room Flats</a>
                    </div>
                    <div class="item">
                        <a>4 Room Flats</a>
                    </div>
                    <div class="item">
                        <a>5 Room Flats</a>
                    </div>
                    <div class="item">
                        <a>Executive Condominiums</a>
                    </div>
                    <div class="item">
                        <a>Private Condominiums</a>
                    </div>
                    <div class="item">
                        <a>Landed Property</a>
                     </div>
                </div>
            </div>
        </div>
       


        <!-- No Match -->
            <div class="container">
                <div class="list-section shadow">
                    <div class="col-sm-12 list-head">
                        <h3>Recent Listings</h3>
                    </div>
                    <div class="col-sm-12 m-0 p-0 listings">
                        <div class="all-listing-card">
                            <div class="all-listing-card-container">
                                <% listings.forEach(function(listing){ %>
                                    <a href="/listings/<%= listing._id %>" style="text-decoration: none; color:black;">
                                        <div class="indiv-card">
                                            <div class="indiv-card-container">
                                                <div>
                                                    <img src="<%= listing.image %>" style="width:30%; height:30%;"><br>
                                                    <h4>
                                                        <%= listing.name %>
                                                    </h4><br>
                                                    <div>
                                                        <p>
                                                            $<%= listing.price %>
                                                        </p>
                                                        <div class="row">
                                                            <p style="padding-right: 5px">
                                                                <%= listing.zone %> sqft
                                                            </p>
                                                            <p style="padding-right: 5px">
                                                                <i class="fas fa-bed"></i> <%= listing.type %>
                                                            </p>
                                                            <p>
                                                                <i class="fas fa-toilet"></i> <%= listing.size %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                    </a>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation" class="pg-nav">
                <% if (pages && pages > 0) { %>
                    <ul class="pagination justify-content-center">
                        <% if (current == 1) { %>
                            <li class="page-item disabled"><a class="page-link">First</a></li>
                        <% } else { %>
                            <li><a class="page-link" href="/listings<%if(search){%>?search=<%=search%><%}%>">First</a>
                            </li>
                        <% } %>
        
                        <% if (current == 1) { %>
                            <li class="page-item disabled"><a class="page-link">«</a></li>
                        <% } else { %>
                            <li>
                                <a class="page-link" href="/listings?page=<%= Number(current) - 1 %><%if(search){%>&search=<%=search%><%}%>">«</a>
                            </li>
                        <% } %>

                        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                        <% if (i !==1) { %>
                            <li class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
                        <% } %>
                        <% for (; i <=(Number(current) + 4) && i <=pages; i++) { %>
                            <% if (i == current) { %>
                                <li class="active">
                                    <a class="page-link"><%= i %></a>
                                </li>
                            <% } else { %>
                                <li>
                                    <a class="page-link" href="/listings?page=<%= i %><%if(search){%>&search=<%=search%><%}%>"><%= i %></a>
                                </li>
                            <% } %>
                            <% if (i==Number(current) + 4 && i < pages) { %>
                                <li class="page-item disabled">
                                    <a class="page-link">...</a>
                                </li>
                            <% } %>
                        <% } %>

                        <% if (current==pages) { %>
                            <li class="page-item disabled">
                                <a class="page-link">»</a>
                            </li>
                        <% } else { %>
                            <li>
                                <a class="page-link" href="/listings?page=<%= Number(current) + 1 %><%if(search){%>&search=<%=search%><%}%>">»</a>
                            </li>
                        <% } %>

                        <% if (current==pages) { %>
                            <li class="page-item disabled">
                                <a class="page-link">Last</a>
                            </li>
                        <% } else { %>
                            <li>
                                <a class="page-link" href="/listings?page=<%= pages %><%if(search){%>&search=<%=search%><%}%>">Last</a>
                            </li>
                        <% } %>
                    </ul>
                <% } %>
            </nav>
        </div> 

        <script>
          const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
          const listings = { features: <%- JSON.stringify(listings) %> }
        </script>
        <script src="/javascripts/clusterMap.js"></script>
        
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>


        <%- include("../partials/footer") %>