<%- include("../partials/header") %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/javascripts/propertySearch.js"></script>
<script>

    var resultSet = <%- JSON.stringify(listings) %>;
    console.log(resultSet.length)
</script>
<script>
        var currentUser = <%- JSON.stringify(currentUser) %>
        console.log(currentUser)
</script>
<script>
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var resultSearch = urlParams.get('search');
    var searchindex = urlParams.get('searchindex');
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


<button class="my_bttn">
    <i class="fa fa-arrow-up"></i>
</button>

<div class="container-fluid search-bar-container" data-aos="fade-down" data-aos-once="true">
    <div class="container">
        <div class="col-md-12 p-0">
            <div class="row m-0 p-0" style="width: 100%;">
                <form action="/listings" method="GET" class="form-inline" style="font-family: 'Poppins', sans-serif; width: 100%;">
                    <div class="search-bar-result">
                        <div class="search-bar-result-input">
                            <div>
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <input type="text" class="form-control" name="search" placeholder="Search for Properties">
                        </div>
                        <button name="searchListing" value="searchListing" type="submit" class="btn btn-info d-flex justify-content-center align-items-center" style="padding: 7x 12px;" >Go</button>
                    </div>    
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-12" data-aos="zoom-in" data-aos-once="true">
        <div class="row">
            <div class="col-12 px-0">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/listings">Listings</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Properties for Sale</li>
                  </ol>
                </nav>
            </div>
        </div>
        <div class="row" style="padding-top: 20px; padding-bottom: 20px;">
            <div class="d-flex flex-column">
                <h3 id="search-result" style="font-size: 1.5em;"></h3>
                <p>Found: <%= listings.length%> results</p>
            </div>
        </div>
    </div>
    <div class="row col-lg-12 p-0 m-0">
        <div class="col-md-4 col-lg-4 p-0 m-0 d-flex flex-column" data-aos="fade-up" data-aos-once="true">
            <strong class="filter-header">Filter</strong>
            <div class="search-dropdown filterDropDownBtn">
                <div class="dropdown-label-wrap">
                    <label class="dropdownPType-label">All Filters</label>
                </div>
                <i class="fas fa-caret-down"></i>    
            </div>

            <div class="form-card filterDropDownMenu">
                <div class="form-card-container p-0">
                    <form class="d-flex flex-column" action="/listings" method="GET" id="filterForm">
                        
                        <!-- Filter: Sort -->
                        <div class="search-dropdown-select">
                            <select name="sort" id="sort">
                                <option value="" disabled selected hidden>Sort by</option>
                                <option value="HighestPrice" <% if(data.sort == 'HighestPrice') {%> selected <%} %>>Highest Price</option>
                                <option value="LowestPrice" <% if(data.sort == 'LowestPrice') {%> selected <%} %>>Lowest Price</option>
                                <option value="Recent" <% if(data.sort == 'Recent') {%> selected <%} %>>Recent</option>
                                <option value="Oldest" <% if(data.sort == 'Oldest') {%> selected <%} %>>Oldest</option>
                                <option value="MostPop" <% if(data.sort == 'MostPop') {%> selected <%} %>>Most Popular</option>
                                <option value="LeastPop" <% if(data.sort == 'LeastPop') {%> selected <%} %>>Least Popular</option>
                                <% if(currentUser && currentUser.isAdmin || currentUser && currentUser.isAgent && currentUser.agentStatus){ %>
                                <option value="Sold" <% if(data.sort == 'Sold') {%> selected <%} %>>Sold</option>
                                <option value="NotSold" <% if(data.sort == 'NotSold') {%> selected <%} %>>Not Sold</option>
                                <option value="Archive" <% if(data.sort == 'Archive') {%> selected <%} %>>Archive</option>
                                <option value="NotArchive" <% if(data.sort == 'NotArchive') {%> selected <%} %>>Not Archive</option>
                                <% } %>
                            </select>
                        </div>

                        <span class="seperateFilter" style="margin: 15px 0 15px;"></span>

                        <!-- Filter: Property Type-->
                        <div class="dropdownPType">
                            <div class="search-dropdown dropdownPType-content-onclick">
                                <div class="dropdown-label-wrap">
                                    <label class="dropdownPType-label">Property Type</label>
                                </div>
                                <i class="fas fa-caret-down"></i>    
                            </div>
                            <div class="dropdownPType-content hide-row-PType" id="dropdownPType-content">
                                <!-- <label for="propertyType">Choose a property type:</label><br> -->
                                <input type="checkbox" id="hdb" name="hdbType" value="hdb" <% if(data.hdbType) {%> checked <%} %>>
                                <label for="hdb">HDB</label><br>
                                <input type="checkbox" id="condo" name="condoType" value="condo"<% if(data.condoType) {%> checked <%} %>> 
                                <label for="condo">Condominium</label><br>
                                <input type="checkbox" id="landed" name="landedType" value="landed" <% if(data.landedType) {%> checked <%} %>>
                                <label for="landed">Landed Property</label><br>
                            </div>  
                        </div>

        
                        <!-- Filter: Property district -->
                        <div class="dropdownDistrict">
                            <div class="search-dropdown dropdownDistrict-content-onclick">
                                <div class="dropdown-label-wrap">
                                    <label class="dropdownDistrict-label">District</label>
                                </div>
                                <i class="fas fa-caret-down"></i>    
                            </div>
                            <div class="dropdownDistrict-content hide-row-District" id="dropdownDistrict-content">
                                <input type="checkbox" id="north" name="northDistrict" value="north" <% if(data.northDistrict) {%> checked <%} %>>
                                <label for="north">North</label><br>
                                <input type="checkbox" id="south" name="southDistrict" value="south" <% if(data.southDistrict) {%> checked <%} %>>
                                <label for="south">South</label><br>
                                <input type="checkbox" id="east" name="eastDistrict" value="east" <% if(data.eastDistrict) {%> checked <%} %>>
                                <label for="east">East</label><br>
                                <input type="checkbox" id="west" name="westDistrict" value="west" <% if(data.westDistrict) {%> checked <%} %>>
                                <label for="west">West</label><br>
                            </div>  
                        </div>
        
        
                        <!-- Filter: Number of rooms slider -->
                        <div class="dropdownBedroom">
                            <div class="search-dropdown dropdownBedroom-content-onclick">
                                <div class="dropdown-label-wrap">
                                    <label class="dropdownBedroom-label">Bedrooms</label>
                                </div>
                                <i class="fas fa-caret-down"></i>    
                            </div>
                            <div class="dropdownBedroom-content hide-row-Bedroom" id="dropdownBedroom-content">
                                <input type="checkbox" id="1" name="onerooms" value="1" <% if(data.onerooms) {%> checked <%} %>>
                                <label for="1">1 Bedroom</label><br>
                                <input type="checkbox" id="2" name="tworooms" value="2" <% if(data.tworooms) {%> checked <%} %>>
                                <label for="2">2 Bedrooms</label><br>
                                <input type="checkbox" id="3" name="threerooms" value="3" <% if(data.threerooms) {%> checked <%} %>>
                                <label for="3">3 Bedrooms</label><br>
                                <input type="checkbox" id="4" name="fourrooms" value="4" <% if(data.fourrooms) {%> checked <%} %>>
                                <label for="4">4 Bedrooms</label><br>
                                <input type="checkbox" id="5" name="fiverooms" value="5" <% if(data.fiverooms) {%> checked <%} %>>
                                <label for="5">5 Bedrooms</label><br>
                                <input type="checkbox" id="6" name="sixrooms" value="6" <% if(data.sixrooms) {%> checked <%} %>>
                                <label for="6">6 Bedrooms</label><br>
                            </div>  
                        </div>
        
        
                        <!-- Filter: Number of bathrooms -->
                        <div class="dropdownBathroom">
                            <div class="search-dropdown dropdownBathroom-content-onclick">
                                <div class="dropdown-label-wrap">
                                    <label class="dropdownBathroom-label">Bathrooms</label>
                                </div>
                                <i class="fas fa-caret-down"></i>    
                            </div>
                            <div class="dropdownBathroom-content hide-row-Bathroom" id="dropdownBathroom-content" >
                                <input type="checkbox" id="1bath" name="onebathrooms" value="1" <% if(data.onebathrooms) {%> checked <%} %>>
                                <label for="1bath">1 Bathroom</label><br>
                                <input type="checkbox" id="2bath" name="twobathrooms" value="2" <% if(data.twobathrooms) {%> checked <%} %>>
                                <label for="2bath">2 Bathroom</label><br>
                                <input type="checkbox" id="3bath" name="threebathrooms" value="3" <% if(data.threebathrooms) {%> checked <%} %>>
                                <label for="3bath">3 Bathroom</label><br>
                            </div>  
                        </div>
        
                        <!-- Filter: Tenure type -->
                        <div class="dropdownTenure">
                            <div class="search-dropdown dropdownTenure-content-onclick">
                                <div class="dropdown-label-wrap">
                                    <label class="dropdownTenure-label">Tenure</label>
                                </div>
                                <i class="fas fa-caret-down"></i>    
                            </div>
                            <div class="dropdownTenure-content hide-row-Tenure" id="dropdownTenure-content" >
                                <input type="checkbox" id="freehold" name="freehold" value="freehold" <% if(data.freehold) {%> checked <%} %>>
                                <label for="freehold">Freehold</label><br>
                                <input type="checkbox" id="NinetyNineYL" name="NinetyNineYL" value="ninetynine"<% if(data.NinetyNineYL) {%> checked <%} %>> 
                                <label for="NinetyNineYL">99-Year Leasehold</label><br>
                                <input type="checkbox" id="HundredThreeYL" name="HundredThreeYL" value="hundredthree" <% if(data.HundredThreeYL) {%> checked <%} %>>
                                <label for="HundredThreeYL">103-Year Leasehold</label><br>
                                <input type="checkbox" id="HundredTenYL" name="HundredTenYL" value="hundredten" <% if(data.HundredTenYL) {%> checked <%} %>>
                                <label for="HundredTenYL">110-Year Leasehold</label><br>
                                <input type="checkbox" id="NineHundredNineYL" name="ninehundrednine" value="999"<% if(data.NineHundredNineYL) {%> checked <%} %>> 
                                <label for="NineHundredNineYL">999-Year Leasehold</label><br>
                                <input type="checkbox" id="tenure" name="tenure" value="unknown" <% if(data.tenure) {%> checked <%} %>>
                                <label for="tenure">Unknown Tenure</label><br>
                            </div>  
                        </div>
        
                        <span class="seperateFilter" style="margin: 10px 0 10px;"></span>

                        <!-- Filter: Price Slider -->
                        <div class="price-slider">
                            <p>Price</p>
                            <div class="slider-inputs">
                                <div class="slide-wrapper">
                                    Min. Price:
                                    <div class="slide-search">
                                        S$
                                        <input type="number" value="0" min="0" max="<%= largestPrice %>" name="minPrice" id="minPrice"/>
                                    </div>
                                </div>
                                <div class="slide-wrapper">
                                    Max. Price:
                                    <div class="slide-search">
                                        S$
                                        <input type="number" value="<%= largestPrice %>" min="0" max="<%= largestPrice %>" name="maxPrice" id="maxPrice"/>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-range">
                                <input type="range" value="0" min="0" max="<%= largestPrice %>" step="500" place/>
                                <input type="range" value="<%= largestPrice %>" min="0" max="<%= largestPrice %>" step="500" />
                            </div>
                        </div>
        
                        <span class="seperateFilter" style="margin: 10px 0 10px;"></span>
        
                        <!-- Filter: Size Slider -->
                        <div class="size-slider">
                            <p>Area</p>
                            <div class="slider-inputs">
                                <div class="slide-wrapper">
                                    Min. Area:
                                    <div class="slide-search" style="font-size: 14px;">
                                        <input type="number" value="0" min="0" max="<%= largestSize %>" name="minSize" id="minSize" />
                                        sqft
                                    </div>
                                </div>
                                <div class="slide-wrapper">
                                    Max. Area:
                                    <div class="slide-search" style="font-size: 14px">
                                        <input type="number" value="<%= largestSize %>" min="0" max="<%= largestSize %>" name="maxSize" id="maxSize" />
                                        sqft
                                    </div>
                                </div>
                            </div>
                            <div class="slider-range">
                                <input type="range" value="0" min="0" max="<%= largestSize %>" step="500" />
                                <input type="range" value="<%= largestSize %>" min="0" max="<%= largestSize %>" step="500" />
                            </div> 
                        </div>
        
                        


                        <!-- Filter: for admin/agent to view sold/archived listing -->
                        <% if(currentUser && currentUser.isAdmin || currentUser && currentUser.isAgent && currentUser.agentStatus){ %>
                            <span class="seperateFilter" style="margin: 0 0 10px;"></span>
                            <!-- sold -->
                            <div class="dropdownSold">
                                <div class="dropdownSold-content" id="dropdownSold-content">
                                    <input type="checkbox" id="sold" name="soldCheck" value="sold" <% if(data.soldCheck) {%> checked <%} %>>
                                    <label for="sold">Show Sold Listing</label><br>
                                    <input type="checkbox" id="archive" name="archiveCheck" value="archive" <% if(data.archiveCheck) {%> checked <%} %>>
                                    <label for="archive">Show Archived listing</label><br>
                                </div>  
                            </div>
                        <% } %>
        
                        <span class="seperateFilter" style="margin: 10px 0 10px;"></span>

                        <div class="filter-Btn">
                            <input type="button" onclick="resetForm()" value="Reset" >
                            <input type="submit" value="Apply" name="Apply" id="applyFilter">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 p-0 m-0" style="padding: 20px 0 20px 0;">
            <div id="loadProperty"></div>
            <div class="d-flex justify-content-center" data-aos="zoom-in" id="loadPropertyLower">
                <div id="loadMoreDiv"></div>
                <button class="loadMoreBtn" type="button" id="loadMoreBtn">Load More</button>
            </div>
        </div>
    </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script>
if (resultSet.length == 0) {
    document.getElementById("loadMoreDiv").remove();
    var html = `<p id="endOfResult">No Results Found</p>`
    document.getElementById("loadPropertyLower").insertAdjacentHTML("beforeend", html);
}


$('#minPrice').attr('placeholder', 'Min. Price');
$('#maxPrice').attr('placeholder', 'Max. Price');

                $('.filterDropDownBtn').click(function() {
                var $this = $(this);
                $('.filterDropDownMenu').slideToggle('slow', function() {
                });
            });
(function($) {

	function mediaSize() { 

		if (window.matchMedia('(max-width: 768px)').matches) {
            //hide btn
            $('.filter-header').hide();
            //show dropdown btn
            $('.filterDropDownBtn').show();
            //hide menu
            $('.filterDropDownMenu').hide();

		} else {
			$('.filter-header').show();
            $('.filterDropDownBtn').hide();
            $('.filterDropDownMenu').show();
		}
	};
	
	/* Call the function */
  mediaSize();
  /* Attach the function to the resize event listener */
	window.addEventListener('resize', mediaSize, false);  
	
})(jQuery);
</script>
<script> 
    var loadObj;
    loadObj = loadFirstFive(resultSet);

    $('.loadMoreBtn').click(function() {
        loadData(resultSet,loadObj);
    });
</script>

<script>

    if (searchindex != null) {
      document.getElementById("search-result").innerHTML = 'Search result for "' + searchindex + '"';
    }
    
    if (searchindex == "") {
      document.getElementById("search-result").innerHTML = 'All Listings';
    }

    if (resultSearch != null) {
      document.getElementById("search-result").innerHTML = 'Search result for "' + resultSearch + '"';
    }
    
    if (resultSearch == "") {
      document.getElementById("search-result").innerHTML = 'All Listings';
    }
</script>

<script>
    (function () {
        var parent = document.querySelector(".price-slider");
        if (!parent) return;
        var
            rangeS = parent.querySelectorAll("input[type=range]"),
            numberS = parent.querySelectorAll("input[type=number]");
        rangeS.forEach(function (el) {
            el.oninput = function () {
                var slide1 = parseFloat(rangeS[0].value),
                    slide2 = parseFloat(rangeS[1].value);
                if (slide1 > slide2) {
                    [slide1, slide2] = [slide2, slide1];
                }
                numberS[0].value = slide1;
                numberS[1].value = slide2;
            }
        });

        numberS.forEach(function (el) {
            el.oninput = function () {
                var number1 = parseFloat(numberS[0].value),
                    number2 = parseFloat(numberS[1].value);
                if (number1 > number2) {
                    var tmp = number1;
                    numberS[0].value = number2;
                    numberS[1].value = tmp;
                }
                rangeS[0].value = number1;
                rangeS[1].value = number2;
            }
        });
    })();
</script>
<script>
    (function () {
        var parent = document.querySelector(".size-slider");
        if (!parent) return;
        var
            rangeS = parent.querySelectorAll("input[type=range]"),
            numberS = parent.querySelectorAll("input[type=number]");
        rangeS.forEach(function (el) {
            el.oninput = function () {
                var slide1 = parseFloat(rangeS[0].value),
                    slide2 = parseFloat(rangeS[1].value);
                if (slide1 > slide2) {
                    [slide1, slide2] = [slide2, slide1];
                }
                numberS[0].value = slide1;
                numberS[1].value = slide2;
            }
        });
        numberS.forEach(function (el) {
            el.oninput = function () {
                var number1 = parseFloat(numberS[0].value),
                    number2 = parseFloat(numberS[1].value);
                if (number1 > number2) {
                    var tmp = number1;
                    numberS[0].value = number2;
                    numberS[1].value = tmp;
                }
                rangeS[0].value = number1;
                rangeS[1].value = number2;
            }
        });
    })();
</script>
<script>                               
    function resetForm() {
        //document.getElementById("formFilter").resetForm()
        //property type
        document.getElementById("hdb").checked=false;
        document.getElementById("condo").checked=false;
        document.getElementById("landed").checked=false;
        //District type
        document.getElementById("north").checked=false;
        document.getElementById("south").checked=false;
        document.getElementById("east").checked=false;
        document.getElementById("west").checked=false;
        //rooms
        document.getElementById("1").checked=false;
        document.getElementById("2").checked=false;
        document.getElementById("3").checked=false;
        document.getElementById("4").checked=false;
        document.getElementById("5").checked=false;
        document.getElementById("6").checked=false;
        //sort by price
        document.getElementById("sortPrice").value="";
        //sort by date
        document.getElementById("sortDate").value="";
        //sort by popularity
        document.getElementById("sortPop").value="";
        //sold/archive
        // document.getElementById("sold").checked=false;
        // document.getElementById("notsold").checked=false;
        // document.getElementById("archive").checked=false;
        // document.getElementById("notarchive").checked=false;
        //sort by sold
        document.getElementById("sortSold").value="";
        //sort by archive
        document.getElementById("sortArchive").value="";
    }                
</script>
<script>
    $('.dropdownPType-content-onclick').click(function() {
            var $this = $(this);
            $('.hide-row-PType').slideToggle('slow', function() {
        });
    });

    $('.dropdownDistrict-content-onclick').click(function() {
            var $this = $(this);
            $('.hide-row-District').slideToggle('slow', function() {
        });
    });

    $('.dropdownBedroom-content-onclick').click(function() {
            var $this = $(this);
            $('.hide-row-Bedroom').slideToggle('slow', function() {
        });
    });

    $('.dropdownBathroom-content-onclick').click(function() {
            var $this = $(this);
            $('.hide-row-Bathroom').slideToggle('slow', function() {
        });
    });

    $('.dropdownTenure-content-onclick').click(function() {
            var $this = $(this);
            $('.hide-row-Tenure').slideToggle('slow', function() {
        });
    });
    </script>
<script>
    $(document).ready(function(){
        $(window).scroll(function(){
            //shows up when scroll over 300
            if($(window).scrollTop()>300){
            $('.my_bttn').fadeIn(250);
        }
        else{
            $('.my_bttn').fadeOut(250);
        }
        });
        //back to top
        $('.my_bttn').click(function(){
        //scroll speed(400) scroll range left(0)
        $('html,body').animate(
            {scrollTop:0},400
        );
        });
    });
  </script>
<%- include("../partials/footer") %>