<%- include("../partials/header") %>

  <h1>This is the listings page</h1>

  <div id='map'></div>

  <div>
    <h4>
      <%= listing.name %>
    </h4>
    <img src="<%= listing.image %>">
    <p>
      <%= listing.description %>
    </p>
  </div>
  <p>
    <em>Submitted by: <%= listing.author.username %></em>
  </p>
  <% if(currentUser && listing.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
    <a class="btn btn-warning" href="/listings/<%= listing._id %>/edit">Edit</a>
    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
      <button class="btn btn-danger">DELETE</button>
    </form>
    <% } %>

      <% listing.comments.forEach(function(comment){ %>
        <p>
          <strong>
            <%= comment.author.username %>
          </strong> - <%= comment.text %>
        </p>
        <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
          <a class="btn btn-warning" href="/listings/<%= listing._id %>/comments/<%= comment._id %>/edit">Edit</a>
          <form action="/listings/<%= listing._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">DELETE</button>
          </form>
          <% } %>
            <% }) %>

              <p>
                <a class="btn btn-success" href="/listings/<%= listing._id %>/comments/new">Add new Comment</a>
              </p>

              <script>
                const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
                //CONTROL + SHIFT + P -> 'format' -> 'File: Save without Formatting'
                const listing = <%- JSON.stringify(listing) %>
              </script>
              <script src="/javascripts/showPageMap.js"></script>

              <%- include("../partials/footer") %>