<%- include("../partials/header") %>

  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <% if(listing.archiveStatus==true && listing.soldStatus==false) { %>
    <div class="text-center fixed-top py-1" style="background: #4632DA; color: white; top: 110px; font-weight: 600; font-size: 0.9em;">
      <span>Archived</span>
    </div>
    <div class="mb-4 pb-3"></div>
  <% } else if(listing.archiveStatus==false && listing.soldStatus==true){ %>
    <div class="text-center fixed-top py-1" style="background: #DB0000; color: white; top: 110px; font-weight: 600; font-size: 0.9em;">
      <span>Sold</span>
    </div>
    <div class="mb-4 pb-3"></div>
  <% } else { %>
  <% } %>

  <div class="container pb-0" style="margin-top: 45px;">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/listings">Listings</a></li>
            <li class="breadcrumb-item active" aria-current="page"><%= listing.name %></li>
          </ol>
        </nav>
      </div>
      <div class="col-12 pt-3 justify-content-between align-items-center d-flex">
        <div>
          <p class="my-0" style="font-size: 2.6em; font-weight: 350;"><%= listing.name %></p>
        </div>
        <div class="d-none d-sm-block">
          <div class="justify-content-end d-flex">
            <div>
              <% if(!currentUser){ %>
              <% } else { %>
                <form action="/conversation/<%= currentUser._id %>/<%= listing.author.id %>" method="POST">
                  <button type="submit" class="btn btn-outline-dark">
                    <ion-icon name="chatbox-outline"></ion-icon>
                  </button>
                </form>
              <% } %>
            </div>
            <div class="pl-1">
              <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#listingShare">
                <ion-icon name="share-outline"></ion-icon>
              </button>
              <!-- Modal -->
              <div id="listingShare" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header justify-content-between d-flex">
                      <span class="modal-title" style="font-size: 1.5em; font-weight: 600;">Share Listing</span>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" style="height: 260px!important;">

                      <div class="row">
                        <div class="col-12 mb-3">
                          <p class="mb-2" style="font-weight: 500; font-size: 0.95em;">Share this listing</p>
                          <!-- Your share button code -->
                          <div class="fb-share-button align-items-start d-flex left" 
                            data-href="https://www.hatchdev.asia/" 
                            data-layout="button_count">
                          </div>
                          <a class="twitter-share-button right" style="text-decoration: none; border-radius: 3px; border: solid 1px #1DA1F2; background: #1DA1F2; color: white; font-size: 0.8em; font-weight: 600; padding: 0 17px;"
                            href="https://twitter.com/intent/tweet?text=Check out this property! https://sap-dit3a87.herokuapp.com/listings/<%= listing._id %>" target="_blank">
                            <ion-icon name="logo-twitter"></ion-icon> Tweet
                          </a>
                        </div>
                        <div class="col-12 mb-3">
                          <p class="mb-2" style="font-weight: 500; font-size: 0.95em;">Find us at</p>
                          <div class="icons">
                            <a href="#" class="left fb-share-button" data-href="https://www.hatchdev.asia/"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="left right"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="left right"><i class="fab fa-instagram"></i></a>
                          </div>
                        </div>
                        <div class="col-12">
                          <p class="mb-2" style="font-weight: 500; font-size: 0.95em;">Copy this link</p>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text" style="background:white;">
                                <i class="fas fa-link"></i>
                              </span>
                            </div>
                            <input type="text" class="form-control" value="https://sap-dit3a87.herokuapp.com/listings/<%= listing._id %>" id="myInput">
                            <div class="input-group-append">
                              <span class="input-group-text py-1" style="background: #4632DA;">
                                <button onclick="addToClipboard()" class="btn p-0 m-0" style="color: white;">Copy</button>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a href="mailto:<%= listing.author.email %>" style="color: black; text-decoration: none;">
                <button class="btn btn-outline-dark">
                  <ion-icon name="mail-outline"></ion-icon>
                </button>
              </a>
              <a href="/user/<%= listing.author.id %>" style="text-decoration: none;">
                <button class="btn btn-outline-dark">
                  <ion-icon name="person-outline"></ion-icon>
                </button>
              </a>
            </div>
            <div class="pl-1">
              <form action="/listings/<%= listing._id %>/like" method="POST">
                <% if (currentUser && listing.likes.some(function (like) { return like.equals(currentUser._id) })) { %>
                  <button class="btn btn-outline-dark">
                    <i class="fas fa-heart filledHeart"></i>
                  </button>
                <% } else { %>
                  <button class="btn btn-outline-dark">
                    <ion-icon name="heart-outline" class="pr-1"></ion-icon>
                  </button>
                <% } %>
              </form>
            </div>
            <% if(currentUser && listing.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
              <div class="pl-1">
                <div class="dropdown">
                  <button class="btn btn-outline-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/listings/<%= listing._id %>/edit">Edit</a>
                    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
                      <button class="dropdown-item">Delete</button>
                    </form>
                    <% if(listing.archiveStatus==false && listing.soldStatus==false){ %>
                      <a class="dropdown-item" href="/listings/<%= listing._id %>/archive">
                        Archive
                      </a>
                      <a class="dropdown-item" href="/listings/<%= listing._id %>/sold">
                        Mark as Sold
                      </a>
                    <% } else if(listing.archiveStatus==true&& listing.soldStatus==false) { %>
                      <a class="dropdown-item" href="/listings/<%= listing._id %>/unarchive">
                        Unarchive
                      </a>
                    <% } else { %>
                      <a class="dropdown-item" href="/listings/<%= listing._id %>/unsold">
                        Mark as Available
                      </a>
                    <% } %>
                  </div>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>
      <div class="col-12 pb-3" style="cursor: default;">
        <span class="badge badge-default badge-outlined"><%= listing.type %></span>
        <span class="badge badge-default badge-outlined"><%= listing.zone %></span>
        <span class="badge badge-default badge-outlined"><%= listing.tenure %></span>
        <span class="badge badge-default badge-outlined"><%= listing.location %></span>
      </div>
      <div class="col-12 d-sm-none mb-3">
        <div class="left m-0 mr-1">
          <% if(!currentUser){ %>
          <% } else { %>
            <form action="/conversation/<%= currentUser._id %>/<%= listing.author.id %>" method="POST">
              <button type="submit" class="btn btn-outline-dark">
                <ion-icon name="chatbox-outline"></ion-icon>
              </button>
            </form>
          <% } %>
        </div>
        <div class="left right m-0 mr-1">
          <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#listingShare">
            <ion-icon name="share-outline"></ion-icon>
          </button>
          <!-- Modal -->
          <div id="listingShare" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header justify-content-between d-flex">
                  <span class="modal-title" style="font-size: 1.5em; font-weight: 600;">Share Listing</span>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style="height: 260px!important;">
                  <div class="row">
                    <div class="col-12 mb-3">
                      <p class="mb-2" style="font-weight: 500; font-size: 0.95em;">Share this listing</p>
                      <!-- Your share button code -->
                      <div class="fb-share-button align-items-start d-flex left" 
                        data-href="https://www.hatchdev.asia/" 
                        data-layout="button_count">
                      </div>
                      <a class="twitter-share-button right" style="text-decoration: none; border-radius: 3px; border: solid 1px #1DA1F2; background: #1DA1F2; color: white; font-size: 0.8em; font-weight: 600; padding: 0 17px;"
                        href="https://twitter.com/intent/tweet?text=Check out this property! https://sap-dit3a87.herokuapp.com/listings/<%= listing._id %>" target="_blank">
                        <ion-icon name="logo-twitter"></ion-icon> Tweet
                      </a>
                    </div>
                    <div class="col-12 mb-3">
                      <p class="mb-2" style="font-weight: 500; font-size: 0.95em;">Find us at</p>
                      <div class="icons">
                        <a href="#" class="left fb-share-button" data-href="https://www.hatchdev.asia/"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="left right"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="left right"><i class="fab fa-instagram"></i></a>
                      </div>
                    </div>
                    <div class="col-12">
                      <p class="mb-2" style="font-weight: 500; font-size: 0.95em;">Copy this link</p>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" style="background:white;">
                            <i class="fas fa-link"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" value="https://sap-dit3a87.herokuapp.com/listings/<%= listing._id %>" id="myInput">
                        <div class="input-group-append">
                          <span class="input-group-text py-1" style="background: #4632DA;">
                            <button onclick="addToClipboard()" class="btn p-0 m-0" style="color: white;">Copy</button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a href="mailto:<%= listing.author.email %>" style="color: black; text-decoration: none;">
            <button class="btn btn-outline-dark">
              <ion-icon name="mail-outline"></ion-icon>
            </button>
          </a>
          <a href="/user/<%= listing.author.id %>" style="text-decoration: none;">
            <button class="btn btn-outline-dark">
              <ion-icon name="person-outline"></ion-icon>
            </button>
          </a>
        </div>
        <div class="left right m-0 mr-1">
          <form action="/listings/<%= listing._id %>/like" method="POST">
            <% if (currentUser && listing.likes.some(function (like) { return like.equals(currentUser._id) })) { %>
              <button class="btn btn-outline-dark">
                <i class="fas fa-heart filledHeart"></i>
              </button>
            <% } else { %>
              <button class="btn btn-outline-dark">
                <ion-icon name="heart-outline" class="pr-1"></ion-icon>
              </button>
            <% } %>
          </form>
        </div>
        <% if(currentUser && listing.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
          <div>
            <div class="dropdown">
              <button class="btn btn-outline-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <ion-icon name="ellipsis-vertical-outline"></ion-icon>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/listings/<%= listing._id %>/edit">Edit</a>
                <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
                  <button class="dropdown-item">Delete</button>
                </form>
                <% if(listing.archiveStatus==false && listing.soldStatus==false){ %>
                  <a class="dropdown-item" href="/listings/<%= listing._id %>/archive">
                    Archive
                  </a>
                  <a class="dropdown-item" href="/listings/<%= listing._id %>/sold">
                    Mark as Sold
                  </a>
                <% } else if(listing.archiveStatus==true&& listing.soldStatus==false) { %>
                  <a class="dropdown-item" href="/listings/<%= listing._id %>/unarchive">
                    Unarchive
                  </a>
                <% } else { %>
                  <a class="dropdown-item" href="/listings/<%= listing._id %>/unsold">
                    Mark as Available
                  </a>
                <% } %>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>

    <!-- gallery -->
    <div class="row">
      <div class="col-12">
        <%- listing.threeDImage %>
      </div>
      <div class="col-12 col-md-8 pr-md-1">
        <div class="galleryThumbnail">
          <a data-fancybox="gallery" href="<%= listing.thumbnail %>" data-type="image">
            <img src="<%= listing.thumbnail %>" class="img-fluid m-0" alt="">
            <div class="mainToggleText">
              <%= listing.image.length + listing.video.length + 1 + " +" %>
            </div>
          </a>
        </div>
      </div>
      <div class="col-4 pl-1 d-none d-md-block">
        <div id='map' style="height: 300px!important; width: 100%!important;" class="m-0"></div>
      </div>
      <% for(let i=0; i<listing.image.length; i++){ %>
        <a data-fancybox="gallery" href="<%= listing.image[i] %>" data-type="image"></a>
      <% } %>
      <% for(let i=0; i<listing.video.length; i++) { %>
        <a data-fancybox="gallery" data-width="640" data-height="360" href="<%= listing.video[i] %>">
          <%
          console.log('original video: ', listing.video[i]);
          var slicedVideo = listing.video[i].split(".");
          slicedVideo[slicedVideo.length - 1] = "jpg"
          var videoThumbnail = slicedVideo.join(".");
          %>
          <img class="card-img-top img-fluid d-none" src="<%=videoThumbnail%>" />
        </a>
      <% } %>
    </div>
  </div>

  <div class="container">
    <p class="mb-1" style="font-size: 0.9em;">
      <em>
        Published <%= moment(listing.createdAt).fromNow() %> by 
        <a href="/user/<%= listing.author.id %>"><%= listing.author.username %></a>
      </em>
    </p>
  </div>

  <div class="container pt-2 pb-5">
    <div class="row">
      <div class="col-12 col-md-7 col-lg-8">
        <p class="my-0" style="font-size: 2.6em; font-weight: 350;"><%= listing.name %></p>
        <p class="my-0" style="font-size: 1.5em; font-weight: 650;"><%= "S$" + listing.price %></p>
        <p class="pt-4 align-items-center d-flex" style="font-size: 1.05em;">
          <ion-icon name="business-outline"></ion-icon>
          <span class="pl-2" style="text-transform:capitalize"><%= listing.type %></span>
          <ion-icon class="pl-3" name="compass-outline"></ion-icon>
          <span class="pl-2" style="text-transform:capitalize"><%= listing.zone %></span>
          <ion-icon class="pl-3" name="location-outline"></ion-icon>
          <span class="pl-2"><%= listing.location %></span>
        </p>

        <div class="pb-0 justify-content-start d-flex">
          <form action="/listings/<%= listing._id %>/like" method="POST">
            <% if (currentUser && listing.likes.some(function (like) { return like.equals(currentUser._id) })) { %>
              <button class="btn btn-outline-dark">
                <i class="fas fa-heart filledHeart"></i>
                <span>
                  <%= listing.likes.length %> likes
                </span>
              </button>
            <% } else { %>
              <button class="btn btn-outline-dark align-items-center d-flex">
                <ion-icon name="heart-outline" class="pr-1"></ion-icon>
                <span>
                  <%= listing.likes.length %> likes
                </span>
              </button>
            <% } %>
          </form>
          <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#listingLikes">
            See more details
          </button>
        </div>
        <!-- Modal -->
        <div id="listingLikes" class="modal fade" role="dialog">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header justify-content-between d-flex">
                <h4 class="modal-title">Likes: <%= listing.likes.length %></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <% listing.likes.forEach(function(like) { %>
                  <div class="row">
                    <div class="col-12 mb-3">
                      <tr>
                        <td>
                          <img src="<%= like.image %>" alt="" style="width: 55px; border-radius: 50%;">
                          <span class="ml-2"><%= like.username %></span>
                        </td>
                      </tr>
                    </div>
                  </div>
                <% }); %>
                <% if (listing.likes.length===0) { %>
                  <tr>
                    <td style="color: grey;"><em>No likes yet.</em></td>
                  </tr>
                <% } %>
              </div>
            </div>
          </div>
        </div>

        <hr>
        <p style="font-weight: 600; font-size: 1.3em;">Description</p>
        <p class="pb-3"><%= listing.description %></p>
        <hr>
        <p style="font-weight: 600; font-size: 1.3em;">Property Details</p>
        <div class="row">
          <div class="col-6 pb-3">
            <span style="font-size: 0.9em; font-weight:650;">District</span><br>
            <span style="text-transform:capitalize"><%= listing.zone %></span>
          </div>
          <div class="col-6 pb-3">
            <span style="font-size: 0.9em; font-weight:650;">Street Address</span><br>
            <span><%= listing.street %></span>
          </div>
          <div class="col-6 pb-3">
            <span style="font-size: 0.9em; font-weight:650;">Unit Number</span><br>
            <span><%= listing.unitNumber %></span>
          </div>
          <div class="col-6 pb-3">
            <span style="font-size: 0.9em; font-weight:650;">Postal Code</span><br>
            <span><%= listing.location %></span>
          </div>
          <div class="col-6 pb-3">
            <span style="font-size: 0.9em; font-weight:650;">Type</span><br>
            <span style="text-transform:capitalize"><%= listing.type %></span>
          </div>
          <div class="col-6 pb-3">
            <span style="font-size: 0.9em; font-weight:650;">Tenure</span><br>
            <span>
              <% if (listing.tenure == "ninetynine") { %>
                <span style="font-size: 0.9em;">
                  99-Year
                </span>
              <%} else if (listing.tenure == "hundredthree") { %>
                <span style="font-size: 0.9em;">
                  103-Year
                </span>
              <%} else if (listing.tenure == "hundredten") { %>
                <span style="font-size: 0.9em;">
                  110-Year
                </span>
              <%} else if (listing.tenure == "ninehundrednine") { %>
                <span style="font-size: 0.9em;">
                  999-Year
                </span>
              <%} else if (listing.tenure == "freehold") { %>
                <span style="font-size: 0.9em;">
                 Freehold
                </span>
              <% } %>
            </span>
          </div>
          <div class="col-6 pb-3">
            <span style="font-size: 0.9em; font-weight:650;">Floor Size</span><br>
            <span><%= listing.size %></span>
          </div>
          <div class="col-6 pb-3">
            <span style="font-size: 0.9em; font-weight:650;">Agent</span><br>
            <span><%= listing.author.username %></span>
          </div>
          <div class="col-6 pb-3">
            <span style="font-size: 0.9em; font-weight:650;">Bedrooms</span><br>
            <span><%= listing.bedrooms %></span>
          </div>
          <div class="col-6 pb-3">
            <span style="font-size: 0.9em; font-weight:650;">Bathrooms</span><br>
            <span><%= listing.bathrooms %></span>
          </div>
          <div class="col-6 pb-3">
            <span style="font-size: 0.9em; font-weight:650;">Listed On</span><br>
            <span><%= moment(listing.createdAt).fromNow() %></span>
          </div>
        </div>
        <hr>
        <% if(listing.carpark!=true && listing.pool!=true && listing.gym!=true && listing.playground!=true && listing.hall!=true && listing.mall!=true && listing.intercom!=true && listing.security!=true){ %>
        <% } else { %>
          <p style="font-weight: 600; font-size: 1.3em;">Facilities & Amenities</p>
          <p style="font-size: 1.05em;">
            <div class="row">
              <% if(listing.carpark==true){ %>
                <div class="col-6 pb-3">
                  <img src="/img/carpark.svg" alt="" style="width:22px;">
                  <span style="font-size: 0.9em;" class="pl-2">Nearby carpark</span><br>
                </div>
              <% } %>
              <% if(listing.pool==true){ %>
                <div class="col-6 pb-3">
                  <img src="/img/swimmingpool.svg" alt="" style="width:30px;">
                  <span style="font-size: 0.9em;" class="pl-2">Nearby <span class="d-none d-sm-inline">swimming </span>pool</span><br>
                </div>
              <% } %>
              <% if(listing.gym==true){ %>
                <div class="col-6 pb-3">
                  <img src="/img/gym.svg" alt="" style="width:25px;">
                  <span style="font-size: 0.9em;" class="pl-2">Nearby gym</span><br>
                </div>
              <% } %>
              <% if(listing.playground==true){ %>
                <div class="col-6 pb-3">
                  <img src="/img/playground.svg" alt="" style="width:22px;">
                  <span style="font-size: 0.9em;" class="pl-2">Nearby playground</span><br>
                </div>
              <% } %>
              <% if(listing.hall==true){ %>
                <div class="col-6 pb-3">
                  <img src="/img/hall.svg" alt="" style="width:22px;">
                  <span style="font-size: 0.9em;" class="pl-2">Nearby <span class="d-none d-sm-inline">multi-purpose </span>hall</span><br>
                </div>
              <% } %>
              <% if(listing.mall==true){ %>
                <div class="col-6 pb-3">
                  <img src="/img/shopping.svg" alt="" style="width:20px;">
                  <span style="font-size: 0.9em;" class="pl-2">Nearby <span class="d-none d-sm-inline">shopping </span>mall</span><br>
                </div>
              <% } %>
              <% if(listing.intercom==true){ %>
                <div class="col-6 pb-3">
                  <img src="/img/intercom.svg" alt="" style="width:22px;">
                  <span style="font-size: 0.9em;" class="pl-2">Intercom</span><br>
                </div>
              <% } %>
              <% if(listing.security==true){ %>
                <div class="col-6 pb-3">
                  <img src="/img/security.svg" alt="" style="width:22px;">
                  <span style="font-size: 0.9em;" class="pl-2">24 hours security</span><br>
                </div>
              <% } %>
            </div>
          </p>
          <hr>
        <% } %>
        <p style="font-weight: 600; font-size: 1.3em;">Other Nearby Facilities</p>
        <p style="font-size: 1.05em;">
          <div id='map1' style="height: 300px!important; width: 100%!important;" class="m-0 pb-3"></div>
        </p>
        <hr>
        <!-- Collapse Show Comment Section -->
        <div class="text-right">
          <a class="pull-right" role="button" data-toggle="collapse" href="#collapseComment"
            aria-expanded="false" aria-controls="collapseComment" style="text-decoration: none;">
            <ion-icon class="iconHeader" name="add-outline"></ion-icon>
          </a>
        </div>
        <p style="font-weight: 600; font-size: 1.3em;">Comments</p>
        <!-- Collapse Add Comment-->
        <div class="collapse" id="collapseComment">
          <div class="well pl-2" style="border-left: 3px solid #4632DA;">
            <% if(!currentUser) { %>
              <p>You need to login before you can comment. <a href="/login">Click here to login.</a></p>
            <% } %>
            <% if(currentUser) { %>
              <form id="add-comment-form" action="/listings/<%= listing._id %>/comments" method="POST">
                <div class="form-group">
                  <input class="form-control d-none" type="text" name="comment[author]">
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="comment[text]" placeholder="Write a comment..." form="add-comment-form" rows="3" cols="70" required></textarea>
                </div>
                <div class="form-group">
                  <button class="btn btn-outline-dark editDeleteReviewBtn">Post</button>
                </div>
              </form>
            <% } %>
          </div>
        </div>
        <hr>
        <% if (listing.comments.length===0) { %>
          <em style="color: grey;">No comments yet.</em>
        <% } %>
        <% listing.comments.forEach(function(comment) { %>
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-1">
                  <a href="/user/<%= comment.author.id %>">
                    <img src="<%= comment.author.image %>" alt="" style="width:55px; height:55px; object-fit: cover; border-radius: 50%;">
                  </a>
                </div>
                <div class="col-11">
                  <div class="row">
                    <div class="col-8">
                      <a href="/user/<%= comment.author.id %>" style="text-decoration: none; color: black;">
                        <%= comment.author.username %><br>
                      </a>
                      <span style="font-size: 0.85em; color: black;">
                        <em>
                          <%= moment(comment.createdAt).fromNow() %>
                        </em>
                      </span>
                    </div>
                    <div class="col-4 text-right">
                      <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <a class="btn showListingManageBtn p-0" role="button" data-toggle="collapse"
                        href="#collapseEdit<%= comment._id %>" aria-expanded="false"
                        aria-controls="collapse<%= comment._id %>">
                          <ion-icon name="create-outline" class="editBtn py-1"></ion-icon>
                        </a>
                        <form id="delete-form"
                          action="/listings/<%= listing._id %>/comments/<%= comment._id %>?_method=DELETE"
                          method="POST" style="display: inline;">
                          <button class="btn showListingManageBtn p-0">
                            <ion-icon name="trash-outline" class="trashBtn py-1"></ion-icon>
                          </button>
                        </form>
                      <% } %>
                    </div>
                    <div class="col-12">
                      <%= comment.text %>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Edit Form -->
              <div class="collapse" id="collapseEdit<%= comment._id %>">
                <div class="well pl-2" style="border-left: 3px solid #4632DA; margin-top: 15px;">
                  <form id="edit-comment-form<%= comment._id %>"
                    action="/listings/<%= listing._id %>/comments/<%= comment._id %>?_method=PUT"
                    method="POST">
                    <div class="form-group">
                      <textarea class="form-control" name="comment[text]" placeholder="Your comment text..."
                        form="edit-comment-form<%= comment._id %>" rows="3"
                        cols="70"><%= comment.text %></textarea>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-outline-dark editDeleteReviewBtn">Save Changes<span
                          class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
                    </div>
                  </form>
                </div>
              </div>
              <hr>
            </div>
          </div>
        <% }) %>
      </div>
      <div class="col-12 col-md-5 col-lg-4 mt-4 mt-md-0">
        <% if(listing.archiveStatus==true || listing.soldStatus==true){ %>
          <div class="item shark-2 text-center p-4" style="border: 1.5px lightgray solid;">
        <% } else { %>
          <div class="item shark-3 text-center p-4" style="border: 1.5px lightgray solid;">
        <% } %>
          <a href="/user/<%= listing.author.id %>">
            <img src="<%= listing.author.image %>" alt="" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover!important;">
          </a>
          <div>
            <a href="/user/<%= listing.author.id %>" style="color: black;">
              <p class="pt-2 mb-0" style="font-size: 1.15em; font-weight: 600;">
                <%= listing.author.firstName + " " + listing.author.lastName %>
              </p>
            </a>
            <p class="mb-0" style="font-size: 0.9em; font-weight: 350;">
              <em><%= "@" + listing.author.username %></em>
            </p>
            <% if (listing.author.rating===0) { %>
              <span class="justify-content-center d-flex pt-3 pb-1" style="font-size: 0.9em; color: gray;">
                <em>No reviews found.</em>
              </span>
              <% } else { %>
                <a href="/user/<%= listing.author.id %>/reviews" id="mainReview">
                  <p class="pt-3 mb-2" style="font-size: 1em; font-weight: 600;">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star <% if (listing.author.rating > 1.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (listing.author.rating > 2.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (listing.author.rating > 3.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (listing.author.rating > 4.5) { %> checked <% } %>"></span>
                    <%= listing.author.rating.toFixed(2) %>
                  </p>
                </a>
              <% } %>
            
            <p class="pt-2 mb-0" style="font-size: 0.9em; font-weight: 350;">
              CEA License <span style="font-weight: 600; font-size: 1.15em;"><%= listing.author.cea %></span>
            </p>
            <p class="" style="font-size: 0.9em; font-weight: 350;">
              Joined on <span style="font-weight: 600; font-size: 1.15em;"><%= moment(listing.author.createdAt).format('MMM DD, YYYY') %></span>
            </p>
            <% if(currentUser){ %>
              <div class="row">
                <div class="col-6 px-1">
                  <form action="/conversation/<%= currentUser._id %>/<%= listing.author.id %>/<%=listing._id %>" method="POST">
                    <button type="submit" class="btn btn-dark" style="width: 100%; font-size: 0.95em;">
                      Chat
                    </button>
                  </form>
                </div>
                <div class="col-6 px-1">
                  <button type="submit" class="btn btn-success" style="width: 100%; font-size: 0.95em;" onclick="window.open('https:\/\/wa.me/65<%= listing.author.phone %>/?text=')">
                    Whatsapp
                  </button>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
    const listing = <%- JSON.stringify(listing) %>
  </script>
  <script src="/javascripts/showPageMap.js"></script>
  <script>
    cloudinary
  </script>
  <script>
    function addToClipboard() {
    /* Get the text field */
    var copyText = document.getElementById("myInput");

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /* For mobile devices */

    /* Copy the text inside the text field */
    document.execCommand("copy");
  }
  </script>

<%- include("../partials/footer") %>