<%- include("../../partials/header") %>

<div style="overflow-x: hidden;" class="mb-4">
  <div class="row">
    <div class="col-3">
      <div class="navigation sticky-top">
        <ul>
          <li class="list navigationHover">
            <a href="/dashboard">
              <span class="icon activeText">
                <ion-icon name="layers-outline"></ion-icon>
              </span>
              <span class="title activeText">Overview</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/accounts">
              <span class="icon">
                <ion-icon name="people-outline"></ion-icon>
              </span>
              <span class="title">Accounts</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/listings">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Listings</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/comments">
              <span class="icon">
                <ion-icon name="chatbubbles-outline"></ion-icon>
              </span>
              <span class="title">Comments</span>
            </a>
          </li>
          <li class="list active">
            <a href="/dashboard/reviews">
              <span class="icon">
                <ion-icon name="star-outline"></ion-icon>
              </span>
              <span class="title">Reviews</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-9">
      <div class="row mr-5">
        <div class="col-12 mb-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-1">
              <li class="breadcrumb-item"><a href="/listings">Home</a></li>
              <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">Reviews</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row accountTableHeading mr-5 px-4 mt-0">
        <div class="col-12 px-0">
          <% if(noMatch !== undefined){ %>
            <form action="/dashboard/reviews" method="GET">
              <div class="input-group mb-3">
                <input type="text" class="form-control rounded-0" name="search" placeholder="Search review text">
                <div class="input-group-append">
                  <button class="btn btn-dark rounded-0">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
          <% } %>
        </div>
        <div class="col-12 px-0">
          <p class="mb-0" style="font-weight: 500; font-size: 1.1em;">Reviews</p>
        </div>
        <div class="col-12 text-right" style="font-size: 0.88em;">
          <em>
            <% if(reviews.length==0){ %>
              Result: 0—0
            <% } else { %>
              Result: <%= (Number(current)*8)-7 %>—<%= reviews.length+(Number(current)-1)*8 %>
            <% } %>
          </em>
        </div>
        <table class="table table-sortable">
          <thead>
            <tr>
              <th style="pointer-events: none;" class="justify-content-start d-flex">
                <i class="fas fa-sort"></i>
              </th>
              <th>Review By</th>
              <th>Rating Given</th>
              <th>Review Given</th>
              <th style="pointer-events: none!important;">Actions</th>
            </tr>
          </thead>
          <tbody>
             <% if(reviews.length==0){ %>
              <tr>
                <% if(noMatch !== undefined){ %>
                  <td><em><%= noMatch %></em></td>
                <% } else { %>
                  <td><em>No users yet.</em></td>
                <% } %>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            <% } %>
            <% reviews.forEach(function(review){ %>
              <tr onclick="window.location='/user/<%= review.user %>/reviews';">
                  <td>
                    <a href="/user/<%= review.author.id %>">
                      <img src="<%= review.author.image %>" alt="" style="border-radius: 50%; width: 50px; height:50px; object-fit: cover;">
                    </a>
                  </td>
                  <td class="pt-4">
                    <a href="/user/<%= review.author.id %>" style="text-decoration: none; color: black; font-size: 0.95em;">
                      <%= review.author.username %>
                    </a>
                  </td>
                </a>
                <td class="pt-4">
                  <div class="justify-content-start d-flex">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star <% if (review.rating > 1.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (review.rating > 2.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (review.rating > 3.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (review.rating > 4.5) { %> checked <% } %>"></span>
                    <span class="pl-1"><%= review.rating + ".0" %></span>
                  </div>
                </td>
                <td class="pt-4" style="min-width:420px!important; max-width:420px!important; white-space: pre-wrap;"><%= review.text %></td>
                <td class="justify-content-start d-flex pt-2">
                  <a href="/user/<%= review.user %>/reviews" class="btn dashboardManageBtn" style="border-radius: 0%!important;">
                    <ion-icon name="eye-outline" class="showBtn"></ion-icon>
                  </a>
                  <% if(currentUser && review.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <a href="/user/<%= review.author.id %>/reviews/<%= review._id %>/edit/dashboard" class="btn dashboardManageBtn">
                      <ion-icon name="create-outline" class="editBtn"></ion-icon>
                    </a>
                    <form action="/user/<%= review.author.id %>/reviews/<%= review._id %>/dashboard?_method=DELETE" method="POST">
                      <button class="btn dashboardManageBtn">
                        <ion-icon name="trash-outline" class="trashBtn"></ion-icon>
                      </button>
                    </form>
                  <% } %>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

      <div class="row text-center pr-5">
        <div class="col-12 justify-content-center d-flex pr-5">
          <% if (pages && pages > 0) { %>
            <ul class="pagination text-center">
              <% if (current == 1) { %>
                <li class="disabled"><a class="border px-3 py-2">First</a></li>
              <% } else { %>
                <li><a class="border px-3 py-2" href="/dashboard/reviews<%if(search){%>?search=<%=search%><%}%>">First</a></li>
              <% } %>
          
              <% if (current == 1) { %>
                <li class="disabled"><a class="border px-3 py-2">«</a></li>
              <% } else { %>
                <li><a class="border px-3 py-2" href="/dashboard/reviews?page=<%= Number(current) - 1 %><%if(search){%>&search=<%=search%><%}%>">«</a></li>
              <% } %>
          
              <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
              <% if (i !== 1) { %>
                <li class="disabled"><a class="border px-3 py-2">...</a></li>
              <% } %>
              <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                  <li class="active"><a class="border px-3 py-2"><%= i %></a></li>
                <% } else { %>
                  <li><a class="border px-3 py-2" href="/dashboard/reviews?page=<%= i %><%if(search){%>&search=<%=search%><%}%>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                  <li class="disabled"><a class="border px-3 py-2">...</a></li>
                <% } %>
              <% } %>
          
              <% if (current == pages) { %>
                <li class="disabled"><a class="border px-3 py-2">»</a></li>
              <% } else { %>
                <li><a class="border px-3 py-2" href="/dashboard/reviews?page=<%= Number(current) + 1 %><%if(search){%>&search=<%=search%><%}%>">»</a></li>
              <% } %>
          
              <% if (current == pages) { %>
                <li class="disabled"><a class="border px-3 py-2">Last</a></li>
              <% } else { %>
                <li><a class="border px-3 py-2" href="/dashboard/reviews?page=<%= pages %><%if(search){%>&search=<%=search%><%}%>">Last</a></li>
              <% } %>
            </ul>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/javascripts/owl.carousel.min.js"></script>
<script src="/javascripts/jquer.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
<script>
  $(window).on('load', function(){
    $(".loader").fadeOut(1000);
});
</script>
<script>
  function sortTableByColumn(table, column, asc = true) {
      const dirModifier = asc ? 1 : -1;
      const tBody = table.tBodies[0];
      const rows = Array.from(tBody.querySelectorAll("tr"));

      // Sort each row
      const sortedRows = rows.sort((a, b) => {
          const aColText = a.querySelector(`td:nth-child(${ column + 1 })`).textContent.trim();
          const bColText = b.querySelector(`td:nth-child(${ column + 1 })`).textContent.trim();

          return aColText > bColText ? (1 * dirModifier) : (-1 * dirModifier);
      });

      // Remove all existing TRs from the table
      while (tBody.firstChild) {
          tBody.removeChild(tBody.firstChild);
      }

      // Re-add the newly sorted rows
      tBody.append(...sortedRows);

      // Remember how the column is currently sorted
      table.querySelectorAll("th").forEach(th => th.classList.remove("th-sort-asc", "th-sort-desc"));
      table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-asc", asc);
      table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-desc", !asc);
  }

  document.querySelectorAll(".table-sortable th").forEach(headerCell => {
      headerCell.addEventListener("click", () => {
          const tableElement = headerCell.parentElement.parentElement.parentElement;
          const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);
          const currentIsAscending = headerCell.classList.contains("th-sort-asc");

          sortTableByColumn(tableElement, headerIndex, !currentIsAscending);
      });
  });
</script>
<script>
  AOS.init();
</script>
</body>

</html>