<%- include("../partials/header") %>

  <h1>Notifications</h1>

  <ul>
    <% allNotifications.forEach(function(notification) { %>
      <li>
        <a href="/listings/<%= notification.listingId %>">
          <%= notification.username %> created a new listing
        </a>
        <img src="<%= notification.image %>">
      </li>
      <% }); %>
  </ul>

  <%- include("../partials/footer") %>