<%- include("../../../partials/header") %>
<script src="/javascripts/clickRate.js"></script>
  <%
  var idArr = [];
  
  listings.forEach(function(listing){ 
    var id = listing._id
    idArr.push(id);
    %>
    <br><a>============================================</a><br>
    <a>id: <%= id%></a>
    <br>
    <br>
    <p>
      name:<%= listing.name%>
    </p><br><br>
    <div class="loader" id="loader-<%=id%>"></div>
    <a id="<%=id%>"></a><br><br>
    <p>
      <em>Submitted by: <a href="/user/<%= listing.author.id %>"><%= listing.author.username %></a>, <%= moment(listing.createdAt).fromNow() %></em>
    </p>
    <% if(currentUser && listing.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
      <a class="btn btn-warning" href="/listings/<%= listing._id %>/edit">Edit</a>
      <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger">DELETE</button>
      </form>
      <% } %>
        <a href="/listings/<%= listing._id %>" class="btn btn-primary">View Listing</a>

        <br>
        <span class="badge label-primary">
          <i class="fas fa-thumbs-up"></i>
          <%= listing.likes.length %>
        </span><br>
        <span>
          <%= moment(listing.createdAt).format('LLLL'); %>
        </span>
        <br>
      
        <% if (listing.comments.length===0) { %>
          <em style="color: grey;">No comments yet.</em>
        <% } %>
        <% listing.comments.forEach(function(comment) { %>
          <div class="row">
            <div class="col-md-12">
              <strong>
                <%= comment.author %>
              </strong>
              <span class="pull-right">
                <%= moment(comment.createdAt).fromNow() %>
              </span>
              <p>
                <%= comment.text %>
              </p>
                
              <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                <!-- Edit Button -->
                <a class="btn btn-xs btn-warning" role="button" data-toggle="collapse"
                href="#collapseEdit<%= comment._id %>" aria-expanded="false"
                aria-controls="collapse<%= comment._id %>">Edit</a>
    
                <!-- Delete Button -->
                <form id="delete-form"
                  action="/listings/<%= listing._id %>/comments/<%= comment._id %>?_method=DELETE"
                  method="POST" style="display: inline;">
                  <button class="btn btn-xs btn-danger">Delete</button>
                </form>
    
                <!-- Edit Form -->
                <div class="collapse" id="collapseEdit<%= comment._id %>">
                  <div class="well" style="border-left: 5px solid #ffbb33; margin-top: 15px;">
                    <h4>Edit your comment <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></h4>
                    <form id="edit-comment-form<%= comment._id %>"
                      action="/listings/<%= listing._id %>/comments/<%= comment._id %>?_method=PUT"
                      method="POST">
                      <div class="form-group">
                        <textarea class="form-control" name="comment[text]" placeholder="Your comment text..."
                          form="edit-comment-form<%= comment._id %>" rows="2"
                          cols="70"><%= comment.text %></textarea>
                      </div>
                      <div class="form-group">
                        <button class="btn btn-warning btn-sm">Edit comment <span
                            class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
                      </div>
                    </form>
                  </div>
                </div>
              <% } %>
              <hr>
            </div>
          </div>
        <% }) %>
      <% }); %>


<% 
idArr.forEach((id, index)=> {
 %>
 <script>getClickRate("<%=id%>")</script>
 <% 
})

%>



<%- include("../../../partials/footer") %>