<%- include("../../partials/header") %>

  <h1>Edit <%= user.username %>
  </h1>

  <form action="/admin-dashboard/agent/<%= user._id %>?_method=PUT" method="POST">
    <input type="text" name="user[username]" value="<%= user.username %>" placeholder="username" required>
    <input type="text" name="user[agentStatus]" value="<%= user.agentStatus %>" placeholder="status" required>
    <button>Edit</button>
  </form>

  <%- include("../../partials/footer") %>