<%- include("../../partials/header") %>

  <div class="row" style="background: #f3f3f3">
    <div class="col-3">
      <div class="navigation sticky-top">
        <ul>
          <li class="list active">
            <a href="/dashboard">
              <span class="icon activeText">
                <ion-icon name="layers-outline"></ion-icon>
              </span>
              <span class="title activeText">Overview</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/accounts">
              <span class="icon">
                <ion-icon name="people-outline"></ion-icon>
              </span>
              <span class="title">Accounts</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/listings">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Listings</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/comments">
              <span class="icon">
                <ion-icon name="chatbubbles-outline"></ion-icon>
              </span>
              <span class="title">Comments</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/reviews">
              <span class="icon">
                <ion-icon name="star-outline"></ion-icon>
              </span>
              <span class="title">Reviews</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-9 p-0">
      <div class="container">
        <div class="row dashboardOverview">
          <div class="col-3">
            <a href="/dashboard/accounts">
              <span class="align-items-center justify-content-center d-flex">
                <%= users.length %>
                  <% if(users.length<2){ %>
                    Account
                    <% } else { %>
                      Accounts
                      <% } %>
              </span>
            </a>
          </div>
          <div class="col-3">
            <a href="/dashboard/listings">
              <span class="align-items-center justify-content-center d-flex">
                <%= listings.length %>
                  <% if(listings.length<2){ %>
                    Listing
                    <% } else { %>
                      Listings
                      <% } %>
              </span>
            </a>
          </div>
          <div class="col-3">
            <a href="/dashboard/comments">
              <span class="align-items-center justify-content-center d-flex">
                <%= comments.length %>
                  <% if(comments.length<2){ %>
                    Comment
                    <% } else { %>
                      Comments
                      <% } %>
              </span>
            </a>
          </div>
          <div class="col-3">
            <a href="/dashboard/reviews">
              <span class="align-items-center justify-content-center d-flex">
                <%= reviews.length %>
                  <% if(reviews.length<2){ %>
                    Review
                    <% } else { %>
                      Reviews
                      <% } %>
              </span>
            </a>
          </div>
          <!-- <div class="col-12 px-0">
            <div class="container">
              <div class="col-12">
                <canvas id="myChart"></canvas>
              </div>
              <div class="col-12">
                <div class="live-counter text-center">
                  <a><b>Total Seen: </b></a>
                  <a id="liveCount"></a>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <div style="height:300px;"></div>

  <script src="/javascripts/viewGraph.js"></script>
  <script>
    const list = document.querySelectorAll('.list');
    function activeLink(){
      list.forEach((item) =>
        item.classList.remove('active'));
        this.classList.add('active');
      }
      list.forEach((item) => 
      item.addEventListener('click', activeLink));
  </script>

  <%- include("../../partials/footer") %>