<%- include("../../partials/header") %>

  <div class="container mt-5">
    <div class="row">
      <div class="col-2 p-0" id="dashboardMenu">
        <a href="/dashboard" style="color: white!important;">
          <p class="selected py-1 mb-2">Overview</p>
        </a>
        <a href="/dashboard/accounts">
          <p class="notSelected mb-0 py-1 my-2">Account</p>
        </a>
        <a href="/dashboard/listings">
          <p class="notSelected mb-0 py-1 my-2">Listing</p>
        </a>
        <a href="/dashboard/comments">
          <p class="notSelected mb-0 py-1 my-2">Comment</p>
        </a>
        <a href="/dashboard/reviews">
          <p class="notSelected mb-0 py-1 my-2">Review</p>
        </a>
      </div>
      <div class="col-10">
        <div class="container">
          <div class="row dashboardOverview">
            <div class="col-3">
              <a href="/dashboard/accounts">
                <span class="align-items-center justify-content-center d-flex">
                  <%= users.length %>
                    <% if(users.length<2){ %>
                      Account
                      <% } else { %>
                        Accounts
                        <% } %>
                </span>
              </a>
            </div>
            <div class="col-3">
              <a href="/dashboard/listings">
                <span class="align-items-center justify-content-center d-flex">
                  <%= listings.length %>
                    <% if(listings.length<2){ %>
                      Listing
                      <% } else { %>
                        Listings
                        <% } %>
                </span>
              </a>
            </div>
            <div class="col-3">
              <a href="/dashboard/comments">
                <span class="align-items-center justify-content-center d-flex">
                  <%= comments.length %>
                    <% if(comments.length<2){ %>
                      Comment
                      <% } else { %>
                        Comments
                        <% } %>
                </span>
              </a>
            </div>
            <div class="col-3">
              <a href="/dashboard/reviews">
                <span class="align-items-center justify-content-center d-flex">
                  <%= reviews.length %>
                    <% if(reviews.length<2){ %>
                      Review
                      <% } else { %>
                        Reviews
                        <% } %>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!--Total Seen-->
  <div class="container">
    <div class="col-md-12">
      <canvas id="myChart"></canvas>
    </div>
    <div class="col-md-12">
      <div class="live-counter text-center">
        <a><b>Total Seen: </b></a>
        <a id="liveCount"></a>
      </div>
    </div>
  </div>

  <script src="/javascripts/viewGraph.js"></script>

  <%- include("../../partials/footer") %>