<%- include("../../../partials/header") %>

<div style="overflow-x: hidden;">
  <div class="row">
    <div class="col-3">
      <div class="navigation sticky-top">
        <ul>
          <li class="list navigationHover">
            <a href="/dashboard">
              <span class="icon activeText">
                <ion-icon name="layers-outline"></ion-icon>
              </span>
              <span class="title activeText">Overview</span>
            </a>
          </li>
          <li class="list active">
            <a href="/dashboard/accounts">
              <span class="icon">
                <ion-icon name="people-outline"></ion-icon>
              </span>
              <span class="title">Accounts</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/listings">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Listings</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/comments">
              <span class="icon">
                <ion-icon name="chatbubbles-outline"></ion-icon>
              </span>
              <span class="title">Comments</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/reviews">
              <span class="icon">
                <ion-icon name="star-outline"></ion-icon>
              </span>
              <span class="title">Reviews</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-9">
      <div class="row mr-5">
        <div class="col-12 mb-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/listings">Home</a></li>
              <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item"><a href="/dashboard/accounts">Accounts</a></li>
              <li class="breadcrumb-item active"" aria-current="page">Admins</li>
            </ol>
          </nav>
        </div>
        <div class="col-4">
          <div class="g text-center">
            <div class="pt-2">
              <p class="mb-0" style="font-size:0.8em; font-weight: 650;">Total</p>
              <p>
                <% var sum=[]; %>
                <% users.forEach(function(user, index){ %>
                  <% if(user.isAdmin==true){ %>
                    <% sum.push([user].length) %>
                  <% } %>
                <% }); %>
                <span>
                  <%= sum.reduce((a, b) => a + b, 0) %>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="g text-center">
            <div class="pt-2">
              <p class="mb-0" style="font-size:0.8em; font-weight: 650;">Male</p>
              <p>
                <% var sum=[]; %>
                <% users.forEach(function(user, index){ %>
                  <% if(user.isAdmin==true && user.gender=="male"){ %>
                    <% sum.push([user].length) %>
                  <% } %>
                <% }); %>
                <span>
                  <%= sum.reduce((a, b) => a + b, 0) %>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="g text-center">
            <div class="pt-2">
              <p class="mb-0" style="font-size:0.8em; font-weight: 650;">Female</p>
              <p>
                <% var sum=[]; %>
                <% users.forEach(function(user, index){ %>
                  <% if(user.isAdmin==true && user.gender=="female"){ %>
                    <% sum.push([user].length) %>
                  <% } %>
                <% }); %>
                <span>
                  <%= sum.reduce((a, b) => a + b, 0) %>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row accountTableHeading mr-5 px-4 mt-4">
        <p style="font-weight: 500; font-size: 1.1em;">Admins</p>
        <table class="table table-sortable">
          <thead>
            <tr>
              <th style="pointer-events: none;"></th>
              <th>Username</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Role</th>
              <th style="pointer-events: none!important;" class="justify-content-end d-flex">
                <i class="fas fa-sort"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(function(user){ %>
              <% if(user.isAdmin==true){ %>
                <tr onclick="window.location='/user/<%= user._id %>';">
                  <td><img src="<%= user.image %>" alt="" style="border-radius: 50%; width: 50px; height:50px;"></td>
                  <td class="pt-4"><%= user.username %></td>
                  <td class="pt-4"><%= user.firstName %></td>
                  <td class="pt-4"><%= user.lastName %></td>
                  <td class="pt-4">
                    <a href="mailto:<%= user.email %>" style="color: black; font-size: 0.9em;">
                      <%= user.email %>
                    </a>
                  </td>
                  <td class="pt-4"><%= user.phone %></td>
                  <td class="pt-4">
                    <% if(user.isAdmin==true){ %>
                      <span class="badge badge-danger">Admin</span>
                    <% } else if(user.isAgent==true) { %>
                      <span class="badge badge-warning">Agent</span>
                    <% } else { %>
                      <span class="badge badge-info">Seeker</span>
                    <% } %>
                  </td>
                  <td class="justify-content-end d-flex pt-4">
                    <a href="/user/<%= user._id %>" class="btn btn-dark px-4 mx-0 dashboardBtn">View</a>
                  </td>
                </tr>
              <% } %>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include("../../../partials/footer") %>



