<%- include("../partials/header") %>

  <div class="container">
    <p>AGENT EJS</p>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
      <% users.forEach(function(user){ %>
        <% if(user.isAgent==true && user.agentStatus==true){ %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= user.image %>">
              <div class="caption">
                <h4>
                  <%= user.username %>
                </h4>
                <% if (user.rating===0) { %>
                  <em>No reviews yet.</em>
                  <% } else { %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star <% if (user.rating > 1.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (user.rating > 2.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (user.rating > 3.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (user.rating > 4.5) { %> checked <% } %>"></span>
                    <% } %>
              </div>
              <p>
                <a href="/agent/<%= user._id %>" class="btn btn-primary">More Info</a>
              </p>
            </div>
          </div>
          <% } %>
            <% }); %>
    </div>
  </div>

  <%- include("../partials/footer") %>