<%- include("../partials/header") %>

  <div style="overflow-x: hidden;">
    <div class="row">
      <div class="col-3">
        <div class="navigation sticky-top">
          <ul>
            <li class="list navigationHover">
              <a href="/user/<%= user._id %>/edit">
                <span class="icon activeText">
                  <ion-icon name="create-outline"></ion-icon>
                </span>
                <span class="title activeText">Edit Details</span>
              </a>
            </li>
            <li class="list active">
              <a href="/user/<%= user._id %>/manage">
                <span class="icon">
                  <ion-icon name="settings-outline"></ion-icon>
                </span>
                <span class="title">Manage Account</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-6 offset-1 mt-4">
        <p class="mb-1" style="font-size: 1.4em; font-weight: 700;">Reset Password</p>
        <p class="mt-1" style="font-weight: 350; font-size: 0.95em;">Click on the link below and we'll send you a link
          to get back
          into your account.</p>
        <!-- reset password btn -->
        <div class="row">
          <div class="col-12">
            <form action="/forgot" method="POST">
              <input type="hidden" value="<%= user.email%>" name="email" autofocus class="form-control">
              <input type="submit" class="btn btn-primary profileResetPassword px-4" value="Reset Password">
            </form>
          </div>
        </div>
        <p class="mt-4 pt-2 mb-1" style="font-size: 1.4em; font-weight: 700;">Delete Account</p>
        <div class="px-0 col-12">
          <!-- delete user button -->
          <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
            <p class="mt-1" style="font-weight: 350; font-size: 0.95em;">When you delete your account, your profile,
              photos, videos,
              comments, likes and followers will be
              permanently removed. If you'd just like to take a break, you can temporarily disable your account instead.
            </p>
            <form action="/user/<%= user._id %>?_method=DELETE" method="POST">
              <button class="btn btn-danger profileDeleteBtn px-4">Delete</button>
            </form>
            <% } %>
        </div>
      </div>
    </div>
  </div>

  <%- include("../partials/footer") %>