<%- include("../partials/header") %>

  <h1>Edit <%= user.username %></h1>

  <form action="/user/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <!-- all users -->
    username: <input type="text" name="user[username]" value="<%= user.username %>" placeholder="username*" required>
    email: <input type="email" name="user[email]" value="<%= user.email %>" placeholder="email*" required>
    firstName: <input type="text" name="user[firstName]" value="<%= user.firstName %>" placeholder="first name">
    lastName: <input type="text" name="user[lastName]" value="<%= user.lastName %>" placeholder="last name">
    phone: <input type="number" name="user[phone]" value="<%= user.phone %>" placeholder="phone">

    <!-- seekers -->
    <% if(user.isAgent==false && user.isAdmin==false){ %>
      <img src="<%= user.image %>">
      <input type="file" name="image" accept="image/*">
    <% } %>

    <!-- agents -->
    <% if(user.isAgent==true){ %>
      ceaNumber: <input type="string" name="user[cea]" value="<%= user.cea %>" placeholder="cea number">
    <% } %>

    <button>Edit</button>
  </form>

<%- include("../partials/footer") %>