<%- include("../partials/header") %>

  <h1>Edit <%= user.username %>
  </h1>

  <form action="/user/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <!-- all users -->
    username: <input type="text" name="user[username]" value="<%= user.username %>" placeholder="username*" required>
    email: <input type="email" name="user[email]" value="<%= user.email %>" placeholder="email*" required>
    phone: <input type="number" name="user[phone]" value="<%= user.phone %>" placeholder="phone">
    address: <input type="text" name="user[streetName]" value="<%= user.streetName %>" placeholder="street name"><br>
    <input type="text" name="user[unitNumber]" value="<%= user.unitNumber %>" placeholder="unit number"><br>
    <input type="text" name="user[country]" value="<%= user.country %>" placeholder="country"><br>
    <input type="text" name="user[state]" value="<%= user.state %>" placeholder="state"><br>
    <input type="number" name="user[postalCode]" value="<%= user.postalCode %>" placeholder="postal code"><br>

    <!-- seekers and admins -->
    <% if(user.isAgent==false || currentUser && currentUser.isAdmin){ %>
      <img src="<%= user.image %>">
      <input type="file" name="image" accept="image/*">
      <% } %>

        <!-- admins -->
        <% if(currentUser && currentUser.isAdmin && user.cea!=null){ %>
          ceaNumber: <input type="string" name="user[cea]" value="<%= user.cea %>" placeholder="cea number">
          <% } %>

            <button>Edit</button>
  </form>

  <%- include("../partials/footer") %>