<%- include("../partials/header") %>

  <div style="overflow-x: hidden; margin-top: 35px;" class="pb-4">
    <div class="row">
      <div class="col-2 col-lg-3">
        <div class="navigation sticky-top">
          <ul>
            <li class="list navigationHover">
              <a href="/user/<%= user._id %>/edit">
                <span class="icon activeText">
                  <ion-icon name="create-outline"></ion-icon>
                </span>
                <span class="title activeText">Edit Details</span>
              </a>
            </li>
            <li class="list active">
              <a href="/user/<%= user._id %>/manage">
                <span class="icon">
                  <ion-icon name="settings-outline"></ion-icon>
                </span>
                <span class="title">Manage Account</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-7 col-lg-6 offset-1 mt-4">
        <p class="mb-1" style="font-size: 1.4em; font-weight: 700;">Reset Password</p>
        <p class="mt-1" style="font-weight: 350; font-size: 0.95em;">Click on the link below and we'll send you a link
          to get back
          into your account.</p>
        <!-- reset password btn -->
        <div class="row">
          <div class="col-12">
            <form action="/forgot" method="POST">
              <input type="hidden" value="<%= user.email%>" name="email" autofocus class="form-control">
              <input type="submit" class="btn btn-primary profileResetPassword px-4" value="Reset Password">
            </form>
          </div>
        </div>
        <p class="mt-4 pt-2 mb-1" style="font-size: 1.4em; font-weight: 700;">Delete Account</p>
        <div class="px-0 col-12">
          <!-- delete user button -->
          <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
            <p class="mt-1" style="font-weight: 350; font-size: 0.95em;">When you delete your account, your profile,
              photos, videos,
              comments, likes and followers will be
              permanently removed. If you'd just like to take a break, you can temporarily disable your account instead.
            </p>
            <form action="/user/<%= user._id %>?_method=DELETE" method="POST">
              <button class="btn btn-danger profileDeleteBtn px-4">Delete</button>
            </form>
            <% } %>
        </div>
      </div>
    </div>
  </div>

  <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/jquer.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
  <script>
    $(window).on('load', function(){
      $(".loader").fadeOut(1000);
  });
  </script>
  <script>
    function sortTableByColumn(table, column, asc = true) {
        const dirModifier = asc ? 1 : -1;
        const tBody = table.tBodies[0];
        const rows = Array.from(tBody.querySelectorAll("tr"));
  
        // Sort each row
        const sortedRows = rows.sort((a, b) => {
            const aColText = a.querySelector(`td:nth-child(${ column + 1 })`).textContent.trim();
            const bColText = b.querySelector(`td:nth-child(${ column + 1 })`).textContent.trim();
  
            return aColText > bColText ? (1 * dirModifier) : (-1 * dirModifier);
        });
  
        // Remove all existing TRs from the table
        while (tBody.firstChild) {
            tBody.removeChild(tBody.firstChild);
        }
  
        // Re-add the newly sorted rows
        tBody.append(...sortedRows);
  
        // Remember how the column is currently sorted
        table.querySelectorAll("th").forEach(th => th.classList.remove("th-sort-asc", "th-sort-desc"));
        table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-asc", asc);
        table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-desc", !asc);
    }
  
    document.querySelectorAll(".table-sortable th").forEach(headerCell => {
        headerCell.addEventListener("click", () => {
            const tableElement = headerCell.parentElement.parentElement.parentElement;
            const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);
            const currentIsAscending = headerCell.classList.contains("th-sort-asc");
  
            sortTableByColumn(tableElement, headerIndex, !currentIsAscending);
        });
    });
  </script>
  <script>
    AOS.init();
  </script>
  </body>
  
  </html>