<%- include("../partials/header") %>
<script src="/javascripts/userSearch.js"></script>
<style>
  body {
    background-color: rgb(247,247,247);
  }
</style>
<script>
  //Get search result set
  var resultSet = `<%- JSON.stringify(users) %>`
  var queryString = window.location.search;
  var urlParams = new URLSearchParams(queryString);
  var resultSearch = urlParams.get('search');

</script>

  <!-- <div style="position: relative; text-align: center;color: white;">
    <video autoplay muted loop style="max-width: 100%;">
      <source src="img/search-banner.mp4" type="video/mp4">
    </video>

    <img class="shadow fade-in" src="img/findagents-banner.png" style="max-width: 100%;">
    <div class="user-header"><p>Find Property Agents in Singapore</p></div>
  </div> -->

  <div class="container-fluid m-0 p-0 shadow fade-in find-agent-div">
    <div class="container-fluid blur-div fade-in">
      <div class="container" data-aos="zoom-in" data-aos-once="true" id="search-container">
        <div class="user-header fade-in"><p>Find Property Agents.</p></div>
        <% if(noMatch !==undefined){ %>
          <div class="col-md-12 m-0 p-0">
            <div class="user-search shadow">
              <form action="/user" method="GET" class="form-inline">
                <div class="row col-md-12 m-0 form-group">
                  <div class="row col-md-12 m-0 p-0 d-flex justify-content-center align-items-center">
                    <div class="row col-md-7 m-0 flex-nowrap fAgent-input" id="search-border">
                      <i class="fas fa-search"></i>
                      <input type="text" class="form-control" name="search" placeholder="Search for Agents or CEA Number">
                    </div>
                    <div class="row col-md-4 m-0 flex-nowrap fAgent-input">
                      <i class="fas fa-filter"></i>
                      <select name="sort" id="sort">
                        <option value="" disabled selected hidden>Sort By</option>
                        <option value="HighestRating" <% if(data.sort == 'HighestRating') {%> selected <%} %>>Highest Rating</option>
                        <option value="LowestRating" <% if(data.sort == 'LowestRating') {%> selected <%} %>>Lowest Rating</option>
                        <option value="Recent" <% if(data.sort == 'Recent') {%> selected <%} %>>Recent</option>
                        <option value="Oldest" <% if(data.sort == 'Oldest') {%> selected <%} %>>Oldest</option>
                    </select>
                    </div>
                    <div class="row col-md-1 p-0 fAgent-submit">
                      <button type="submit" class="btn btn-info d-flex justify-content-center align-items-center text-align-center" style="padding: 15px 25px 15px 25px;">GO</button>
                    </div>
                  </div>
                </div>
              </form>
    
            </div>
          </div>
      <% } %>
      </div>
    </div>
  </div>


  <div class="container" style="margin-top: 50px;">
    <div class="col-md-12 search-text" data-aos="fade-up" data-aos-once="true">
      <% if (noMatch != undefined) { %>
        <h3 id="search-result"><%= noMatch %></h3>
      <% } else { %>
      <h3 id="search-result">Featured Agents</h3>
     <% } %>
      <p>About <%= users.length%> results</p>
    </div>
    <main class="row" style="margin-top: 15px;display:flex; flex-wrap: wrap;" id="resultDiv">
    </main>
  </div>


  <script>
    var loadObj;
    // const URL = "https://gist.githubusercontent.com/prof3ssorSt3v3/1944e7ba7ffb62fe771c51764f7977a4/raw/c58a342ab149fbbb9bb19c94e278d64702833270/infinite.json";
    document.addEventListener("DOMContentLoaded", () => {
        let options = {
            root: null,
            rootMargins: "0px",
            threshold: 0.5
        };
        const observer = new IntersectionObserver(handleIntersect, options);
        observer.observe(document.querySelector("footer"));
        loadObj = loadFirstFive(resultSet)
    });


    function handleIntersect(entries) {
      if (entries[0].isIntersecting) {
          setTimeout(function() {
            loadData(resultSet,loadObj);
          }, 1000)
      }
    }

  </script>
  <script> 
      function resetForm() {
        //sort by price
        document.getElementById("sort").value="";
        }     
  </script>
  <script>
    if (resultSearch != null) {
      document.getElementById("search-result").innerHTML = 'Search result for "' + resultSearch + '"';
    }
    if (resultSearch == "") {
      document.getElementById("search-result").innerHTML = 'Featured Agents';
    }
  </script>
  <%- include("../partials/footer") %>