<%- include("../partials/header") %>

  <div class="container">
    <% if(noMatch !==undefined){ %>
      <h3>
        <%= noMatch %>
      </h3>
      <form action="/user" method="GET" class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" name="search" placeholder="agent search...">
          <input type="submit" value="Search" class="btn btn-info">
        </div>
      </form>
      <% } %>
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
          <% users.forEach(function(user){ %>
            <!-- Agent Profile -->
            <% if(user.isAgent==true && user.agentStatus==true){ %>
              <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                  <img src="<%= user.image %>">
                  <div class="caption">
                    <h4>
                      <%= user.username %>
                    </h4>
                    <% if (user.rating===0) { %>
                      <em>No reviews found.</em>
                      <% } else { %>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (user.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (user.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (user.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (user.rating > 4.5) { %> checked <% } %>"></span>
                        <% } %>
                  </div>
                  <p>
                    <a href="/user/<%= user._id %>" class="btn btn-primary">More Info</a>
                  </p>
                </div>
              </div>
              <% } %>
                <% }); %>

        </div>
  </div>

  <%- include("../partials/footer") %>