<%- include("../partials/header") %>
<style>
  body {
    background-color: rgb(247,247,247);
  }
</style>
<!-- 
  Lazy loading:
  1) function to load agents
    - check whether user is an agent (check if user is agent THEN run forloop)
      - 5 search results per load
      - 

    - create section observer
    - run function
-->

<% function loadAgents(startIndex) {
  for(var i = startIndex; i < 5; i ++) {  
    if(users[i].isAgent==true && users[i].agentStatus==true){ %>
      <div class="col-md-12">
        <div class="user-result" onClick="window.location=`/user/<%= users[i]._id %>`">
          <img src="<%= users[i].image %>" style="width : 200px; height: 200px;">
          <div class="caption-result">
            <h4><%= users[i].firstName %> <%= users[i].lastName %></h4>
            <h6>CEA: <%= users[i].cea %></h6>
            <% if (users[i].rating===0) { %>
              <em>No reviews found.</em>
            <% } else { %>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star <% if (user.rating > 1.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (user.rating > 2.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (user.rating > 3.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (user.rating > 4.5) { %> checked <% } %>"></span>
            <% } %>
  <% }}
}%>

  <div class="container">
    <% if(noMatch !==undefined){ %>
      <div class="col-md-12 m-0 p-0">
        <h3>
          <%= noMatch %>
        </h3>
        <div class="user-search">
          <form action="/user" method="GET" class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" name="search" placeholder="All Agents">
              <input type="submit" value="Search" class="btn btn-info">
            </div>
          </form>
        </div>
      </div>
      <% } %>

      <div class="row" style="display:flex; flex-wrap: wrap;">
        <% users.forEach(function(user){ %>
          <!-- Agent Profile -->
          <% if(user.isAgent==true && user.agentStatus==true){ %>
            <div class="col-md-12">
              <div class="user-result" onClick="window.location=`/user/<%= user._id %>`">
                <img src="<%= user.image %>" style="width : 200px; height: 200px;">
                <div class="caption-result">
                  <h4><%= user.firstName %> <%= user.lastName %></h4>
                  <h6>CEA: <%= user.cea %></h6>
                  <% if (user.rating===0) { %>
                    <em>No reviews found.</em>
                  <% } else { %>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star <% if (user.rating > 1.5) { %> checked <% } %>"></span>
                      <span class="fa fa-star <% if (user.rating > 2.5) { %> checked <% } %>"></span>
                      <span class="fa fa-star <% if (user.rating > 3.5) { %> checked <% } %>"></span>
                      <span class="fa fa-star <% if (user.rating > 4.5) { %> checked <% } %>"></span>
                  <% } %>
                </div>
              </div>
            </div>
          <% } %>
        <% }); %>
      </div>
      
  </div>

  <%- include("../partials/footer") %>