<%- include("../partials/header") %>

  <!-- banner -->
  <div class="container px-0"
    style="background: url('<%= user.banner %>'); height: 300px; width: 100%; background-size: cover; object-fit: cover; background-position: center center; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">

    <div class="justify-content-between d-flex">
      <div class="px-4 mx-1">
      </div>
      <div>
        <!-- approve/remove agent -->
        <% if(user.isAgent && currentUser && currentUser.isAdmin){ %>
          <form action="/dashboard/agents/<%= user._id %>?_method=PUT" method="POST" class="text-center"
            style="position:relative; top: 10px;">
            <% if(user.agentStatus==false){ %>
              <button type="submit" name="user[agentStatus]" value="true" class="btn approveBtn"
                style="background: #41e792; color: white; font-weight: 600; font-size: 0.9em;">Approve</button>
              <% } else{ %>
                <button type="submit" name="user[agentStatus]" value="false" class="btn approveBtn"
                  style="background: #DC3545; color: white; font-weight: 600; font-size: 0.9em;">Remove</button>
                <% } %>
          </form>
          <% } %>
      </div>
      <div>
        <!-- upload banner button -->
        <form action="/user/<%=user._id %>/banner?_method=PUT" method="POST" enctype="multipart/form-data"
          id="bannerForm">
          <span class="justify-content-end d-flex">
            <label for="file-upload" class="customBannerUpload px-3">
              <i class="fas fa-camera"></i>
            </label>
            <input type="file" id="file-upload" name="banner" onchange="this.form.submit()" id="bannerUpload"
              accept="image/*">
          </span>
        </form>
      </div>
    </div>

    <!-- profile image -->
    <span class="justify-content-center d-flex">
      <img src="<%= user.image %>" alt="user profile image" class="profileImage">
    </span>
    <!-- upload profile image button -->
    <form action="/user/<%=user._id %>/image?_method=PUT" method="POST" enctype="multipart/form-data" id="imageForm">
      <label for="file-upload-image" class="customImageUpload px-3">
        <i class="fas fa-camera"></i>
      </label>
      <input type="file" id="file-upload-image" name="image" onchange="this.form.submit()" id="imageUpload"
        accept="image/*">
    </form>
  </div>

  <!-- follow & chat & edit profile -->
  <div class="container align-items-center justify-content-between d-flex mt-3">
    <div>
      <div class="col-12 text-center">
        <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
          <a class="btn btn-outline-dark profileBtn" href="#">
            <span style="font-size: 0.9em;">xxx</span>
          </a>
          <% } %>
      </div>
    </div>
    <div>
      <% if(!currentUser){ %>
        <% } else { %>
          <% if(user._id.equals(currentUser._id)){ %>
            <% } else { %>
              <div class="left">
                <a href="/follow/<%= user.id %>">
                  <button class="btn btn-outline-dark followBtn">Follow</button>
                </a>
              </div>
              <div class="right">
                <form action="http://localhost:8800/api/conversations/<%= currentUser._id %>/<%= user.id %>"
                  method="POST">
                  <button type="submit" class="btn btn-outline-dark chatBtn">Chat</button>
                </form>
              </div>
              <% } %>
                <% } %>
    </div>
  </div>

  <!-- user details -->
  <div class="container" id="profileDetails">
    <div class="justify-content-center d-flex">
      <% if(currentUser && currentUser.isAgent || user.isAgent){ %>
        <div class="left">
          <span id="ceaNum">CEA: <%= user.cea %>
          </span><br>
        </div>
        <% } %>
          <div class="right left">
            <span id="userRole">
              Role:
              <% if(user.isAgent==true){ %>
                Agent
                <% } else if(user.isAdmin==true){ %>
                  Admin
                  <% } else { %>
                    Seeker
                    <% } %>
            </span>
          </div>
          <div class="right">
            <span>
              <% if(user.agentStatus==true){ %>
                <% } else { %>
                  <% if(user.isAgent==true){ %>
                    <span id="userStatus">Status: Pending</span>
                    <% } else{ %>
                      <% } %>
                        <% } %>
            </span>
          </div>
    </div>
    <% if (user.rating===0) { %>
      <span class="justify-content-center d-flex pt-3 mb-0" style="font-size: 0.9em; color: gray;">
        <em>No reviews yet.</em>
      </span>
      <% } else { %>
        <p class="text-center pt-3 mb-0">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star <% if (user.rating > 1.5) { %> checked <% } %>"></span>
          <span class="fa fa-star <% if (user.rating > 2.5) { %> checked <% } %>"></span>
          <span class="fa fa-star <% if (user.rating > 3.5) { %> checked <% } %>"></span>
          <span class="fa fa-star <% if (user.rating > 4.5) { %> checked <% } %>"></span>
        </p>
        <% } %>
          <p id="profileUsername" class="text-center pt-1">
            <%= user.username %>
          </p>
          <hr>
          <div class="container">
            <div class="row">
              <!-- show profile details -->
              <div class="col-5 borderStyle">
                <div class="align-items-center d-flex pl-4 pr-2 py-2 mb-4 justify-content-between headerStyle">
                  <div class="left">
                    <p class="profileHeader my-0">Profile Details</p>
                  </div>
                  <div class="right">
                    <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                      <a class="btn btn-outline-dark profileBtn" href="/user/<%= user._id %>/edit">
                        <span style="font-size: 0.9em;">Edit</span>
                      </a>
                      <% } %>
                  </div>
                </div>
                <div class="row px-3">
                  <div class="col-4">
                    <span>
                      <% if(user.isAgent==true){ %>
                        Agent
                        <% } else if(user.isAdmin==true){ %>
                          Admin
                          <% } else { %>
                            Seeker
                            <% } %>
                              since:
                    </span>
                  </div>
                  <div class="col-8">
                    <p>
                      <%= moment(user.createdAt).fromNow() %>
                    </p>
                  </div>
                  <div class="col-4">
                    <span>First name:</span>
                  </div>
                  <div class="col-8">
                    <p>
                      <%= user.firstName %>
                    </p>
                  </div>
                  <div class="col-4">
                    <span>Last name:</span>

                  </div>
                  <div class="col-8">
                    <p>
                      <%= user.lastName %>
                    </p>
                  </div>
                  <div class="col-4">
                    <span>Email:</span>
                  </div>
                  <div class="col-8">
                    <p>
                      <a href="mailto:<%= user.email %>" style="color: black;">
                        <%= user.email %>
                      </a>
                    </p>
                  </div>
                  <div class="col-4">
                    <span>Gender:</span>
                  </div>
                  <div class="col-8">
                    <p>
                      <%= user.gender %>
                    </p>
                  </div>
                  <div class="col-4">
                    <span>Phone:</span>
                  </div>
                  <div class="col-8">
                    <p>
                      <%= user.phone %>
                    </p>
                  </div>
                  <div class="col-4">
                    <span>Address:</span>
                  </div>
                  <div class="col-8">
                    <p>
                      <%= user.streetName %><br>
                        <%= user.unitNumber %><br>
                          <%= user.country %><br>
                            <%= user.state %><br>
                              <%= user.postalCode %>
                    </p>
                  </div>
                  <!-- <div class="col-12 text-center">
            <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
              <a class="btn btn-primary profileBtn" href="/user/<%= user._id %>/edit">
                <span style="font-size: 0.9em;">Edit Profile</span>
              </a>
              <% } %>
          </div> -->
                </div>
              </div>

              <!-- show listings -->
              <div class="col-7 borderStyle">
                <div class="align-items-center d-flex pl-4 pr-2 py-2 mb-4 justify-content-between headerStyle">
                  <div class="left">
                    <p class="profileHeader my-0">Listings</p>
                  </div>
                  <div class="right">
                    <a class="btn btn-outline-dark profileBtn" href="#">
                      <span style="font-size: 0.9em;">xxx</span>
                    </a>
                  </div>
                </div>
                <% if(user.isAgent==true){ %>


                  <% listings.forEach(function(listing) { %>
                    <div class="row align-items-center d-flex mt-2 px-3">
                      <div class="col-3">
                        <a href="/listings/<%= listing.id %>">
                          <img src="<%= listing.thumbnail %>"
                            style="background-size: cover; width: 110px; height: 110px; object-fit: cover; background-position: center center; border-radius: 20px;">
                        </a>
                      </div>
                      <div class="col-5">
                        <div class="mb-3">
                          <a href="/listings/<%= listing.id %>">
                            <%= listing.name %>
                          </a>
                        </div>
                        <% if(currentUser&&listing.author.id.equals(currentUser._id)||currentUser&&currentUser.isAdmin){
                          %>
                          <div class="left">
                            <a class="btn btn-outline-dark profileListingEdit"
                              href="/listings/<%= listing._id %>/edit">Edit</a>
                          </div>
                          <div class="right">
                            <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
                              <button class="btn btn-outline-dark profileListingDelete">Delete</button>
                            </form>
                          </div>
                          <% } %>
                      </div>
                      <div class="col-4">
                        <%= moment(listing.createdAt).fromNow() %>
                      </div>
                    </div>
                    <% }); %>
                      <% } %>
              </div>

              <!-- show reviews -->
              <% if(user.isAgent==true){ %>
                <div class="col-12 borderStyle mb-5 pt-0">
                  <div class="align-items-center d-flex pl-4 pr-2 py-2 mb-4 justify-content-between headerStyle">
                    <div class="left">
                      <p class="profileHeader my-0">Reviews</p>
                    </div>
                    <% } %>
                      <div>
                        <% if(user.isAgent==true & user.rating!=0){ %>
                          <div class="left">
                            <a class="btn btn-outline-dark reviewBtn" href="/user/<%= user._id %>/reviews">
                              See all Reviews
                            </a>
                          </div>
                          <% } %>
                            <div class="right">
                              <% if(currentUser && currentUser.isAgent){ %>
                                <% } else { %>
                                  <div>
                                    <a class="btn btn-outlin-dark reviewBtn <% if (currentUser && user.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>"
                                      href="/user/<%= user._id %>/reviews/new">
                                      <span font-size: 0.9em;>Write Review</span>
                                    </a>
                                  </div>
                                  <% } %>
                            </div>
                      </div>
                  </div>
                  <div class="px-3">
                    <% if (user.rating===0) { %>
                      <em>No reviews yet.</em>
                      <% } else { %>
                        <p>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star <% if (user.rating > 1.5) { %> checked <% } %>"></span>
                          <span class="fa fa-star <% if (user.rating > 2.5) { %> checked <% } %>"></span>
                          <span class="fa fa-star <% if (user.rating > 3.5) { %> checked <% } %>"></span>
                          <span class="fa fa-star <% if (user.rating > 4.5) { %> checked <% } %>"></span>
                          <em>(total reviews: <%= user.reviews.length %>)</em>
                        </p>
                        <p>
                          Current user rating: <strong>
                            <%= user.rating.toFixed(2) %>
                          </strong>
                        </p>
                        <h4>Latest reviews for this user:</h4>
                        <hr style="margin-top: 0;">
                        <% user.reviews.slice(0, 5).forEach(function(review){ %>
                          <div class="row">
                            <div class="col-md-3">
                              <%- '<span class="fa fa-star checked"></span>' .repeat(review.rating) %>
                                <%- '<span class="fa fa-star"></span>' .repeat(5 - review.rating) %>
                                  <div>review by: <strong>
                                      <%= review.author.username %>
                                    </strong></div>
                                  <span><em>
                                      <%= review.updatedAt.toDateString() %>,
                                        <%= moment(review.createdAt).fromNow() %>
                                    </em></span>
                            </div>
                            <div class="col-md-9">
                              <p style="text-align: justify; word-wrap: break-word;">
                                <%= review.text %>
                              </p>
                              <%if(currentUser&&review.author.id.equals(currentUser._id)||currentUser&&currentUser.isAdmin){%>
                                <a class="btn btn-xs btn-warning"
                                  href="/user/<%=user._id %>/reviews/<%=review._id %>/edit">Edit</a>
                                <form id="delete-form"
                                  action="/user/<%=user._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                  <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                </form>
                                <% } %>
                            </div>
                          </div>
                          <hr>
                          <% }); %>
                  </div>
                  <% } %>
                </div>
            </div>
          </div>
  </div>

  <%- include("../partials/footer") %>