<%- include("../partials/header") %>

  <!-- banner -->
  <div style="background: url('<%= user.banner %>'); height: 300px; width: 100%; background-size: cover; object-fit: cover; background-position: center center;">
    <div class="justify-content-between align-items-center d-flex">
      <div class="px-4 mx-1">
      </div>
      <div>
        <!-- approve/remove agent -->
        <% if(user.isAgent && currentUser && currentUser.isAdmin){ %>
          <form action="/dashboard/agents/<%= user._id %>?_method=PUT" method="POST" class="text-center"
            style="position:relative; top: 10px;">
            <% if(user.agentStatus==false){ %>
              <button type="submit" name="user[agentStatus]" value="true" class="btn approveBtn"
                style="background: #41e792; color: white; font-weight: 600; font-size: 0.9em;">Approve Agent</button>
              <% } else{ %>
                <button type="submit" name="user[agentStatus]" value="false" class="btn approveBtn"
                  style="background: #DC3545; color: white; font-weight: 600; font-size: 0.9em;">Remove Agent</button>
                <% } %>
          </form>
          <% } %>
      </div>
      <div>
        <!-- upload banner button -->
        <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
          <form action="/user/<%=user._id %>/banner?_method=PUT" method="POST" enctype="multipart/form-data"
            id="bannerForm">
            <span class="justify-content-end d-flex">
              <label for="file-upload" class="customBannerUpload px-3">
                <i class="fas fa-camera"></i>
              </label>
              <input type="file" id="file-upload" name="banner" onchange="this.form.submit()" id="bannerUpload"
                accept="image/*">
            </span>
          </form>
          <% } else { %>
            <div class="py-4"></div>
            <% } %>
      </div>
    </div>

    <!-- profile image -->
    <span class="justify-content-center d-flex">
      <img src="<%= user.image %>" alt="user profile image" class="profileImage">
    </span>
    <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
      <!-- upload profile image button -->
      <form action="/user/<%=user._id %>/image?_method=PUT" method="POST" enctype="multipart/form-data" id="imageForm"
        class="text-center">
        <label for="file-upload-image" class="customImageUpload px-3">
          <i class="fas fa-camera"></i>
        </label>
        <input type="file" id="file-upload-image" name="image" onchange="this.form.submit()" id="imageUpload"
          accept="image/*">
      </form>
      <% } %>
  </div>



  <!-- follow & chat & edit profile -->
  <div class="container align-items-center justify-content-between d-flex mt-3 px-4">
    <div>
      <% if(!currentUser){ %>
        <a href="/follow/<%= user.id %>">
          <button class="btn btn-dark followBtn">Follow</button>
        </a>
        <% } else { %>
          <% if(user._id.equals(currentUser._id)){ %>
            <a class="btn btn-dark profileOverviewBtn" href="/user/<%= user._id %>/edit">
              <span>Edit Profile</span>
            </a>
            <% } else { %>
              <div class="left">
                <a href="/follow/<%= user.id %>">
                  <button class="btn btn-dark followBtn">Follow</button>
                </a>
              </div>
              <div class="left right">
                <form action="http://localhost:8800/api/conversations/<%= currentUser._id %>/<%= user.id %>"
                  method="POST">
                  <button type="submit" class="btn btn-dark chatBtn">Message</button>
                </form>
              </div>
              <% } %>
                <% } %>
    </div>
    <div class="justify-content-center d-flex py-2">
      <div class="left">
        <span id="userRole">
          <i class="fas fa-user pr-1"></i>
          <% if(user.isAgent==true){ %>
            Agent
            <% } else if(user.isAdmin==true){ %>
              Admin
              <% } else { %>
                Seeker
                <% } %>
        </span>
      </div>
      <div class="left right">
        <span>
          <% if(user.agentStatus==true || user.isAdmin==true){ %>
            <span id="userStatus"><i class="fas fa-check pr-1"></i>Verified</span>
            <% } else { %>
              <% if(user.isAgent==true){ %>
                <span id="userStatus"><i class="fas fa-clock pr-1"></i>Pending</span>
                <% } else { %>
                  <% } %>
                    <% } %>
        </span>
      </div>
      <% if(user.isAgent==true){ %>
        <div class="right">
          <span id="ceaNum">
            <span class="pr-1" style="letter-spacing: -0.15em;">CEA</span>
            <%= user.cea %>
          </span>
          <br>
        </div>
        <% } %>
    </div>
  </div>

  <!-- user details -->
  <div class="container">
    <p id="profileUsername" class="text-center pt-1 my-0">
      <%= user.username %>
    </p>
    <% if (user.rating===0) { %>
      <span class="justify-content-center d-flex pb-2 my-0" style="font-size: 0.9em; color: gray;">
        <em>No reviews found.</em>
      </span>
      <% } else { %>
        <div class="justify-content-center d-flex">
          <div class="mb-3 text-center" style="width: 400px;">
            <a href="/user/<%= user._id %>/reviews" id="mainReview">
              <p class="m-0">
                <%= user.rating.toFixed(2) %>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star <% if (user.rating > 1.5) { %> checked <% } %>"></span>
                  <span class="fa fa-star <% if (user.rating > 2.5) { %> checked <% } %>"></span>
                  <span class="fa fa-star <% if (user.rating > 3.5) { %> checked <% } %>"></span>
                  <span class="fa fa-star <% if (user.rating > 4.5) { %> checked <% } %>"></span>
                  (<%= user.reviews.length %>)
              </p>
            </a>
          </div>
        </div>
        <% } %>
  </div>

  <!-- overview -->
  <div class="container overview text-center mt-4 pb-3">
    <div class="row">
      <% if(currentUser && user._id.equals(currentUser._id)){ %>
        <div class="col-3 first my-2" style="cursor: default;">
          <span>
            <%= listings.length %>
              <% if(listings.length<2){ %>
                Listing
                <% } else { %>
                  Listings
                  <% } %>
          </span>
        </div>
        <div class="col-3 second my-2">
          <a href="/user/<%= user._id %>/reviews">
            <span>
              <%= user.reviews.length %>
                <% if(user.reviews.length<2){ %>
                  Review
                  <% } else { %>
                    Reviews
                    <% } %>
            </span>
          </a>
        </div>
        <div class="col-3 third my-2">
          <a href="" data-toggle="modal" data-target="#notificationTarget">
            <span>
              <%= allNotifications.length %>
              <% if(allNotifications.length<2){ %>
                Notification
                <% } else { %>
                  Notifications
                  <% } %>
            </span>
          </a>
        </div>
        <div class="col-3 forth my-2">
          <a href="" data-toggle="modal" data-target="#followerTarget">
            <span>
              <%= allFollowers.length %>
              <% if(allFollowers.length<2){ %>
                Follower
                <% } else { %>
                  Followers
                  <% } %>
            </span>
          </a>
        </div>
      <% } else { %>
        <div class="col-4 first my-2" style="cursor: default;">
          <span>
            <%= listings.length %>
              <% if(listings.length<2){ %>
                Listing
                <% } else { %>
                  Listings
                  <% } %>
          </span>
        </div>
        <div class="col-4 second my-2">
          <a href="/user/<%= user._id %>/reviews">
            <span>
              <%= user.reviews.length %>
                <% if(user.reviews.length<2){ %>
                  Review
                  <% } else { %>
                    Reviews
                    <% } %>
            </span>
          </a>
        </div>
        <div class="col-4 forth my-2">
          <a href="" data-toggle="modal" data-target="#followerTarget">
            <span>
              <%= allFollowers.length %>
              <% if(allFollowers.length<2){ %>
                Follower
                <% } else { %>
                  Followers
                  <% } %>
            </span>
          </a>
        </div>
      <% } %>
    </div>
  </div>
  

  <div style="background: #f3f3f3;">
    <div class="container">
      <div class="row">
        <!-- profile details & followers & notifictions -->
        <div class="col-4">
          <div class="row item shark-1">
            <!-- profile details -->
            <div class="col-12 borderStyle mt-3">
              <div class="align-items-center d-flex pl-4 pr-2 py-2 mb-4 justify-content-between headerStyle">
                <div class="left">
                  <p class="profileHeader my-0">Profile Details</p>
                </div>
                <div class="right">
                  <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <a class="btn btn-outline-dark profileBtn" href="/user/<%= user._id %>/edit">
                      <span>Edit</span>
                    </a>
                    <% } %>
                </div>
              </div>
              <div class="row px-4" id="profileDetails">
                <div class="col-3">
                  <span>Joined:</span>
                </div>
                <div class="col-9">
                  <p>
                    <%= moment(user.createdAt).format('DD MMMM YYYY, h:mm:ss a'); %>
                  </p>
                </div>
                <div class="col-3">
                  <span>Role:</span>
                </div>
                <div class="col-9">
                  <p>
                    <% if(user.isAgent==true){ %>
                      Agent
                      <% } else if(user.isAdmin==true){ %>
                        Admin
                        <% } else { %>
                          Seeker
                          <% } %>
                  </p>
                </div>
                <div class="col-3">
                  <span>Name:</span>
                </div>
                <div class="col-9">
                  <p>
                    <%= user.firstName + " " + user.lastName %>
                  </p>
                </div>
                <div class="col-3">
                  <span>Email:</span>
                </div>
                <div class="col-9">
                  <p>
                    <a href="mailto:<%= user.email %>" style="color: black;">
                      <%= user.email %>
                    </a>
                  </p>
                </div>
                <% if(currentUser && user.isAgent==true){ %>
                  <div class="col-3">
                    <span>CEA:</span>
                  </div>
                  <div class="col-9">
                    <p>
                      <%= user.cea %>
                    </p>
                  </div>
                  <% } %>
                    <div class="col-3">
                      <span>Gender:</span>
                    </div>
                    <div class="col-9">
                      <p>
                        <%= user.gender %>
                      </p>
                    </div>
                    <div class="col-3">
                      <span>Phone:</span>
                    </div>
                    <div class="col-9">
                      <p>
                        <%= user.phone %>
                      </p>
                    </div>
                    <% if(currentUser && user._id.equals(currentUser._id)|| currentUser && currentUser.isAdmin){ %>
                      <div class="col-3">
                        <span>Address:</span>
                      </div>
                      <div class="col-9">
                        <p>
                          <%= user.streetName %><br>
                            <%= user.unitNumber %><br>
                              <%= user.country %><br>
                                <%= user.state %><br>
                                  <%= user.postalCode %>
                        </p>
                      </div>
                      <% } %>
              </div>
            </div>
          </div>
        </div>

        <!-- listings & reviews -->
        <div class="col-8 pr-0">
          <% if(listings.length==0){ %>
          <% } else{ %>
            <div class="col-12 borderStyle mt-3">
              <div id="map" style="height: 200px;"></div>
            </div>
          <% } %>
          <!-- listings -->
          <div class="col-12 borderStyle mt-3">
            <div class="d-flex p-2 mb-0 justify-content-between headerStyle">
              <div class="left pb-4">
                <span class="profileHeader my-0 pb-3" id="listingHover"
                  style="border-bottom: 2px #4632da solid; color: #4632da; font-weight: 600; cursor: context-menu;">Listings</span>
                <a href="/user/<%= user._id %>/reviews" style="color: black; text-decoration: none;">
                  <span class="profileHeader my-0 pl-3" id="reviewHover">Reviews</span>
                </a>
              </div>
              <div class="right">
                <div class="box justify-content-end d-flex">
                  <% if(noMatch !== undefined){ %>
                    <form action="/user/<%= user._id %>" method="GET" class="form-inline">
                      <input type="text" name="search" placeholder="Search Listings">
                      <button><i class="fas fa-search"></i></button>
                    </form>
                  <% } %>
                </div>
              </div>
            </div>
            <% if(user.isAgent==true || user.isAdmin==true){ %>
              <% if(listings==0){ %>
                <p class="px-2">
                  <em>No listings found.</em>
                </p>
                <% } else { %>
                  <div class="row px-2">
                    <% listings.reverse().forEach(function(listing) { %>
                      <div class="col-3 p-3 listingHover">
                        <div class="row">
                          <a href="/listings/<%= listing.id %>" style="text-decoration: none; color: black;">
                            <div class="col-12">
                                <img src="<%= listing.thumbnail %>"
                                  style="background-size: cover; width: 100%; object-fit: cover; background-position: center center;">
                            </div>
                            <% if(listing.soldStatus==true){ %>
                              <div class="justify-content-center d-flex">
                                <span class="text-center" id="soldBanner">
                                  Sold
                                </span>
                              </div>
                            <% } %>
                            <% if(listing.archiveStatus==true){ %>
                              <div class="justify-content-center d-flex">
                                <span class="text-center" id="archiveBanner">
                                  Archive
                                </span>
                              </div>
                            <% } %>
                            <div class="col-12 my-2" style="font-weight: 600;">
                              <% if(listing.name.length<14){ %>
                                <%= listing.name.substring(0, 14) %>
                                  <% } else { %>
                                    <%= listing.name.substring(0, 14) + " ..." %>
                                      <% } %>
                            </div>
                            <div class="col-12 my-1" style="font-weight: 600;">
                              <span>
                                <%= "S$" + listing.price %>
                              </span>
                            </div>
                            <div class="col-12 mt-1" style="font-weight: 400;">
                              <span style="font-size: 0.9em;">
                                Zone: <%= listing.zone %>
                              </span>
                            </div>
                            <div class="col-12 my-0" style="font-weight: 400;">
                              <span style="font-size: 0.9em;">
                                Type: <%= listing.type %>
                              </span>
                            </div>
                            <div class="col-12 mb-1" style="font-weight: 400;">
                              <span style="font-size: 0.9em;">
                                Rooms: <%= listing.numofRooms %>
                              </span>
                            </div>
                            <div class="col-12 mb-1" style="font-weight: 400;">
                              <span style="font-size: 0.9em;">
                                Rooms: <%= listing.numofRooms %>
                              </span>
                            </div>
                          </a>
                          <div class="col-12 mt-1">
                            <form action="/listings/<%= listing._id %>/like" method="POST" class="likeBtn">
                              <div class="justify-content-between d-flex">
                                <div>
                                  <% if (currentUser && listing.likes.some(function (like) { return like.equals(currentUser._id) })) { %>
                                  <button class="px-0">
                                    <i class="fas fa-heart filledHeart"></i>
                                    <%= listing.likes.length %>
                                  </button>
                                  <% } else { %>
                                    <button class="px-0">
                                      <i class="far fa-heart emptyHeart"></i>
                                      <%= listing.likes.length %>
                                    </button>
                                    <% } %>
                                </div>
                                <%if(currentUser&&listing.author.id.equals(currentUser._id)||currentUser&&currentUser.isAdmin){%>
                                  <div>
                                    <div class="dropdown">
                                      <button  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                      </button>
                                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="/listings/<%= listing._id %>/edit">
                                          Edit
                                        </a>
                                        <% if(listing.archiveStatus==false){ %>
                                          <a class="dropdown-item" href="/listings/<%= listing._id %>/archive">
                                            Archive
                                          </a>
                                        <% } else { %>
                                          <a class="dropdown-item" href="/listings/<%= listing._id %>/unarchive">
                                            Unarchive
                                          </a>
                                        <% } %>
                                        <% if(listing.soldStatus==false){ %>
                                          <a class="dropdown-item" href="/listings/<%= listing._id %>/sold">
                                            Mark as Sold
                                          </a>
                                        <% } else { %>
                                          <a class="dropdown-item" href="/listings/<%= listing._id %>/unsold">
                                            Mark as Available
                                          </a>
                                        <% } %>
                                      </div>
                                    </div>
                                  </div>
                                <% } %>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      <% }); %>
                  </div>
                  <% } %>
                    <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Notifications Modal -->
  <div class="modal fade" id="notificationTarget" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="justify-content-between align-items-center d-flex border-bottom">
          <div class="py-4"></div>
          <div>
            <p class="modal-title pl-5" id="exampleModalLongTitle">Notifications</p>
          </div>
          <div>
            <button type="button" class="close mr-3" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="modal-body">
          <% if(allNotifications==0 ){ %>
            <p>
              <em>No notifications found.</em>
            </p>
            <% } else { %>
              <% allNotifications.reverse().forEach(function(notification) { %>
                <div class="row mb-3 align-items-center d-flex">
                  <div class="col-2">
                    <a href="/user/<%= notification.idUser %>">
                      <img src="<%= notification.image %>" alt="listing image"
                        style="width:60px; border: 1px solid gray; border-radius: 50%; object-fit: cover;">
                    </a>
                  </div>
                  <div class="col-7 pr-0">
                    <a href="/notifications/<%= notification.id %>" style="color:black;">
                      <%= notification.username %> added a new listing
                    </a><br>
                    <span style="font-size: 0.9em;">
                      <em>
                        <%= moment(notification.createdAt).fromNow() %>
                      </em>
                    </span>
                  </div>
                  <div class="col-3 justify-content-end d-flex">
                    <a href="/notifications/<%= notification.id %>">
                      <img src="<%= notification.listingImage %>"
                        style="width:60px; border: 1px solid gray; object-fit: cover;">
                    </a>
                  </div>
                </div>
                <% }); %>
                  <% } %>
        </div>
      </div>
    </div>
  </div>

  <!-- Followers Modal -->
  <div class="modal fade" id="followerTarget" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="justify-content-between align-items-center d-flex border-bottom">
          <div class="py-4"></div>
          <div>
            <p class="modal-title pl-5" id="exampleModalLongTitle">Followers</p>
          </div>
          <div>
            <button type="button" class="close mr-3" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="modal-body">
          <% if(user.followers=="" ){ %>
            <p>
              <em>No followers found.</em>
            </p>
            <% } else { %>
              <% allFollowers.reverse().forEach(function(followers, index) { %>
                <div>
                  <div class="row align-items-center d-flex mb-3">
                    <div class="col-2">
                      <a href="/user/<%= followers._id %>">
                        <img src="<%= followers.image %>"
                          style="width:60px; border: 1px solid gray; border-radius: 50%; object-fit: cover;">
                      </a>
                    </div>
                    <div class="col-7">
                      <a href="/user/<%= followers._id %>" style="color: black">
                        <%= followers.username %>
                      </a>
                    </div>
                    <!-- follow button -->
                    <div class="col-3 justify-content-end d-flex">
                      <a href="/follow/<%= followers._id %>">
                        <button class="btn btn-dark editDeleteReviewBtn">Follow</button>
                      </a>
                    </div>
                  </div>
                </div>
                <% }); %>
                  <% } %>
        </div>
      </div>
    </div>
  </div>

  <script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
    const listings = { features: <%- JSON.stringify(listings) %> }
  </script>
  <script src="/javascripts/agentMap.js"></script>


  <%- include("../partials/footer") %>