<%- include("../partials/header") %>

  <!-- banner -->
  <div style="margin-top: 35px; background: url('<%= user.banner %>'); height: 300px; width: 100%; background-size: cover; object-fit: cover; background-position: center center;">
    <div class="justify-content-between align-items-center d-flex">
      <div class="px-4 mx-1">
      </div>
      <div>
        <div class="left pb-3">
          <!-- suspend account-->
          <% if(currentUser && !user.isAdmin==true){ %>
            <form action="/suspend/<%= user.id %>?_method=PUT" method="POST" class="text-center" style="position:relative; top: 10px;">
              <% if(user.suspend==false){ %>
                <button type="submit" name="user[suspend]" value="true" class="btn approveBtn"
                  style="background: #FFC107; color: white; font-weight: 600; font-size: 0.9em;">Suspend<span class="d-none d-md-inline"> User</span></button>
              <% } else{ %>
                <button type="submit" name="user[suspend]" value="false" class="btn approveBtn"
                  style="background: #17A2B8; color: white; font-weight: 600; font-size: 0.9em;">Unsuspend<span class="d-none d-md-inline"> User</span></button>
              <% } %>
            </form>
          <% } %>
        </div>
        <div class="right pb-3">
          <!-- approve/remove agent -->
          <% if(user.isAgent && currentUser && currentUser.isAdmin){ %>
            <form action="/agentStatus/<%= user._id %>?_method=PUT" method="POST" class="text-center" style="position:relative; top: 10px;">
              <% if(user.agentStatus==false){ %>
                <button type="submit" name="user[agentStatus]" value="true" class="btn approveBtn"
                  style="background: #41e792; color: white; font-weight: 600; font-size: 0.9em;">Approve<span class="d-none d-md-inline"> Agent</span></button>
              <% } else{ %>
                <button type="submit" name="user[agentStatus]" value="false" class="btn approveBtn"
                  style="background: #DC3545; color: white; font-weight: 600; font-size: 0.9em;">Remove<span class="d-none d-md-inline"> Agent</span></button>
              <% } %>
            </form>
          <% } %>
        </div>
      </div>
      <div>
        <!-- upload banner button -->
        <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
          <form action="/user/<%=user._id %>/banner?_method=PUT" method="POST" enctype="multipart/form-data" id="bannerForm">
            <span class="justify-content-end d-flex">
              <label for="file-upload" class="customBannerUpload px-3">
                <i class="fas fa-camera"></i>
              </label>
              <input type="file" id="file-upload" name="banner" onchange="this.form.submit()" id="bannerUpload"
                accept="image/*">
            </span>
          </form>
        <% } else { %>
          <div class="py-4 px-3"></div>
        <% } %>
      </div>
    </div>

    <!-- profile image -->
    <span class="justify-content-center d-flex">
      <img src="<%= user.image %>" alt="user profile image" class="profileImage">
    </span>
    <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
      <!-- upload profile image button -->
      <form action="/user/<%=user._id %>/image?_method=PUT" method="POST" enctype="multipart/form-data" id="imageForm" class="text-center">
        <label for="file-upload-image" class="customImageUpload px-3">
          <i class="fas fa-camera"></i>
        </label>
        <input type="file" id="file-upload-image" name="image" onchange="this.form.submit()" id="imageUpload" accept="image/*">
      </form>
    <% } %>
  </div>

  <!-- follow & chat & edit profile -->
  <div class="container d-lg-none mt-5 pt-1">
    <p id="profileUsername" class="text-center pt-2 pt-lg-1 my-0">
      <%= user.username %>
    </p>
    <% if (user.rating===0) { %>
      <span class="justify-content-center d-flex pb-2 my-0" style="font-size: 0.9em; color: gray;">
        <em>No reviews found.</em>
      </span>
      <% } else { %>
        <div class="justify-content-center d-flex">
          <div class="mb-3 text-center" style="width: 400px;">
            <a href="/user/<%= user._id %>/reviews" id="mainReview">
              <p class="m-0">
                <%= user.rating.toFixed(2) %>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star <% if (user.rating > 1.5) { %> checked <% } %>"></span>
                  <span class="fa fa-star <% if (user.rating > 2.5) { %> checked <% } %>"></span>
                  <span class="fa fa-star <% if (user.rating > 3.5) { %> checked <% } %>"></span>
                  <span class="fa fa-star <% if (user.rating > 4.5) { %> checked <% } %>"></span>
                  (<%= user.reviews.length %>)
              </p>
            </a>
          </div>
        </div>
        <% } %>
  </div>

  <div class="container mt-0 mt-lg-3 px-4">
    <div class="row mt-2 mt-lg-0">
      <div class="col-12 col-lg-6 justify-content-center justify-content-lg-start align-items-center d-flex">
        <div class="left">
          <span id="userRole">
            <i class="fas fa-user pr-1"></i>
            <% if(user.isAgent==true){ %>
              Agent
            <% } else if(user.isAdmin==true){ %>
              Admin
            <% } else { %>
              Seeker
            <% } %>
          </span>
        </div>
        <div class="left right">
          <span>
            <% if(user.agentStatus==true || user.isAdmin==true){ %>
              <span id="userStatus"><i class="fas fa-check pr-1"></i>Verified</span>
            <% } else { %>
              <% if(user.isAgent==true){ %>
                <span id="userStatus"><i class="fas fa-clock pr-1"></i>Pending</span>
              <% } else { %>
              <% } %>
            <% } %>
          </span>
        </div>
        <% if(user.isAgent==true){ %>
          <div class="right">
            <span id="userActive">
              <% if ( moment(user.lastLogin).format('DD MM YYYY hh:mm:ss') > moment().subtract(7,'days').format('DD MM YYYY hh:mm:ss'))  {%>
                <span class="pr-1"><i class="fas fa-bolt"></i> Active</span>
              <% } else { %>
                <span class="pr-1"><img src="/img/snooze.svg" style="width: 12%;"> Inactive</span>
              <% } %>
            </span>
            <br>
          </div>
        <% } %>
      </div>
      <div class="col-12 col-lg-6 d-none d-lg-block pt-3 pt-lg-0">
        <div class="justify-content-lg-end align-items-center d-flex">
          <% if(!currentUser){ %>
            <form action="/followSingle/<%= user.id %>" method="POST">
              <button class="btn btn-outline-dark followBtn">
                <img src="/img/follow.svg" style="width:21px;" alt=""> Follow
              </button>
            </form>
          <% } else { %>
            <% if(user._id.equals(currentUser._id)){ %>
              <a class="btn btn-outline-dark profileOverviewBtn align-items-center d-flex" href="/user/<%= user._id %>/edit">
                <ion-icon name="create-outline" style="font-size: 1.3em;" class="pr-1"></ion-icon>Edit Profile
              </a>
              <% if(currentUser && user._id.equals(currentUser._id) || currentUser && user.isAdmin){ %>
                <a href="/listings/new" class="ml-2 btn btn-outline-dark profileOverviewBtn align-items-center d-flex" style="text-decoration: none;">
                  <ion-icon name="add-circle-outline" style="font-size: 1.3em;" class="pr-1"></ion-icon>Add Listing
                </a>
              <% } %>
            <% } else { %>
              <% var currentFollow = false; for(let i=0; i<user.followers.length; i++) { if(user.followers[i]._id.equals(currentUser._id)) { currentFollow = true; } } %>
              <% if(currentFollow == false) { %>
                <div class="left">
                  <form action="/followSingle/<%= user.id %>" method="POST">
                    <button class="btn btn-outline-dark followBtn">
                      <img src="/img/follow.svg" style="width:21px;" alt=""> Follow
                    </button>
                  </form>
                </div>
              <% } else { %>
                <div class="left">
                  <form action="/followSingle/<%= user.id %>" method="POST">
                    <button class="btn btn-outline-dark followBtn">
                      <img src="/img/unfollow.svg" style="width:21px;" alt=""> Unfollow
                    </button>
                  </form>
                </div>
              <% } %>
              <div class="left right">
                <form action="/conversation/<%= currentUser._id %>/<%= user.id %>"
                  method="POST">
                  <button type="submit" class="btn btn-outline-dark chatBtn align-items-center d-flex">
                    <ion-icon name="chatbox-outline" style="font-size: 1.3em;" class="pr-1"></ion-icon>Chat
                  </button>
                </form>
              </div>
              <a class="mr-2 btn btn-outline-dark emailBtn" href="mailto:<%= user.email %>">
                <img src="/img/email.svg" style="width:19px;" alt=""> Email
              </a>
            <% } %>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <!-- user details -->
  <div class="container d-none d-lg-block">
    <p id="profileUsername" class="text-center pt-2 pt-lg-1 my-0">
      <%= user.username %>
    </p>
    <% if (user.rating===0) { %>
      <span class="justify-content-center d-flex pb-2 my-0" style="font-size: 0.9em; color: gray;">
        <em>No reviews found.</em>
      </span>
      <% } else { %>
        <div class="justify-content-center d-flex">
          <div class="mb-3 text-center" style="width: 400px;">
            <a href="/user/<%= user._id %>/reviews" id="mainReview">
              <p class="m-0">
                <%= user.rating.toFixed(2) %>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star <% if (user.rating > 1.5) { %> checked <% } %>"></span>
                  <span class="fa fa-star <% if (user.rating > 2.5) { %> checked <% } %>"></span>
                  <span class="fa fa-star <% if (user.rating > 3.5) { %> checked <% } %>"></span>
                  <span class="fa fa-star <% if (user.rating > 4.5) { %> checked <% } %>"></span>
                  (<%= user.reviews.length %>)
              </p>
            </a>
          </div>
        </div>
        <% } %>
  </div>

  <!-- overview -->
  <div class="container overview text-center mt-4 pb-3 d-none d-sm-block">
    <div class="row">
      <% if(currentUser && user._id.equals(currentUser._id)){ %>
        <div class="col-6 col-sm-3 first my-2 justify-content-center d-flex align-items-center">
          <a href="/user/<%= user._id %>" class="p-0">
            <span>
              <%= listings.length %>
              <br class="d-lg-none">
                <% if(listings.length<2){ %>
                  Listing
                  <% } else { %>
                    Listings
                    <% } %>
            </span>
          </a>
        </div>
        <div class="col-6 col-sm-3 second my-2 justify-content-center d-flex align-items-center">
          <a href="/user/<%= user._id %>/reviews" class="p-0">
            <span>
              <%= user.reviews.length %>
              <br class="d-lg-none">
                <% if(user.reviews.length<2){ %>
                  Review
                  <% } else { %>
                    Reviews
                    <% } %>
            </span>
          </a>
        </div>
        <div class="col-6 col-sm-3 third my-2 justify-content-center d-flex align-items-center">
          <a href="" class="p-0" data-toggle="modal" data-target="#notificationTarget">
            <span>
              <%= allNotifications.length %>
              <br class="d-lg-none">
              <% if(allNotifications.length<2){ %>
                Notification
                <% } else { %>
                  Notifications
                  <% } %>
            </span>
          </a>
        </div>
        <div class="col-6 col-sm-3 forth my-2 justify-content-center d-flex align-items-center">
          <a href="" class="p-0" data-toggle="modal" data-target="#followerTarget">
            <span>
              <%= allFollowers.length %>
              <br class="d-lg-none">
              <% if(allFollowers.length<2){ %>
                Follower
                <% } else { %>
                  Followers
                  <% } %>
            </span>
          </a>
        </div>
      <% } else { %>
        <div class="col-4 first my-2 justify-content-center d-flex align-items-center">
          <a href="/user/<%= user._id %>">
            <span>
              <%= listings.length %>
              <br class="d-lg-none">
              <% if(listings.length<2){ %>
                Listing
              <% } else { %>
                Listings
              <% } %>
            </span>
          </a>
        </div>
        <div class="col-4 second my-2 justify-content-center d-flex align-items-center">
          <a href="/user/<%= user._id %>/reviews">
            <span>
              <%= user.reviews.length %>
              <br class="d-lg-none">
              <% if(user.reviews.length<2){ %>
                Review
              <% } else { %>
                Reviews
              <% } %>
            </span>
          </a>
        </div>
        <div class="col-4 forth my-2 justify-content-center d-flex align-items-center">
          <a href="" data-toggle="modal" data-target="#followerTarget">
            <span>
              <%= allFollowers.length %>
              <br class="d-lg-none">
              <% if(allFollowers.length<2){ %>
                Follower
                <% } else { %>
                  Followers
                  <% } %>
            </span>
          </a>
        </div>
      <% } %>
    </div>
  </div>

  <div class="align-items-center justify-content-center d-flex d-sm-none mt-2">
    <% if(!currentUser){ %>
      <form action="/followSingle/<%= user.id %>" method="POST">
        <button class="btn btn-outline-dark followBtn">
          <img src="/img/follow.svg" style="width:21px;" alt=""> Follow
        </button>
      </form>
    <% } else { %>
      <% if(user._id.equals(currentUser._id)){ %>
        <a class="btn btn-outline-dark profileOverviewBtn align-items-center d-flex" href="/user/<%= user._id %>/edit">
          <ion-icon name="create-outline" style="font-size: 1.3em;" class="pr-1"></ion-icon>Edit Profile
        </a>
        <% if(currentUser && user._id.equals(currentUser._id) || currentUser && user.isAdmin){ %>
          <a href="/listings/new" class="ml-2 btn btn-outline-dark profileOverviewBtn align-items-center d-flex" style="text-decoration: none;">
            <ion-icon name="add-circle-outline" style="font-size: 1.3em;" class="pr-1"></ion-icon>Add Listing
          </a>
        <% } %>
      <% } else { %>
        <% var currentFollow = false; for(let i=0; i<user.followers.length; i++) { if(user.followers[i]._id.equals(currentUser._id)) { currentFollow = true; } } %>
        <% if(currentFollow == false) { %>
          <div class="left">
            <form action="/followSingle/<%= user.id %>" method="POST">
              <button class="btn btn-outline-dark followBtn">
                <img src="/img/follow.svg" style="width:21px;" alt=""> Follow
              </button>
            </form>
          </div>
        <% } else { %>
          <div class="left">
            <form action="/followSingle/<%= user.id %>" method="POST">
              <button class="btn btn-outline-dark followBtn">
                <img src="/img/unfollow.svg" style="width:21px;" alt=""> Unfollow
              </button>
            </form>
          </div>
        <% } %>
        <div class="left right">
          <form action="/conversation/<%= currentUser._id %>/<%= user.id %>"
            method="POST">
            <button type="submit" class="btn btn-outline-dark chatBtn align-items-center d-flex">
              <ion-icon name="chatbox-outline" style="font-size: 1.3em;" class="pr-1"></ion-icon>Chat
            </button>
          </form>
        </div>
        <a class="mr-2 btn btn-outline-dark emailBtn" href="mailto:<%= user.email %>">
          <img src="/img/email.svg" style="width:19px;" alt=""> Email
        </a>
      <% } %>
    <% } %>
  </div>
  <p class="justify-content-center d-flex d-sm-none mt-2">
    <a class="btn" style="font-size: 0.95em; font-weight: 600; background: white; color: #003580;" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Overview ▾
    </a>
  </p>
  <div class="collapse d-sm-none" id="collapseExample">
    <div class="card card-body">
      <div class="container overview text-center">
        <div class="row">
          <% if(currentUser && user._id.equals(currentUser._id)){ %>
            <div class="col-6 col-sm-3 p-3 justify-content-center d-flex align-items-center" style="background: rgb(238, 238, 238); border-bottom: white 5px solid; border-right: white 5px solid;">
              <a href="/user/<%= user._id %>" class="p-0">
                <span class="p-0">
                  <%= listings.length %>
                  <br class="d-lg-none">
                    <% if(listings.length<2){ %>
                      Listing
                      <% } else { %>
                        Listings
                        <% } %>
                </span>
              </a>
            </div>
            <div class="col-6 col-sm-3 p-3 justify-content-center d-flex align-items-center" style="background: rgb(238, 238, 238); border-bottom: white 5px solid;">
              <a href="/user/<%= user._id %>/reviews" class="p-0">
                <span class="p-0">
                  <%= user.reviews.length %>
                  <br class="d-lg-none">
                    <% if(user.reviews.length<2){ %>
                      Review
                      <% } else { %>
                        Reviews
                        <% } %>
                </span>
              </a>
            </div>
            <div class="col-6 col-sm-3 p-3 justify-content-center d-flex align-items-center" style="background: rgb(238, 238, 238); border-right: white 5px solid;">
              <a href="" class="p-0" data-toggle="modal" data-target="#notificationTarget">
                <span class="p-0">
                  <%= allNotifications.length %>
                  <br class="d-lg-none">
                  <% if(allNotifications.length<2){ %>
                    Notification
                    <% } else { %>
                      Notifications
                      <% } %>
                </span>
              </a>
            </div>
            <div class="col-6 col-sm-3 p-3 justify-content-center d-flex align-items-center" style="background: rgb(238, 238, 238);">
              <a href="" class="p-0" data-toggle="modal" data-target="#followerTarget">
                <span class="p-0">
                  <%= allFollowers.length %>
                  <br class="d-lg-none">
                  <% if(allFollowers.length<2){ %>
                    Follower
                    <% } else { %>
                      Followers
                      <% } %>
                </span>
              </a>
            </div>
          <% } else { %>
            <div class="col-4 my-2 justify-content-center d-flex align-items-center">
              <a href="/user/<%= user._id %>">
                <span class="p-0">
                  <%= listings.length %>
                  <br class="d-lg-none">
                  <% if(listings.length<2){ %>
                    Listing
                  <% } else { %>
                    Listings
                  <% } %>
                </span>
              </a>
            </div>
            <div class="col-4 my-2 justify-content-center d-flex align-items-center">
              <a href="/user/<%= user._id %>/reviews">
                <span class="p-0">
                  <%= user.reviews.length %>
                  <br class="d-lg-none">
                  <% if(user.reviews.length<2){ %>
                    Review
                  <% } else { %>
                    Reviews
                  <% } %>
                </span>
              </a>
            </div>
            <div class="col-4 my-2 justify-content-center d-flex align-items-center">
              <a href="" data-toggle="modal" data-target="#followerTarget">
                <span class="p-0">
                  <%= allFollowers.length %>
                  <br class="d-lg-none">
                  <% if(allFollowers.length<2){ %>
                    Follower
                    <% } else { %>
                      Followers
                      <% } %>
                </span>
              </a>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  
  <div style="background: #f3f3f3;" class="pb-5">
    <div class="container">
      <div class="row">
        <!-- profile details & followers & notifictions -->
        <div class="col-12 col-lg-4">
          <div class="row item shark-1 px-3 px-lg-0">
            <!-- profile details -->
            <div class="col-12 borderStyle mt-3">
              <div class="align-items-center d-flex pl-4 pr-2 py-2 mb-4 justify-content-between headerStyle">
                <div class="left">
                  <p class="profileHeader my-0">Profile Details</p>
                </div>
                <div class="right">
                  <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <a class="btn btn-outline-dark profileBtn" href="/user/<%= user._id %>/edit">
                      <span>Edit</span>
                    </a>
                    <% } %>
                </div>
              </div>
              <div class="row px-4" id="profileDetails">
                <div class="col-3">
                  <span>Joined:</span>
                </div>
                <div class="col-9">
                  <p>
                    <%= moment(user.createdAt).format('DD MMMM YYYY, h:mm:ss a'); %>
                  </p>
                </div>
                <!-- <div class="col-3">
                  <span>Last Login:</span>
                </div>
                <div class="col-9">
                  <p>
                    <%= moment(user.lastLogin).format('DD MMMM YYYY, h:mm:ss a'); %>
                  </p>
                </div> -->
                <div class="col-3">
                  <span>Role:</span>
                </div>
                <div class="col-9">
                  <p>
                    <% if(user.isAgent==true){ %>
                      Agent
                      <% } else if(user.isAdmin==true){ %>
                        Admin
                        <% } else { %>
                          Seeker
                          <% } %>
                  </p>
                </div>
                <div class="col-3">
                  <span>Name:</span>
                </div>
                <div class="col-9">
                  <p>
                    <%= user.firstName + " " + user.lastName %>
                  </p>
                </div>
                <div class="col-3">
                  <span>Email:</span>
                </div>
                <div class="col-9">
                  <p>
                    <a href="mailto:<%= user.email %>" style="color: black;">
                      <%= user.email %>
                    </a>
                  </p>
                </div>
                <% if(currentUser && user.isAgent==true){ %>
                  <div class="col-3">
                    <span>CEA:</span>
                  </div>
                  <div class="col-9">
                    <p>
                      <%= user.cea %>
                    </p>
                  </div>
                  <% } %>
                    <div class="col-3">
                      <span>Gender:</span>
                    </div>
                    <div class="col-9">
                      <p>
                        <%= user.gender %>
                      </p>
                    </div>
                    <div class="col-3">
                      <span>Phone:</span>
                    </div>
                    <div class="col-9">
                      <p>
                        <%= user.phone %>
                      </p>
                    </div>
                    <% if(currentUser && user._id.equals(currentUser._id)|| currentUser && currentUser.isAdmin){ %>
                      <div class="col-3">
                        <span>Address:</span>
                      </div>
                      <div class="col-9">
                        <p>
                          <%= user.streetName %><br>
                            <%= user.unitNumber %><br>
                              <%= user.country %><br>
                                <%= user.state %><br>
                                  <%= user.postalCode %>
                        </p>
                      </div>
                      <% } %>
              </div>
            </div>
          </div>
        </div>

        <!-- listings & reviews -->
        <div class="col-12 col-lg-8 pr-lg-0 pl-lg-3">
          <% if(listings.length==0){ %>
          <% } else{ %>
            <div class="col-12 borderStyle mt-3">
              <div id="map" style="height: 200px;"></div>
            </div>
          <% } %>
          <!-- listings -->
          <div class="col-12 borderStyle mt-3 pb-4">
            <div class="row">
              <div class="col-8 col-sm-5 col-md-4 col-xl-3 mb-4 pb-2 mb-sm-0">
                <a href="/user/<%= user._id %>" style="color: black; text-decoration: none;">
                  <span class="profileHeader my-0 pb-3" id="listingHover"
                    style="border-bottom: 2px #4632da solid; color: #4632da; font-weight: 600;">Listings</span>
                </a>
                <a href="/user/<%= user._id %>/reviews" style="color: black; text-decoration: none;">
                  <span class="profileHeader my-0 pl-3" id="reviewHover">Reviews</span>
                </a>
              </div>
              <div class="col-4 justify-content-end d-flex d-sm-none">
                <% if(currentUser && user._id.equals(currentUser._id) && currentUser.isAdmin || currentUser && user._id.equals(currentUser._id) && currentUser.isAgent){ %>
                  <a href="/listings/new" class="pl-1" style="text-decoration: none;">
                    <ion-icon class="iconHeader" name="add-outline"></ion-icon>
                  </a>
                <% } %>
              </div>
              <% if(currentUser && user._id.equals(currentUser._id) && currentUser.isAdmin || currentUser && user._id.equals(currentUser._id) && currentUser.isAgent){ %>
                <div class="col-12 col-sm-6 col-md-7 col-xl-8">
                  <% if(noMatch !== undefined){ %>
                    <form action="/user/<%= user._id %>" method="GET">
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" name="search" placeholder="Search Listings">
                        <div class="input-group-append">
                          <button class="input-group-text btn btn-dark" style="background: rgb(52,58,64); color: white;">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  <% } %>
                </div>
              <% } else { %>
                <div class="col-12 col-sm-7 col-md-8 col-xl-9">
                  <% if(noMatch !== undefined){ %>
                    <form action="/user/<%= user._id %>" method="GET">
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" name="search" placeholder="Search Listings">
                        <div class="input-group-append">
                          <button class="input-group-text btn btn-dark" style="background: rgb(52,58,64); color: white;">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  <% } %>
                </div>
              <% } %>
              <div class="col-1 pl-0 d-none d-sm-block">
                <% if(currentUser && user._id.equals(currentUser._id) && currentUser.isAdmin || currentUser && user._id.equals(currentUser._id) && currentUser.isAgent){ %>
                  <a href="/listings/new" class="pl-1" style="text-decoration: none;">
                    <ion-icon class="iconHeader" name="add-outline"></ion-icon>
                  </a>
                <% } %>
              </div>
            </div>
              
            <% if(user.isAgent==true || user.isAdmin==true){ %>
              <% if(listings==0){ %>
                <p class="px-2">
                  <em>No listings found.</em>
                </p>
                <% } else { %>
                  <div class="row px-2">
                    <% var idArr = []; listings.reverse().forEach(function(listing) { var id = listing._id; idArr.push(id);%>
                      <div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 p-3 listingHover">
                        <div class="row">
                          <a href="/listings/<%= listing.id %>" style="text-decoration: none; color: black;">
                            <div class="col-12">
                                <img src="<%= listing.thumbnail %>"
                                  style="background-size: cover; width: 100%!important; height: 140px; object-fit: cover; background-position: center center;">
                            </div>
                            <% if(listing.soldStatus==true){ %>
                              <div class="justify-content-center d-flex">
                                <span class="text-center" id="soldBanner">
                                  Sold
                                </span>
                              </div>
                            <% } %>
                            <% if(listing.archiveStatus==true){ %>
                              <div class="justify-content-center d-flex">
                                <span class="text-center" id="archiveBanner">
                                  Archived
                                </span>
                              </div>
                            <% } %>
                            <div class="col-12 my-2" style="font-weight: 600;">
                              <% if(listing.name.length<14){ %>
                                <%= listing.name.substring(0, 14) %>
                                  <% } else { %>
                                    <%= listing.name.substring(0, 14) + " ..." %>
                                      <% } %>
                            </div>
                            <div class="col-12 my-1" style="font-weight: 600;">
                              <span>
                                <%= "S$" + listing.price %>
                              </span>
                            </div>
                            <div class="col-12 mt-1" style="font-weight: 400;">
                              <span style="font-size: 0.9em;">
                                Zone: <%= listing.district %>
                              </span>
                            </div>
                            <div class="col-12 my-0" style="font-weight: 400;">
                              <span style="font-size: 0.9em;">
                                Type: <%= listing.type %>
                              </span>
                            </div>
                            <div class="col-12 mb-1" style="font-weight: 400;">
                              <span style="font-size: 0.9em;">
                                Tenure: <%= listing.tenure %>
                              </span>
                            </div>
                          </a>
                          <div class="col-12 mt-1">
                            <form action="/listings/<%= listing._id %>/like" method="POST" class="likeBtn">
                              <div class="justify-content-between d-flex">
                                <div>
                                  <% if (currentUser && listing.likes.some(function (like) { return like.equals(currentUser._id) })) { %>
                                  <button class="px-0">
                                    <i class="fas fa-heart filledHeart"></i>
                                    <%= listing.likes.length %>
                                  </button>
                                  <% } else { %>
                                    <button class="px-0">
                                      <i class="far fa-heart emptyHeart"></i>
                                      <%= listing.likes.length %>
                                    </button>
                                    <% } %>
                                </div>
                                <%if(currentUser&&listing.author.id.equals(currentUser._id)||currentUser&&currentUser.isAdmin){%>
                                  <div>
                                    <div class="dropdown">
                                      <button  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                      </button>
                                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="/listings/<%= listing._id %>/edit">
                                          Edit
                                        </a>
                                        <% if(listing.archiveStatus==false && listing.soldStatus==false){ %>
                                          <a class="dropdown-item" href="/listings/<%= listing._id %>/archive">
                                            Archive
                                          </a>
                                          <a class="dropdown-item" href="/listings/<%= listing._id %>/sold">
                                            Mark as Sold
                                          </a>
                                        <% } else if(listing.archiveStatus==true&& listing.soldStatus==false) { %>
                                          <a class="dropdown-item" href="/listings/<%= listing._id %>/unarchive">
                                            Unarchive
                                          </a>
                                        <% } else { %>
                                          <a class="dropdown-item" href="/listings/<%= listing._id %>/unsold">
                                            Mark as Available
                                          </a>
                                        <% } %>
                                      </div>
                                    </div>
                                  </div>
                                <% } %>
                              </div>
                            </form>
                          </div>
                          <% if(currentUser && user._id.equals(currentUser._id)){ %>
                            <div class="col-12 mt-1">
                              <a href="" data-toggle="modal" data-target="#analyticTarget<%= id %>" style="color: black;">
                                <ion-icon name="trending-up-outline"></ion-icon><span class="pl-1" style="font-size: 0.9em; color: black">View Analytics</span>
                              </a>
                            </div>
                            <!-- Analytic Modal -->
                            <div class="modal fade" id="analyticTarget<%= id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                            aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="justify-content-between align-items-center d-flex border-bottom">
                                    <div class="py-4"></div>
                                    <div>
                                      <p class="modal-title pl-5" id="exampleModalLongTitle">Listing Insights</p>
                                    </div>
                                    <div>
                                      <button type="button" class="close mr-3" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                  </div>
                                  <div class="modal-body" style="height: 245px!important;">
                                    <div class="row">
                                      <div class="col-12 pb-3" style="border-bottom: 1px lightgray solid;">
                                        <a href="/listings/<%= listing._id %>" style="text-decoration: none; color: black; font-size: 0.95em;">
                                          <div class="row">
                                            <div class="col-2">
                                              <img src="<%= listing.thumbnail %>" style="background-size: cover; width: 100%; height: 50px; object-fit: cover; background-position: center center; border-radius: 5px;">
                                            </div>
                                            <div class="col-10">
                                              <div class="row">
                                                <div class="col-12" style="font-weight: 600;">
                                                  <% if(listing.name.length<40){ %>
                                                    <%= listing.name.substring(0, 40) %>
                                                      <% } else { %>
                                                        <%= listing.name.substring(0, 40) + " ..." %>
                                                          <% } %>
                                                </div>
                                                <div class="col-12">
                                                  <span style="color: rgb(145, 145, 145);">
                                                    <%= " - Listed on " + moment(listing.createdAt).format('MMM DD, YYYY') %>
                                                  </span>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                      <div class="col-12 pt-3">
                                        <p style="font-weight:600; font-size: 0.85em;">Overall Insights</p>
                                        <div class="loader" id="loader-<%=id%>"></div>
                                        <a id="<%=id%>"></a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          <% } %>
                        </div>
                      </div>
                      <% }); %>
                  </div>
                  <% } %>
                    <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Notifications Modal -->
  <div class="modal fade" id="notificationTarget" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="justify-content-between align-items-center d-flex border-bottom">
          <div class="py-4"></div>
          <div>
            <p class="modal-title pl-5" id="exampleModalLongTitle">Notifications</p>
          </div>
          <div>
            <button type="button" class="close mr-3" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="modal-body">
          <% if(allNotifications==0 ){ %>
            <p>
              <em>No notifications found.</em>
            </p>
            <% } else { %>
              <% allNotifications.reverse().forEach(function(notification) { %>
                <div class="row mb-3 align-items-center d-flex">
                  <div class="col-2">
                    <a href="/user/<%= notification.idUser %>">
                      <img src="<%= notification.image %>" alt="listing image"
                        style="width:60px; height:60px; border: 1px solid gray; border-radius: 50%; object-fit: cover;">
                    </a>
                  </div>
                  <div class="col-7 pr-0">
                    <a href="/notifications/<%= notification.id %>" style="color:black;">
                      <%= notification.username %> added a new listing
                    </a><br>
                    <span style="font-size: 0.9em;">
                      <em>
                        <%= moment(notification.createdAt).fromNow() %>
                      </em>
                    </span>
                  </div>
                  <div class="col-3 justify-content-end d-flex">
                    <a href="/notifications/<%= notification.id %>">
                      <img src="<%= notification.listingImage %>"
                        style="width:60px; border: 1px solid gray; object-fit: cover;">
                    </a>
                  </div>
                </div>
                <% }); %>
                  <% } %>
        </div>
      </div>
    </div>
  </div>

  <!-- Followers Modal -->
  <div class="modal fade" id="followerTarget" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="justify-content-between align-items-center d-flex border-bottom">
          <div class="py-4"></div>
          <div>
            <p class="modal-title pl-5" id="exampleModalLongTitle">Followers</p>
          </div>
          <div>
            <button type="button" class="close mr-3" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="modal-body">
          <% if(user.followers=="" ){ %>
            <p>
              <em>No followers found.</em>
            </p>
          <% } else { %>
            <% allFollowers.reverse().forEach(function(followers, index) { %>
              <div>
                <div class="row align-items-center d-flex mb-3">
                  <div class="col-2">
                    <a href="/user/<%= followers._id %>">
                      <img src="<%= followers.image %>"
                        style="width:60px; border: 1px solid gray; border-radius: 50%; object-fit: cover;">
                    </a>
                  </div>
                  <div class="col-7">
                    <a href="/user/<%= followers._id %>" style="color: black">
                      <%= followers.username %>
                    </a>
                  </div>
                </div>
              </div>
            <% }); %>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
    const listings = { features: <%- JSON.stringify(listings) %> }
  </script>
  <script src="/javascripts/agentMap.js"></script>
  <script src="/javascripts/clickRate.js"></script>
  <% if(currentUser && user._id.equals(currentUser._id) && listings.length!=0){ %>
    <% idArr.forEach((id, index)=> { %>
      <script>getClickRate("<%=id%>")</script>
    <% }); %>
  <% } else{ %>
  <% } %>

  <% var lastLogin = user.lastLogin %>

  <script>
    var date = moment("<%=lastLogin%>").format('DD MM YYYY hh:mm:ss')
    var newDate = moment().subtract(7,'days').format('DD MM YYYY hh:mm:ss')

    console.log(date > newDate)

    </script>


  
  <%- include("../partials/footer") %>