<%- include("../partials/header") %>

  <!-- banner -->
  <div style="margin-top: 35px; background: url('<%= user.banner %>'); height: 300px; width: 100%; background-size: cover; object-fit: cover; background-position: center center;">
    <div class="justify-content-between align-items-center d-flex">
      <div class="px-4 mx-1">
      </div>
      <div>
        <div class="left pb-3">
          <!-- suspend account-->
          <% if(user.isAgent && currentUser && currentUser.isAdmin || !user.isAdmin && !user.isAgent && currentUser && currentUser.isAdmin){ %>
            <form action="/suspend/<%= user.id %>?_method=PUT" method="POST" class="text-center" style="position:relative; top: 10px;">
              <% if(user.suspend==false){ %>
                <button type="submit" name="user[suspend]" value="true" class="btn approveBtn"
                  style="background: #FFC107; color: white; font-weight: 600; font-size: 0.9em;">Suspend<span class="d-none d-md-inline"> User</span></button>
              <% } else{ %>
                <button type="submit" name="user[suspend]" value="false" class="btn approveBtn"
                  style="background: #17A2B8; color: white; font-weight: 600; font-size: 0.9em;">Unsuspend<span class="d-none d-md-inline"> User</span></button>
              <% } %>
            </form>
          <% } %>
        </div>
        <div class="left right pb-3">
          <!-- approve/remove agent -->
          <% if(user.isAgent && currentUser && currentUser.isAdmin){ %>
            <form action="/agentStatus/<%= user._id %>?_method=PUT" method="POST" class="text-center" style="position:relative; top: 10px;">
              <% if(user.agentStatus==false){ %>
                <button type="submit" name="user[agentStatus]" value="true" class="btn approveBtn"
                  style="background: #41e792; color: white; font-weight: 600; font-size: 0.9em;">Approve<span class="d-none d-md-inline"> Agent</span></button>
              <% } else{ %>
                <button type="submit" name="user[agentStatus]" value="false" class="btn approveBtn"
                  style="background: #DC3545; color: white; font-weight: 600; font-size: 0.9em;">Remove<span class="d-none d-md-inline"> Agent</span></button>
              <% } %>
            </form>
          <% } %>
        </div>
        <div class="right pb-3">
          <!-- reject agent -->
          <% if(user.isAgent && currentUser && currentUser.isAdmin){ %>
            <form action="/rejectAgent/<%= user._id %>?_method=PUT" method="POST" class="text-center" style="position:relative; top: 10px;">
                <button type="submit" name="user[isAgent]" value="false" class="btn approveBtn"
                style="background: #DC3545; color: white; font-weight: 600; font-size: 0.9em;">Reject<span class="d-none d-md-inline"> Agent</span></button>
            </form>
          <% } %>
        </div>
      </div>
      <div>
        <!-- upload banner button -->
        <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
          <form action="/user/<%=user._id %>/banner?_method=PUT" method="POST" enctype="multipart/form-data" id="bannerForm">
            <span class="justify-content-end d-flex">
              <label for="file-upload" class="customBannerUpload px-3">
                <i class="fas fa-camera"></i>
              </label>
              <input type="file" id="file-upload" name="banner" onchange="this.form.submit()" id="bannerUpload"
                accept="image/*">
            </span>
          </form>
        <% } else { %>
          <div class="py-4 px-3"></div>
        <% } %>
      </div>
    </div>

    <!-- profile image -->
    <span class="justify-content-center d-flex">
      <img src="<%= user.image %>" alt="user profile image" class="profileImage">
    </span>
    <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
      <!-- upload profile image button -->
      <form action="/user/<%=user._id %>/image?_method=PUT" method="POST" enctype="multipart/form-data" id="imageForm" class="text-center">
        <label for="file-upload-image" class="customImageUpload px-3">
          <i class="fas fa-camera"></i>
        </label>
        <input type="file" id="file-upload-image" name="image" onchange="this.form.submit()" id="imageUpload" accept="image/*">
      </form>
    <% } %>
  </div>

  <!-- follow & chat & edit profile -->
  <div class="container d-lg-none mt-5 pt-1">
    <p id="profileUsername" class="text-center pt-2 pt-lg-1 my-0">
      <%= user.username %>
    </p>
    <% if (user.rating===0) { %>
      <span class="justify-content-center d-flex pb-2 my-0" style="font-size: 0.9em; color: gray;">
        <em>No reviews found.</em>
      </span>
      <% } else { %>
        <div class="justify-content-center d-flex">
          <div class="mb-3 text-center" style="width: 400px;">
            <a href="/user/<%= user._id %>/reviews" id="mainReview">
              <p class="m-0">
                <%= user.rating.toFixed(2) %>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star <% if (user.rating > 1.5) { %> checked <% } %>"></span>
                  <span class="fa fa-star <% if (user.rating > 2.5) { %> checked <% } %>"></span>
                  <span class="fa fa-star <% if (user.rating > 3.5) { %> checked <% } %>"></span>
                  <span class="fa fa-star <% if (user.rating > 4.5) { %> checked <% } %>"></span>
                  (<%= user.reviews.length %>)
              </p>
            </a>
          </div>
        </div>
        <% } %>
  </div>

  <div class="container mt-0 mt-lg-3 px-4">
    <div class="row mt-2 mt-lg-0">
      <div class="col-12 col-lg-6 justify-content-center justify-content-lg-start align-items-center d-flex">
        <div class="left">
          <span id="userRole">
            <i class="fas fa-user pr-1"></i>
            <% if(user.isAgent==true){ %>
              Agent
            <% } else if(user.isAdmin==true){ %>
              Admin
            <% } else { %>
              Seeker
            <% } %>
          </span>
        </div>
        <div class="left right">
          <span>
            <% if(user.agentStatus==true || user.isAdmin==true){ %>
              <span id="userStatus"><i class="fas fa-check pr-1"></i>Verified</span>
            <% } else { %>
              <% if(user.isAgent==true){ %>
                <span id="userStatus"><i class="fas fa-clock pr-1"></i>Pending</span>
              <% } else { %>
              <% } %>
            <% } %>
          </span>
        </div>
        <% if(user.isAgent==true){ %>
          <div class="right">
            <span id="userActive">
              <% if ( moment(user.lastLogin).format('DD MM YYYY hh:mm:ss') > moment().subtract(7,'days').format('DD MM YYYY hh:mm:ss'))  {%>
                <span class="pr-1"><i class="fas fa-bolt"></i> Active</span>
              <% } else { %>
                <span class="pr-1"><img src="/img/snooze.svg" style="width: 12%;"> Inactive</span>
              <% } %>
            </span>
            <br>
          </div>
        <% } %>
      </div>
      <div class="col-12 col-lg-6 d-none d-lg-block pt-3 pt-lg-0">
        <div class="justify-content-lg-end align-items-center d-flex">
          <% if(!currentUser){ %>
            <form action="/followSingle/<%= user.id %>" method="POST">
              <button class="btn btn-outline-dark followBtn">
                <img src="/img/follow.svg" style="width:21px;" alt=""> Follow
              </button>
            </form>
            <a class="ml-2 btn btn-outline-dark emailBtn" href="mailto:<%= user.email %>">
              <img src="/img/email.svg" style="width:19px;" alt=""> Email
            </a>
          <% } else { %>
            <% if(user._id.equals(currentUser._id)){ %>
              <a class="btn btn-outline-dark profileOverviewBtn align-items-center d-flex" href="/user/<%= user._id %>/edit">
                <ion-icon name="create-outline" style="font-size: 1.3em;" class="pr-1"></ion-icon>Edit Profile
              </a>
              <% if(currentUser && user._id.equals(currentUser._id) || currentUser && user.isAdmin){ %>
                <a href="/listings/new" class="ml-2 btn btn-outline-dark profileOverviewBtn align-items-center d-flex" style="text-decoration: none;">
                  <ion-icon name="add-circle-outline" style="font-size: 1.3em;" class="pr-1"></ion-icon>Add Listing
                </a>
              <% } %>
            <% } else { %>
              <% var currentFollow = false; for(let i=0; i<user.followers.length; i++) { if(user.followers[i]._id.equals(currentUser._id)) { currentFollow = true; } } %>
              <% if(currentFollow == false) { %>
                <div class="left">
                  <form action="/followSingle/<%= user.id %>" method="POST">
                    <button class="btn btn-outline-dark followBtn">
                      <img src="/img/follow.svg" style="width:21px;" alt=""> Follow
                    </button>
                  </form>
                </div>
              <% } else { %>
                <div class="left">
                  <form action="/followSingle/<%= user.id %>" method="POST">
                    <button class="btn btn-outline-dark followBtn">
                      <img src="/img/unfollow.svg" style="width:21px;" alt=""> Unfollow
                    </button>
                  </form>
                </div>
              <% } %>
              <div class="left right">
                <form action="/conversation/<%= currentUser._id %>/<%= user.id %>"
                  method="POST">
                  <button type="submit" class="btn btn-outline-dark chatBtn align-items-center d-flex">
                    <ion-icon name="chatbox-outline" style="font-size: 1.3em;" class="pr-1"></ion-icon>Chat
                  </button>
                </form>
              </div>
              <a class="mr-2 btn btn-outline-dark emailBtn" href="mailto:<%= user.email %>">
                <img src="/img/email.svg" style="width:19px;" alt=""> Email
              </a>
            <% } %>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <!-- user details -->
  <div class="container d-none d-lg-block">
    <p id="profileUsername" class="text-center pt-2 pt-lg-1 my-0">
      <%= user.username %>
    </p>
    <% if (user.rating===0) { %>
      <span class="justify-content-center d-flex pb-2 my-0" style="font-size: 0.9em; color: gray;">
        <em>No reviews found.</em>
      </span>
      <% } else { %>
        <div class="justify-content-center d-flex">
          <div class="mb-3 text-center" style="width: 400px;">
            <a href="/user/<%= user._id %>/reviews" id="mainReview">
              <p class="m-0">
                <%= user.rating.toFixed(2) %>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star <% if (user.rating > 1.5) { %> checked <% } %>"></span>
                  <span class="fa fa-star <% if (user.rating > 2.5) { %> checked <% } %>"></span>
                  <span class="fa fa-star <% if (user.rating > 3.5) { %> checked <% } %>"></span>
                  <span class="fa fa-star <% if (user.rating > 4.5) { %> checked <% } %>"></span>
                  (<%= user.reviews.length %>)
              </p>
            </a>
          </div>
        </div>
        <% } %>
  </div>

  <!-- overview -->
  <div class="container overview text-center mt-4 pb-3 d-none d-sm-block">
    <div class="row">
      <% if(currentUser && user._id.equals(currentUser._id) && currentUser.isAdmin || currentUser && user._id.equals(currentUser._id) && currentUser.isAgent){ %>
        <div class="col-6 col-sm-3 first my-2 justify-content-center d-flex align-items-center">
          <a href="/user/<%= user._id %>" class="p-0">
            <span>
              <%= listings.length %>
              <br class="d-lg-none">
                <% if(listings.length<2){ %>
                  Listing
                  <% } else { %>
                    Listings
                    <% } %>
            </span>
          </a>
        </div>
        <div class="col-6 col-sm-3 second my-2 justify-content-center d-flex align-items-center">
          <a href="/user/<%= user._id %>/reviews" class="p-0">
            <span>
              <%= user.reviews.length %>
              <br class="d-lg-none">
                <% if(user.reviews.length<2){ %>
                  Review
                  <% } else { %>
                    Reviews
                    <% } %>
            </span>
          </a>
        </div>
        <div class="col-6 col-sm-3 third my-2 justify-content-center d-flex align-items-center">
          <a href="" class="p-0" data-toggle="modal" data-target="#notificationTarget">
            <span>
              <%= allNotifications.length %>
              <br class="d-lg-none">
              <% if(allNotifications.length<2){ %>
                Notification
                <% } else { %>
                  Notifications
                  <% } %>
            </span>
          </a>
        </div>
        <div class="col-6 col-sm-3 forth my-2 justify-content-center d-flex align-items-center">
          <a href="" class="p-0" data-toggle="modal" data-target="#followerTarget">
            <span>
              <%= allFollowers.length %>
              <br class="d-lg-none">
              <% if(allFollowers.length<2){ %>
                Follower
                <% } else { %>
                  Followers
                  <% } %>
            </span>
          </a>
        </div>
      <% } else if (currentUser && user._id.equals(currentUser._id) && !currentUser.isAdmin && !currentUser.isAgent){ %>
        <div class="col-6 my-2 justify-content-center d-flex align-items-center">
          <a href="" class="p-0" data-toggle="modal" data-target="#notificationTarget">
            <span>
              <%= allNotifications.length %>
              <br class="d-lg-none">
              <% if(allNotifications.length<2){ %>
                Notification
                <% } else { %>
                  Notifications
                  <% } %>
            </span>
          </a>
        </div>
        <div class="col-6 forth my-2 justify-content-center d-flex align-items-center">
          <a href="" class="p-0" data-toggle="modal" data-target="#followerTarget">
            <span>
              <%= allFollowers.length %>
              <br class="d-lg-none">
              <% if(allFollowers.length<2){ %>
                Follower
                <% } else { %>
                  Followers
                  <% } %>
            </span>
          </a>
        </div>
      <% } else { %>
        <div class="col-4 first my-2 justify-content-center d-flex align-items-center">
          <a href="/user/<%= user._id %>">
            <span>
              <%= listings.length %>
              <br class="d-lg-none">
              <% if(listings.length<2){ %>
                Listing
              <% } else { %>
                Listings
              <% } %>
            </span>
          </a>
        </div>
        <div class="col-4 second my-2 justify-content-center d-flex align-items-center">
          <a href="/user/<%= user._id %>/reviews">
            <span>
              <%= user.reviews.length %>
              <br class="d-lg-none">
              <% if(user.reviews.length<2){ %>
                Review
              <% } else { %>
                Reviews
              <% } %>
            </span>
          </a>
        </div>
        <div class="col-4 forth my-2 justify-content-center d-flex align-items-center">
          <a href="" data-toggle="modal" data-target="#followerTarget">
            <span>
              <%= allFollowers.length %>
              <br class="d-lg-none">
              <% if(allFollowers.length<2){ %>
                Follower
                <% } else { %>
                  Followers
                  <% } %>
            </span>
          </a>
        </div>
      <% } %>
    </div>
  </div>

  <div class="align-items-center justify-content-center d-flex d-sm-none mt-3">
    <% if(!currentUser){ %>
      <form action="/followSingle/<%= user.id %>" method="POST">
        <button class="btn btn-outline-dark followBtn">
          <img src="/img/follow.svg" style="width:21px;" alt=""> Follow
        </button>
      </form>
      <a class="ml-2 btn btn-outline-dark emailBtn" href="mailto:<%= user.email %>">
        <img src="/img/email.svg" style="width:19px;" alt=""> Email
      </a>
    <% } else { %>
      <% if(user._id.equals(currentUser._id)){ %>
        <a class="btn btn-outline-dark profileOverviewBtn align-items-center d-flex" href="/user/<%= user._id %>/edit">
          <ion-icon name="create-outline" style="font-size: 1.3em;" class="pr-1"></ion-icon>Edit Profile
        </a>
        <% if(currentUser && user._id.equals(currentUser._id) || currentUser && user.isAdmin){ %>
          <a href="/listings/new" class="ml-2 btn btn-outline-dark profileOverviewBtn align-items-center d-flex" style="text-decoration: none;">
            <ion-icon name="add-circle-outline" style="font-size: 1.3em;" class="pr-1"></ion-icon>Add Listing
          </a>
        <% } %>
      <% } else { %>
        <% var currentFollow = false; for(let i=0; i<user.followers.length; i++) { if(user.followers[i]._id.equals(currentUser._id)) { currentFollow = true; } } %>
        <% if(currentFollow == false) { %>
          <div class="left">
            <form action="/followSingle/<%= user.id %>" method="POST">
              <button class="btn btn-outline-dark followBtn">
                <img src="/img/follow.svg" style="width:21px;" alt=""> Follow
              </button>
            </form>
          </div>
        <% } else { %>
          <div class="left">
            <form action="/followSingle/<%= user.id %>" method="POST">
              <button class="btn btn-outline-dark followBtn">
                <img src="/img/unfollow.svg" style="width:21px;" alt=""> Unfollow
              </button>
            </form>
          </div>
        <% } %>
        <div class="left right">
          <form action="/conversation/<%= currentUser._id %>/<%= user.id %>"
            method="POST">
            <button type="submit" class="btn btn-outline-dark chatBtn align-items-center d-flex">
              <ion-icon name="chatbox-outline" style="font-size: 1.3em;" class="pr-1"></ion-icon>Chat
            </button>
          </form>
        </div>
        <a class="mr-2 btn btn-outline-dark emailBtn" href="mailto:<%= user.email %>">
          <img src="/img/email.svg" style="width:19px;" alt=""> Email
        </a>
      <% } %>
    <% } %>
  </div>
  <p class="justify-content-center d-flex d-sm-none mt-2">
    <a class="btn" style="font-size: 0.95em; font-weight: 600; background: white; color: #003580;" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Overview ▾
    </a>
  </p>
  <div class="collapse d-sm-none" id="collapseExample">
    <div class="card card-body">
      <div class="container overview text-center">
        <div class="row">
          <% if (currentUser && user._id.equals(currentUser._id) && !currentUser.isAdmin && !currentUser.isAgent){ %>
            <div class="col-6 p-3 justify-content-center d-flex align-items-center" style="background: rgb(238, 238, 238); border-right: white 5px solid;">
              <a href="" class="p-0" data-toggle="modal" data-target="#notificationTarget">
                <span>
                  <%= allNotifications.length %>
                  <br class="d-lg-none">
                  <% if(allNotifications.length<2){ %>
                    Notification
                    <% } else { %>
                      Notifications
                      <% } %>
                </span>
              </a>
            </div>
            <div class="col-6 p-3 justify-content-center d-flex align-items-center" style="background: rgb(238, 238, 238);">
              <a href="" class="p-0" data-toggle="modal" data-target="#followerTarget">
                <span>
                  <%= allFollowers.length %>
                  <br class="d-lg-none">
                  <% if(allFollowers.length<2){ %>
                    Follower
                    <% } else { %>
                      Followers
                      <% } %>
                </span>
              </a>
            </div>
          <% } else if(currentUser && user._id.equals(currentUser._id)){ %>
            <div class="col-6 col-sm-3 p-3 justify-content-center d-flex align-items-center" style="background: rgb(238, 238, 238); border-bottom: white 5px solid; border-right: white 5px solid;">
              <a href="/user/<%= user._id %>" class="p-0">
                <span class="p-0">
                  <%= listings.length %>
                  <br class="d-lg-none">
                    <% if(listings.length<2){ %>
                      Listing
                      <% } else { %>
                        Listings
                        <% } %>
                </span>
              </a>
            </div>
            <div class="col-6 col-sm-3 p-3 justify-content-center d-flex align-items-center" style="background: rgb(238, 238, 238); border-bottom: white 5px solid;">
              <a href="/user/<%= user._id %>/reviews" class="p-0">
                <span class="p-0">
                  <%= user.reviews.length %>
                  <br class="d-lg-none">
                    <% if(user.reviews.length<2){ %>
                      Review
                      <% } else { %>
                        Reviews
                        <% } %>
                </span>
              </a>
            </div>
            <div class="col-6 col-sm-3 p-3 justify-content-center d-flex align-items-center" style="background: rgb(238, 238, 238); border-right: white 5px solid;">
              <a href="" class="p-0" data-toggle="modal" data-target="#notificationTarget">
                <span class="p-0">
                  <%= allNotifications.length %>
                  <br class="d-lg-none">
                  <% if(allNotifications.length<2){ %>
                    Notification
                    <% } else { %>
                      Notifications
                      <% } %>
                </span>
              </a>
            </div>
            <div class="col-6 col-sm-3 p-3 justify-content-center d-flex align-items-center" style="background: rgb(238, 238, 238);">
              <a href="" class="p-0" data-toggle="modal" data-target="#followerTarget">
                <span class="p-0">
                  <%= allFollowers.length %>
                  <br class="d-lg-none">
                  <% if(allFollowers.length<2){ %>
                    Follower
                    <% } else { %>
                      Followers
                      <% } %>
                </span>
              </a>
            </div>
          <% } else { %>
            <div class="col-4 my-2 justify-content-center d-flex align-items-center" style="background: rgb(238, 238, 238); border-right: white 5px solid;">
              <a href="/user/<%= user._id %>">
                <span class="p-0">
                  <%= listings.length %>
                  <br class="d-lg-none">
                  <% if(listings.length<2){ %>
                    Listing
                  <% } else { %>
                    Listings
                  <% } %>
                </span>
              </a>
            </div>
            <div class="col-4 my-2 justify-content-center d-flex align-items-center" style="background: rgb(238, 238, 238); border-right: white 5px solid;">
              <a href="/user/<%= user._id %>/reviews">
                <span class="p-0">
                  <%= user.reviews.length %>
                  <br class="d-lg-none">
                  <% if(user.reviews.length<2){ %>
                    Review
                  <% } else { %>
                    Reviews
                  <% } %>
                </span>
              </a>
            </div>
            <div class="col-4 my-2 justify-content-center d-flex align-items-center" style="background: rgb(238, 238, 238);">
              <a href="" data-toggle="modal" data-target="#followerTarget">
                <span class="p-0">
                  <%= allFollowers.length %>
                  <br class="d-lg-none">
                  <% if(allFollowers.length<2){ %>
                    Follower
                    <% } else { %>
                      Followers
                      <% } %>
                </span>
              </a>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div style="background: #f3f3f3;" class="pb-5">
    <div class="container">
      <div class="row">
        <!-- profile details & followers & notifictions -->
        <div class="col-12 col-lg-4">
          <div class="row item shark-1 px-3 px-lg-0">
            <!-- profile details -->
            <div class="col-12 borderStyle mt-3">
              <div class="align-items-center d-flex pl-4 pr-2 py-2 mb-4 justify-content-between headerStyle">
                <div class="left">
                  <p class="profileHeader my-0">Profile Details</p>
                </div>
                <div class="right">
                  <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <a class="btn btn-outline-dark profileBtn" href="/user/<%= user._id %>/edit">
                      <span>Edit</span>
                    </a>
                    <% } %>
                </div>
              </div>
              <div class="row px-4" id="profileDetails">
                <div class="col-3">
                  <span>Joined:</span>
                </div>
                <div class="col-9">
                  <p>
                    <%= moment(user.createdAt).format('DD MMMM YYYY, h:mm:ss a'); %>
                  </p>
                </div>
                <!-- <div class="col-3">
                  <span>Last Login:</span>
                </div>
                <div class="col-9">
                  <p>
                    <%= moment(user.lastLogin).format('DD MMMM YYYY, h:mm:ss a'); %>
                  </p>
                </div> -->
                <div class="col-3">
                  <span>Name:</span>
                </div>
                <div class="col-9">
                  <p>
                    <%= user.firstName + " " + user.lastName %>
                  </p>
                </div>
                <div class="col-3">
                  <span>Email:</span>
                </div>
                <div class="col-9">
                  <p>
                    <a href="mailto:<%= user.email %>" style="color: black;">
                      <%= user.email %>
                    </a>
                  </p>
                </div>
                <% if(currentUser && user.isAgent==true){ %>
                  <div class="col-3">
                    <span>CEA:</span>
                  </div>
                  <div class="col-9">
                    <p>
                      <%= user.cea %>
                    </p>
                  </div>
                  <% } %>
                    <div class="col-3">
                      <span>Gender:</span>
                    </div>
                    <div class="col-9">
                      <p>
                        <%= user.gender %>
                      </p>
                    </div>
                    <div class="col-3">
                      <span>Phone:</span>
                    </div>
                    <div class="col-9">
                      <p>
                        <%= user.phone %>
                      </p>
                    </div>
                    <% if(currentUser && user._id.equals(currentUser._id)|| currentUser && currentUser.isAdmin){ %>
                      <div class="col-3">
                        <span>Address:</span>
                      </div>
                      <div class="col-9">
                        <p class="mb-0">
                          <%= user.streetName %><br>
                            <%= user.unitNumber %><br>
                              <%= user.country %><br>
                                <%= user.state %><br>
                                  <%= user.postalCode %>
                        </p>
                      </div>
                      <% } %>
              </div>
            </div>
          </div>
        </div>

        <!-- listings & reviews -->
        <div class="col-12 col-lg-8">
          <% if(user.reviews.length==0){ %>
          <% } else{ %>
            <div class="col-12 borderStyle mt-3">
              <div class="reviewGradient" style="height: 125px;">
                <div id="content" class="align-items-center d-flex justify-content-center" style="color: white; font-weight: 600; padding: 20px 40px 20px 40px;">
                  <span style="font-size: 1.8em;"><%= user.rating.toFixed(2) %></span>
                  <span class="pl-1" style="font-size: 0.9em;"> out of 5.00</span>
                </div>
              </div>
            </div>
          <% } %>
          <!-- listings -->
          <div class="col-12 borderStyle mt-3 pb-4">
            <div class="row">
              <div class="col-6 mb-4 pb-2 mb-sm-3">
                <a href="/user/<%= user._id %>" style="color: black; text-decoration: none;">
                  <span id="listingHover" class="profileHeader my-0">Listings</span>
                </a>
                <a href="/user/<%= user._id %>/reviews" style="color: black; text-decoration: none;">
                  <span class="profileHeader my-0 ml-3 pb-3"
                    style="border-bottom: 2px #4632da solid; color: #4632da; font-weight: 600;"
                    id="reviewHover">Reviews</span>
                </a>
              </div>
              <div class="col-6 justify-content-end d-flex mb-4 pb-2 mb-sm-3">
                <% if(currentUser && currentUser.isAgent){ %>
                  <% } else { %>
                    <a class="btn btn-outline-dark reviewBtn <% if (currentUser && user.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>"
                      href="/user/<%= user._id %>/reviews/new">
                      Write a Review
                    </a>
                  <% } %>
              </div>
            </div>

            <% if(user.isAgent==true || user.isAdmin==true){ %>
              <% if(user.reviews==0){ %>
                <p class="px-2">
                  <em>No reviews found.</em>
                </p>
              <% } else { %>
                <div class="row px-2">
                  <% user.reviews.forEach(function(review){ %>
                      <div class="col-12">
                        <div class="row">
                          <div class="col-3 col-md-2 text-center">
                            <a href="/user/<%=user._id %>">
                              <img src="<%= review.author.image %>"
                                style="width: 60px; height: 60px; border-radius: 50%; border: 1px solid gray; object-fit: cover;">
                            </a>
                          </div>
                          <div class="col-9 col-md-10" style="margin-top: 12px;">
                            <div class="row">
                              <div class="col-8 px-0">
                                <p class="mb-0">
                                  <a href="/user/<%=user._id %>" style="color: black;">
                                    <%= review.author.username %>
                                  </a>
                                </p>
                                <p class="mb-0 pt-1">
                                  <%- '<span class="fa fa-star checked"></span>' .repeat(review.rating) %>
                                  <%- '<span class="fa fa-star"></span>' .repeat(5 - review.rating) %>
                                  <em>
                                    <span style="font-size: 0.9em;">
                                      <%= "(" + moment(review.createdAt).fromNow() + ")" %>
                                    </span>
                                  </em>
                                </p>
                              </div>
                              <div class="col-4 justify-content-end d-flex">
                                <%if(currentUser&&review.author.id.equals(currentUser._id)||currentUser&&currentUser.isAdmin){%>
                                  <div class="left">
                                    <a href="/user/<%=user._id %>/reviews/<%=review._id %>/edit">
                                      <ion-icon name="create-outline" class="editBtn py-1" style="font-size: 1.2em;"></ion-icon>
                                    </a>
                                  </div>
                                  <div class="right">
                                    <form id="delete-form"
                                      action="/user/<%=user._id %>/reviews/<%=review._id %>?_method=DELETE"
                                      method="POST">
                                      <button class="btn showListingManageBtn p-0">
                                        <ion-icon name="trash-outline" class="trashBtn py-1"></ion-icon>
                                      </button>
                                    </form>
                                  </div>
                                <% } %>
                              </div>
                            </div>
                          </div>
                          <div class="offset-3 col-9 offset-md-2 col-md-10 mt-2 px-0">
                            <p style="text-align: justify; white-space: pre-wrap;" class="mb-0"><%=review.text%></p>
                          </div>
                        </div>
                      </div>
                  <% }); %>
                </div>
              <% } %>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Notifications Modal -->
  <div class="modal fade" id="notificationTarget" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="justify-content-between align-items-center d-flex border-bottom">
          <div class="py-4"></div>
          <div>
            <p class="modal-title pl-5" id="exampleModalLongTitle">Notifications</p>
          </div>
          <div>
            <button type="button" class="close mr-3" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="modal-body">
          <% if(allNotifications==0 ){ %>
            <p>
              <em>No notifications found.</em>
            </p>
            <% } else { %>
              <% allNotifications.reverse().forEach(function(notification) { %>
                <div class="row mb-3 align-items-center d-flex">
                  <div class="col-2">
                    <a href="/user/<%= notification.idUser %>">
                      <img src="<%= notification.image %>" alt="listing image"
                        style="width:60px; height:60px; border: 1px solid gray; border-radius: 50%; object-fit: cover;">
                    </a>
                  </div>
                  <div class="col-7 pr-0">
                    <a href="/notifications/<%= notification.id %>" style="color:black;">
                      <%= notification.username %> added a new listing
                    </a><br>
                    <span style="font-size: 0.9em;">
                      <em>
                        <%= moment(notification.createdAt).fromNow() %>
                      </em>
                    </span>
                  </div>
                  <div class="col-3 justify-content-end d-flex">
                    <a href="/notifications/<%= notification.id %>">
                      <img src="<%= notification.listingImage %>"
                        style="width:60px; height:60px; border: 1px solid gray; object-fit: cover;">
                    </a>
                  </div>
                </div>
                <% }); %>
                  <% } %>
        </div>
      </div>
    </div>
  </div>

  <!-- Followers Modal -->
  <div class="modal fade" id="followerTarget" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="justify-content-between align-items-center d-flex border-bottom">
          <div class="py-4"></div>
          <div>
            <p class="modal-title pl-5" id="exampleModalLongTitle">Followers</p>
          </div>
          <div>
            <button type="button" class="close mr-3" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="modal-body">
          <% if(user.followers=="" ){ %>
            <p>
              <em>No followers found.</em>
            </p>
          <% } else { %>
            <% allFollowers.reverse().forEach(function(followers, index) { %>
              <div>
                <div class="row align-items-center d-flex mb-3">
                  <div class="col-2">
                    <a href="/user/<%= followers._id %>">
                      <img src="<%= followers.image %>"
                        style="width:60px; height:60px; border: 1px solid gray; border-radius: 50%; object-fit: cover;">
                    </a>
                  </div>
                  <div class="col-7">
                    <a href="/user/<%= followers._id %>" style="color: black">
                      <%= followers.username %>
                    </a>
                  </div>
                </div>
              </div>
            <% }); %>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <%- include("../partials/footer") %>