<%- include("../../partials/header") %>

<div style="overflow-x: hidden;">
  <div class="row">
    <div class="col-3">
      <div class="navigation sticky-top">
        <ul>
          <li class="list navigationHover">
            <a href="/dashboard">
              <span class="icon activeText">
                <ion-icon name="layers-outline"></ion-icon>
              </span>
              <span class="title activeText">Overview</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/accounts">
              <span class="icon">
                <ion-icon name="people-outline"></ion-icon>
              </span>
              <span class="title">Accounts</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/listings">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Listings</span>
            </a>
          </li>
          <li class="list active">
            <a href="/dashboard/comments">
              <span class="icon">
                <ion-icon name="chatbubbles-outline"></ion-icon>
              </span>
              <span class="title">Comments</span>
            </a>
          </li>
          <li class="list navigationHover">
            <a href="/dashboard/reviews">
              <span class="icon">
                <ion-icon name="star-outline"></ion-icon>
              </span>
              <span class="title">Reviews</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-9">
      <div class="row mr-5">
        <div class="col-12 mb-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-1">
              <li class="breadcrumb-item"><a href="/listings">Home</a></li>
              <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item"><a href="/dashboard/comments">Comments</a></li>
              <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
          </nav>
        </div>
        <div class="col-12">
          <div class="">
            <ion-icon name="return-up-back-outline"></ion-icon>
            <a href="/dashboard/comments" style="text-decoration: none; color: black; font-size: 0.88em;">Return Back</a>
          </div>
          <div class="d-flex justify-content-center">
            <form action="/listings/<%= listing_id %>/comments/<%= comment._id %>/dashboard?_method=PUT" method="POST">
            <div class="form-groups">
              <p>Edit Comment</p>
              <textarea class="form-control my-2" name="comment[text]" placeholder="text" style="width: 600px; height: 200px;"><%= comment.text %></textarea>
              <button class="btn btn-dark form-control">Save Changes</button>
            </div>
          </form>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("../../partials/footer") %>